body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fbfcfc; }
  body header,
  html header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    body header .top-section,
    html header .top-section {
      position: relative;
      background-color: #1e4e62;
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: flex-end; }
      body header .top-section .title,
      html header .top-section .title {
        margin: auto;
        margin-top: 15vh;
        text-align: center;
        font-family: Rajdhani;
        color: white;
        z-index: 7;
        font-size: 40px;
        padding: 0 40px; }
        body header .top-section .title span,
        html header .top-section .title span {
          font-weight: 300; }
      body header .top-section #stars,
      html header .top-section #stars {
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: 920px 7463px #FFF , 1064px 787px #FFF , 789px 981px #FFF , 471px 443px #FFF , 1120px 1864px #FFF , 733px 3px #FFF , 301px 921px #FFF , 221px 188px #FFF , 1537px 1208px #FFF , 772px 727px #FFF , 803px 1870px #FFF , 348px 1714px #FFF , 688px 1394px #FFF , 674px 900px #FFF , 1946px 1832px #FFF , 915px 1520px #FFF , 786px 936px #FFF , 1039px 333px #FFF , 243px 1454px #FFF , 1732px 685px #FFF , 1963px 1407px #FFF , 1279px 1496px #FFF , 781px 1853px #FFF , 1933px 284px #FFF , 393px 1942px #FFF , 1119px 1691px #FFF , 789px 74px #FFF , 1088px 530px #FFF , 1662px 475px #FFF , 215px 1964px #FFF , 1682px 1293px #FFF , 1232px 1073px #FFF , 1455px 1621px #FFF , 1641px 1699px #FFF , 917px 330px #FFF , 1398px 1138px #FFF , 1787px 661px #FFF , 1578px 942px #FFF , 1628px 727px #FFF , 943px 1591px #FFF , 1779px 1709px #FFF , 102px 851px #FFF , 1246px 1774px #FFF , 1503px 585px #FFF , 1340px 562px #FFF , 148px 1908px #FFF , 570px 549px #FFF , 1556px 932px #FFF , 1556px 308px #FFF , 617px 1742px #FFF , 710px 151px #FFF , 484px 1996px #FFF , 1232px 1613px #FFF , 990px 681px #FFF , 1682px 1026px #FFF , 96px 847px #FFF , 435px 435px #FFF , 1432px 773px #FFF , 1082px 894px #FFF , 869px 1357px #FFF , 138px 1388px #FFF , 879px 1710px #FFF , 1991px 1161px #FFF , 350px 1444px #FFF , 1462px 1081px #FFF , 789px 995px #FFF , 870px 1179px #FFF , 1265px 312px #FFF , 1213px 1600px #FFF , 1001px 1198px #FFF , 38px 656px #FFF , 1374px 698px #FFF , 714px 1523px #FFF , 104px 33px #FFF , 1546px 633px #FFF , 287px 1923px #FFF , 859px 155px #FFF , 1809px 1812px #FFF , 87px 1055px #FFF , 1177px 867px #FFF , 1513px 1399px #FFF , 748px 666px #FFF , 626px 1648px #FFF , 775px 1122px #FFF , 1355px 227px #FFF , 1361px 1916px #FFF , 132px 594px #FFF , 1190px 237px #FFF , 1178px 1017px #FFF , 1847px 1649px #FFF , 1528px 1207px #FFF , 1661px 549px #FFF , 991px 674px #FFF , 1651px 1665px #FFF , 767px 325px #FFF , 540px 96px #FFF , 1396px 1520px #FFF , 838px 1474px #FFF , 829px 313px #FFF , 1919px 1454px #FFF , 1372px 1413px #FFF , 1817px 544px #FFF , 1913px 1236px #FFF , 534px 297px #FFF , 828px 464px #FFF , 1510px 1606px #FFF , 773px 732px #FFF , 1166px 1813px #FFF , 159px 1587px #FFF , 1375px 2px #FFF , 1471px 8px #FFF , 1878px 749px #FFF , 296px 1633px #FFF , 865px 812px #FFF , 1328px 606px #FFF , 970px 1335px #FFF , 1429px 457px #FFF , 69px 319px #FFF , 949px 796px #FFF , 1608px 1547px #FFF , 180px 230px #FFF , 1748px 1403px #FFF , 1600px 1278px #FFF , 1531px 1271px #FFF , 899px 1232px #FFF , 310px 93px #FFF , 294px 646px #FFF , 85px 540px #FFF , 979px 132px #FFF , 475px 1170px #FFF , 1824px 1076px #FFF , 1701px 1190px #FFF , 1572px 414px #FFF , 577px 1944px #FFF , 972px 1936px #FFF , 563px 1421px #FFF , 1658px 1741px #FFF , 1140px 1630px #FFF , 1308px 1262px #FFF , 1867px 765px #FFF , 118px 1548px #FFF , 366px 515px #FFF , 483px 1855px #FFF , 1661px 717px #FFF , 1151px 174px #FFF , 1194px 155px #FFF , 1385px 1680px #FFF , 1894px 338px #FFF , 690px 1635px #FFF , 133px 1082px #FFF , 1022px 1141px #FFF , 565px 1534px #FFF , 844px 666px #FFF , 393px 1184px #FFF , 1062px 11px #FFF , 1676px 1863px #FFF , 312px 260px #FFF , 24px 1988px #FFF , 1401px 1848px #FFF , 1340px 1909px #FFF , 4px 504px #FFF , 1662px 764px #FFF , 322px 1519px #FFF , 1618px 1103px #FFF , 1344px 316px #FFF , 106px 193px #FFF , 1684px 1351px #FFF , 1984px 1628px #FFF , 438px 480px #FFF , 719px 262px #FFF , 1797px 1349px #FFF , 184px 1145px #FFF , 1589px 1939px #FFF , 155px 697px #FFF , 1514px 860px #FFF , 1301px 209px #FFF , 49px 545px #FFF , 1847px 312px #FFF , 1704px 1711px #FFF , 486px 673px #FFF , 746px 1373px #FFF , 478px 1555px #FFF , 59px 1186px #FFF , 888px 717px #FFF , 264px 225px #FFF , 480px 1443px #FFF , 560px 1774px #FFF , 603px 937px #FFF , 20px 1847px #FFF , 1680px 1850px #FFF , 1895px 630px #FFF , 674px 552px #FFF , 828px 1559px #FFF , 1680px 1692px #FFF , 1224px 1335px #FFF , 899px 264px #FFF , 1516px 1083px #FFF , 1931px 418px #FFF , 1584px 644px #FFF , 155px 1670px #FFF , 946px 1068px #FFF , 1702px 1224px #FFF , 1443px 1457px #FFF , 605px 733px #FFF , 247px 1277px #FFF , 863px 1643px #FFF , 1965px 1897px #FFF , 219px 1365px #FFF , 170px 322px #FFF , 680px 716px #FFF , 342px 968px #FFF , 1634px 1629px #FFF , 1476px 1257px #FFF , 218px 295px #FFF , 1723px 84px #FFF , 319px 263px #FFF , 661px 1508px #FFF , 1154px 1421px #FFF , 1672px 1541px #FFF , 1575px 72px #FFF , 1928px 1425px #FFF , 1399px 879px #FFF , 136px 575px #FFF , 1342px 34px #FFF , 726px 1234px #FFF , 1331px 1531px #FFF , 554px 1289px #FFF , 1381px 394px #FFF , 1726px 1332px #FFF , 1321px 744px #FFF , 264px 749px #FFF , 228px 917px #FFF , 1326px 1546px #FFF , 1834px 1772px #FFF , 1724px 1410px #FFF , 49px 150px #FFF , 836px 1052px #FFF , 1988px 1863px #FFF , 71px 1489px #FFF , 285px 1799px #FFF , 1368px 1665px #FFF , 117px 1018px #FFF , 62px 1445px #FFF , 1478px 1639px #FFF , 1422px 1615px #FFF , 1888px 1759px #FFF , 248px 1877px #FFF , 999px 1799px #FFF , 1425px 1738px #FFF , 344px 865px #FFF , 1699px 1782px #FFF , 1197px 930px #FFF , 789px 950px #FFF , 20px 1387px #FFF , 688px 753px #FFF , 1029px 1785px #FFF , 620px 354px #FFF , 299px 1134px #FFF , 1852px 1423px #FFF , 1318px 1293px #FFF , 1189px 698px #FFF , 759px 329px #FFF , 1561px 1734px #FFF , 695px 567px #FFF , 523px 951px #FFF , 534px 157px #FFF , 476px 1942px #FFF , 1663px 621px #FFF , 1821px 649px #FFF , 1103px 177px #FFF , 1642px 1338px #FFF , 1447px 992px #FFF , 1398px 814px #FFF , 477px 1313px #FFF , 1496px 1241px #FFF , 1366px 1444px #FFF , 1591px 800px #FFF , 1776px 1930px #FFF , 204px 679px #FFF , 1222px 290px #FFF , 1877px 21px #FFF , 1299px 1733px #FFF , 674px 1765px #FFF , 319px 105px #FFF , 1283px 1872px #FFF , 494px 1752px #FFF , 1403px 628px #FFF , 1956px 1223px #FFF , 240px 235px #FFF , 831px 157px #FFF , 652px 80px #FFF , 1203px 356px #FFF , 1517px 1369px #FFF , 995px 1668px #FFF , 541px 1570px #FFF , 1901px 1719px #FFF , 1127px 315px #FFF , 1899px 188px #FFF , 1099px 660px #FFF , 893px 1503px #FFF , 1527px 1259px #FFF , 509px 575px #FFF , 1562px 1335px #FFF , 38px 1905px #FFF , 451px 1756px #FFF , 135px 1110px #FFF , 5px 568px #FFF , 344px 1290px #FFF , 210px 1423px #FFF , 1042px 1518px #FFF , 751px 590px #FFF , 1908px 1546px #FFF , 1647px 269px #FFF , 576px 1543px #FFF , 173px 955px #FFF , 8px 1622px #FFF , 454px 437px #FFF , 435px 1510px #FFF , 1814px 1724px #FFF , 659px 97px #FFF , 924px 320px #FFF , 1564px 275px #FFF , 1234px 1632px #FFF , 1800px 567px #FFF , 1066px 269px #FFF , 576px 61px #FFF , 864px 1645px #FFF , 1609px 492px #FFF , 804px 1174px #FFF , 1878px 610px #FFF , 760px 1997px #FFF , 1848px 1590px #FFF , 353px 99px #FFF , 88px 142px #FFF , 494px 1096px #FFF , 1499px 124px #FFF , 214px 615px #FFF , 98px 1896px #FFF , 637px 1090px #FFF , 730px 1197px #FFF , 261px 1030px #FFF , 483px 683px #FFF , 1366px 1540px #FFF , 660px 1209px #FFF , 473px 1562px #FFF , 1778px 1271px #FFF , 1377px 1776px #FFF , 1162px 760px #FFF , 1241px 1699px #FFF , 300px 885px #FFF , 1000px 1368px #FFF , 1510px 747px #FFF , 295px 1474px #FFF , 1046px 1308px #FFF , 1729px 1269px #FFF , 994px 252px #FFF , 35px 1855px #FFF , 1179px 117px #FFF , 1968px 1032px #FFF , 395px 1311px #FFF , 870px 1590px #FFF , 1451px 828px #FFF , 35px 1981px #FFF , 238px 560px #FFF , 1639px 1244px #FFF , 1596px 1015px #FFF , 678px 1565px #FFF , 1364px 1069px #FFF , 1217px 241px #FFF , 83px 1097px #FFF , 1523px 1671px #FFF , 1893px 1666px #FFF , 509px 1209px #FFF , 1913px 1410px #FFF , 774px 750px #FFF , 783px 195px #FFF , 1370px 40px #FFF , 1704px 1066px #FFF , 818px 1921px #FFF , 995px 820px #FFF , 778px 1268px #FFF , 934px 1007px #FFF , 1187px 982px #FFF , 1416px 1788px #FFF , 1493px 1494px #FFF , 398px 1790px #FFF , 723px 215px #FFF , 1423px 460px #FFF , 330px 66px #FFF , 1094px 1919px #FFF , 1642px 821px #FFF , 1733px 1607px #FFF , 1506px 721px #FFF , 43px 1517px #FFF , 551px 1374px #FFF , 1539px 192px #FFF , 821px 743px #FFF , 884px 440px #FFF , 1246px 472px #FFF , 668px 1031px #FFF , 359px 496px #FFF , 981px 1963px #FFF , 138px 369px #FFF , 1628px 1514px #FFF , 717px 1205px #FFF , 1968px 1571px #FFF , 1338px 1072px #FFF , 1635px 312px #FFF , 1697px 1181px #FFF , 1797px 44px #FFF , 1829px 138px #FFF , 1980px 270px #FFF , 815px 1900px #FFF , 362px 1674px #FFF , 1038px 1533px #FFF , 1366px 655px #FFF , 715px 1011px #FFF , 482px 977px #FFF , 1176px 1688px #FFF , 1146px 222px #FFF , 1702px 88px #FFF , 830px 1023px #FFF , 1492px 1835px #FFF , 1409px 331px #FFF , 1996px 1388px #FFF , 572px 1613px #FFF , 849px 665px #FFF , 1367px 85px #FFF , 1658px 882px #FFF , 1918px 1267px #FFF , 1456px 1606px #FFF , 1582px 619px #FFF , 1393px 1370px #FFF , 1701px 593px #FFF , 137px 427px #FFF , 2px 185px #FFF , 245px 109px #FFF , 1320px 235px #FFF , 1791px 1312px #FFF , 1072px 104px #FFF , 775px 725px #FFF , 1085px 938px #FFF , 705px 1726px #FFF , 665px 24px #FFF , 1215px 432px #FFF , 307px 1846px #FFF , 247px 723px #FFF , 775px 979px #FFF , 220px 1333px #FFF , 1274px 448px #FFF , 222px 623px #FFF , 223px 1847px #FFF , 469px 82px #FFF , 466px 140px #FFF , 1156px 871px #FFF , 656px 1502px #FFF , 1367px 1178px #FFF , 354px 1562px #FFF , 1909px 171px #FFF , 477px 990px #FFF , 1021px 956px #FFF , 1250px 400px #FFF , 1441px 1321px #FFF , 1824px 1778px #FFF , 1838px 1301px #FFF , 1315px 1642px #FFF , 1927px 1057px #FFF , 813px 1357px #FFF , 1871px 1053px #FFF , 277px 434px #FFF , 460px 114px #FFF , 530px 631px #FFF , 1754px 278px #FFF , 1934px 1889px #FFF , 196px 1752px #FFF , 582px 1319px #FFF , 373px 495px #FFF , 182px 683px #FFF , 1658px 851px #FFF , 222px 481px #FFF , 1611px 1419px #FFF , 1763px 559px #FFF , 1466px 1450px #FFF , 788px 1760px #FFF , 1266px 1742px #FFF , 258px 1558px #FFF , 128px 1595px #FFF , 1476px 914px #FFF , 339px 878px #FFF , 275px 1807px #FFF , 1638px 1144px #FFF , 1554px 693px #FFF , 1145px 1647px #FFF , 203px 1823px #FFF , 1332px 665px #FFF , 1657px 327px #FFF , 383px 20px #FFF , 158px 1420px #FFF , 1082px 1430px #FFF , 336px 806px #FFF , 812px 1528px #FFF , 87px 1359px #FFF , 1484px 929px #FFF , 450px 1858px #FFF , 1366px 1490px #FFF , 1927px 438px #FFF , 314px 1919px #FFF , 1381px 1540px #FFF , 1077px 803px #FFF , 647px 1378px #FFF , 790px 939px #FFF , 1228px 1042px #FFF , 201px 1396px #FFF , 1634px 81px #FFF , 1851px 1380px #FFF , 1899px 952px #FFF , 1978px 1246px #FFF , 582px 267px #FFF , 496px 1663px #FFF , 332px 463px #FFF , 1745px 1063px #FFF , 1683px 1190px #FFF , 802px 974px #FFF , 117px 207px #FFF , 469px 1964px #FFF , 108px 538px #FFF , 1129px 896px #FFF , 1549px 1171px #FFF , 927px 16px #FFF , 233px 1577px #FFF , 1813px 948px #FFF , 244px 211px #FFF , 944px 1506px #FFF , 161px 1176px #FFF , 1394px 767px #FFF , 126px 1590px #FFF , 1316px 345px #FFF , 1696px 1044px #FFF , 1522px 1633px #FFF , 1664px 1498px #FFF , 1885px 136px #FFF , 208px 23px #FFF , 1927px 549px #FFF , 382px 1068px #FFF , 1654px 1674px #FFF , 538px 733px #FFF , 804px 353px #FFF , 14px 1971px #FFF , 1449px 915px #FFF , 630px 922px #FFF , 721px 922px #FFF , 1558px 1249px #FFF , 1804px 149px #FFF , 200px 1535px #FFF , 263px 546px #FFF , 899px 1858px #FFF , 1515px 607px #FFF , 1507px 85px #FFF , 307px 674px #FFF , 962px 786px #FFF , 181px 1739px #FFF , 866px 446px #FFF , 791px 1789px #FFF , 1297px 64px #FFF , 1262px 1458px #FFF , 797px 1559px #FFF , 1397px 1590px #FFF , 1499px 1931px #FFF , 666px 1716px #FFF , 692px 1979px #FFF , 1302px 1913px #FFF , 744px 483px #FFF , 393px 464px #FFF , 519px 243px #FFF , 1210px 1579px #FFF , 367px 1403px #FFF , 221px 1359px #FFF , 1047px 1064px #FFF , 293px 1645px #FFF , 140px 1585px #FFF , 1145px 845px #FFF , 1622px 1844px #FFF , 89px 871px #FFF , 1958px 255px #FFF , 1493px 318px #FFF , 1288px 626px #FFF , 535px 968px #FFF , 1323px 1300px #FFF , 938px 293px #FFF , 1753px 483px #FFF , 695px 938px #FFF , 147px 1412px #FFF , 1076px 1084px #FFF , 757px 497px #FFF , 1516px 1840px #FFF , 1788px 1222px #FFF , 427px 993px #FFF , 1864px 266px #FFF , 1883px 377px #FFF , 1394px 1392px #FFF , 1185px 1433px #FFF , 1070px 1923px #FFF , 204px 444px #FFF , 835px 1233px #FFF , 299px 1166px #FFF , 1403px 150px #FFF , 782px 408px #FFF , 215px 564px #FFF , 876px 624px #FFF , 272px 320px #FFF , 881px 1087px #FFF , 753px 1634px #FFF , 200px 1555px #FFF , 1175px 1821px #FFF , 331px 1548px #FFF , 1428px 1003px #FFF , 931px 1766px #FFF , 50px 28px #FFF , 1962px 189px #FFF , 489px 1227px #FFF , 1972px 426px #FFF , 512px 1085px #FFF , 1501px 196px #FFF , 721px 1615px #FFF , 1248px 89px #FFF , 396px 829px #FFF , 966px 1975px #FFF , 492px 238px #FFF , 1455px 429px #FFF , 533px 869px #FFF , 1554px 1859px #FFF , 943px 1765px #FFF , 1426px 1357px #FFF , 1003px 1465px #FFF , 1519px 982px #FFF , 1300px 468px #FFF , 1279px 1154px #FFF , 1488px 773px #FFF , 432px 66px #FFF , 1935px 336px #FFF , 1553px 559px #FFF , 889px 602px #FFF , 514px 78px #FFF , 261px 536px #FFF , 864px 452px #FFF , 168px 681px #FFF , 1052px 899px #FFF , 107px 427px #FFF , 286px 141px #FFF , 427px 1219px #FFF , 1126px 519px #FFF , 367px 458px #FFF , 68px 1721px #FFF , 825px 932px #FFF , 526px 995px #FFF , 1348px 1122px #FFF , 1763px 1595px #FFF , 182px 1000px #FFF , 945px 1349px #FFF , 1954px 962px #FFF , 712px 558px #FFF , 120px 134px #FFF , 1867px 1305px #FFF , 789px 618px #FFF , 1882px 1761px #FFF , 729px 1384px #FFF , 802px 407px #FFF , 96px 525px #FFF , 237px 31px #FFF , 618px 806px #FFF , 1308px 160px #FFF , 547px 1786px #FFF , 890px 639px #FFF , 1587px 560px #FFF , 1967px 1580px #FFF , 436px 422px #FFF , 350px 1034px #FFF , 1727px 1422px #FFF , 512px 1698px #FFF , 1828px 835px #FFF , 594px 581px #FFF , 1743px 439px #FFF , 798px 145px #FFF , 597px 922px #FFF , 1810px 901px #FFF , 832px 885px #FFF , 530px 1941px #FFF , 563px 1989px #FFF , 709px 1402px #FFF , 1250px 1714px #FFF , 1892px 524px #FFF , 497px 1253px #FFF , 1086px 432px #FFF , 1477px 1217px #FFF , 585px 216px #FFF , 1050px 1339px #FFF , 563px 854px #FFF , 766px 1158px #FFF , 1011px 569px #FFF , 443px 928px #FFF;
        animation: animStar 40s linear infinite; }
        body header .top-section #stars:after,
        html header .top-section #stars:after {
          content: " ";
          position: absolute;
          top: 2000px;
          width: 1px;
          height: 1px;
          background: transparent;
          box-shadow: 920px 7463px #FFF , 1064px 787px #FFF , 789px 981px #FFF , 471px 443px #FFF , 1120px 1864px #FFF , 733px 3px #FFF , 301px 921px #FFF , 221px 188px #FFF , 1537px 1208px #FFF , 772px 727px #FFF , 803px 1870px #FFF , 348px 1714px #FFF , 688px 1394px #FFF , 674px 900px #FFF , 1946px 1832px #FFF , 915px 1520px #FFF , 786px 936px #FFF , 1039px 333px #FFF , 243px 1454px #FFF , 1732px 685px #FFF , 1963px 1407px #FFF , 1279px 1496px #FFF , 781px 1853px #FFF , 1933px 284px #FFF , 393px 1942px #FFF , 1119px 1691px #FFF , 789px 74px #FFF , 1088px 530px #FFF , 1662px 475px #FFF , 215px 1964px #FFF , 1682px 1293px #FFF , 1232px 1073px #FFF , 1455px 1621px #FFF , 1641px 1699px #FFF , 917px 330px #FFF , 1398px 1138px #FFF , 1787px 661px #FFF , 1578px 942px #FFF , 1628px 727px #FFF , 943px 1591px #FFF , 1779px 1709px #FFF , 102px 851px #FFF , 1246px 1774px #FFF , 1503px 585px #FFF , 1340px 562px #FFF , 148px 1908px #FFF , 570px 549px #FFF , 1556px 932px #FFF , 1556px 308px #FFF , 617px 1742px #FFF , 710px 151px #FFF , 484px 1996px #FFF , 1232px 1613px #FFF , 990px 681px #FFF , 1682px 1026px #FFF , 96px 847px #FFF , 435px 435px #FFF , 1432px 773px #FFF , 1082px 894px #FFF , 869px 1357px #FFF , 138px 1388px #FFF , 879px 1710px #FFF , 1991px 1161px #FFF , 350px 1444px #FFF , 1462px 1081px #FFF , 789px 995px #FFF , 870px 1179px #FFF , 1265px 312px #FFF , 1213px 1600px #FFF , 1001px 1198px #FFF , 38px 656px #FFF , 1374px 698px #FFF , 714px 1523px #FFF , 104px 33px #FFF , 1546px 633px #FFF , 287px 1923px #FFF , 859px 155px #FFF , 1809px 1812px #FFF , 87px 1055px #FFF , 1177px 867px #FFF , 1513px 1399px #FFF , 748px 666px #FFF , 626px 1648px #FFF , 775px 1122px #FFF , 1355px 227px #FFF , 1361px 1916px #FFF , 132px 594px #FFF , 1190px 237px #FFF , 1178px 1017px #FFF , 1847px 1649px #FFF , 1528px 1207px #FFF , 1661px 549px #FFF , 991px 674px #FFF , 1651px 1665px #FFF , 767px 325px #FFF , 540px 96px #FFF , 1396px 1520px #FFF , 838px 1474px #FFF , 829px 313px #FFF , 1919px 1454px #FFF , 1372px 1413px #FFF , 1817px 544px #FFF , 1913px 1236px #FFF , 534px 297px #FFF , 828px 464px #FFF , 1510px 1606px #FFF , 773px 732px #FFF , 1166px 1813px #FFF , 159px 1587px #FFF , 1375px 2px #FFF , 1471px 8px #FFF , 1878px 749px #FFF , 296px 1633px #FFF , 865px 812px #FFF , 1328px 606px #FFF , 970px 1335px #FFF , 1429px 457px #FFF , 69px 319px #FFF , 949px 796px #FFF , 1608px 1547px #FFF , 180px 230px #FFF , 1748px 1403px #FFF , 1600px 1278px #FFF , 1531px 1271px #FFF , 899px 1232px #FFF , 310px 93px #FFF , 294px 646px #FFF , 85px 540px #FFF , 979px 132px #FFF , 475px 1170px #FFF , 1824px 1076px #FFF , 1701px 1190px #FFF , 1572px 414px #FFF , 577px 1944px #FFF , 972px 1936px #FFF , 563px 1421px #FFF , 1658px 1741px #FFF , 1140px 1630px #FFF , 1308px 1262px #FFF , 1867px 765px #FFF , 118px 1548px #FFF , 366px 515px #FFF , 483px 1855px #FFF , 1661px 717px #FFF , 1151px 174px #FFF , 1194px 155px #FFF , 1385px 1680px #FFF , 1894px 338px #FFF , 690px 1635px #FFF , 133px 1082px #FFF , 1022px 1141px #FFF , 565px 1534px #FFF , 844px 666px #FFF , 393px 1184px #FFF , 1062px 11px #FFF , 1676px 1863px #FFF , 312px 260px #FFF , 24px 1988px #FFF , 1401px 1848px #FFF , 1340px 1909px #FFF , 4px 504px #FFF , 1662px 764px #FFF , 322px 1519px #FFF , 1618px 1103px #FFF , 1344px 316px #FFF , 106px 193px #FFF , 1684px 1351px #FFF , 1984px 1628px #FFF , 438px 480px #FFF , 719px 262px #FFF , 1797px 1349px #FFF , 184px 1145px #FFF , 1589px 1939px #FFF , 155px 697px #FFF , 1514px 860px #FFF , 1301px 209px #FFF , 49px 545px #FFF , 1847px 312px #FFF , 1704px 1711px #FFF , 486px 673px #FFF , 746px 1373px #FFF , 478px 1555px #FFF , 59px 1186px #FFF , 888px 717px #FFF , 264px 225px #FFF , 480px 1443px #FFF , 560px 1774px #FFF , 603px 937px #FFF , 20px 1847px #FFF , 1680px 1850px #FFF , 1895px 630px #FFF , 674px 552px #FFF , 828px 1559px #FFF , 1680px 1692px #FFF , 1224px 1335px #FFF , 899px 264px #FFF , 1516px 1083px #FFF , 1931px 418px #FFF , 1584px 644px #FFF , 155px 1670px #FFF , 946px 1068px #FFF , 1702px 1224px #FFF , 1443px 1457px #FFF , 605px 733px #FFF , 247px 1277px #FFF , 863px 1643px #FFF , 1965px 1897px #FFF , 219px 1365px #FFF , 170px 322px #FFF , 680px 716px #FFF , 342px 968px #FFF , 1634px 1629px #FFF , 1476px 1257px #FFF , 218px 295px #FFF , 1723px 84px #FFF , 319px 263px #FFF , 661px 1508px #FFF , 1154px 1421px #FFF , 1672px 1541px #FFF , 1575px 72px #FFF , 1928px 1425px #FFF , 1399px 879px #FFF , 136px 575px #FFF , 1342px 34px #FFF , 726px 1234px #FFF , 1331px 1531px #FFF , 554px 1289px #FFF , 1381px 394px #FFF , 1726px 1332px #FFF , 1321px 744px #FFF , 264px 749px #FFF , 228px 917px #FFF , 1326px 1546px #FFF , 1834px 1772px #FFF , 1724px 1410px #FFF , 49px 150px #FFF , 836px 1052px #FFF , 1988px 1863px #FFF , 71px 1489px #FFF , 285px 1799px #FFF , 1368px 1665px #FFF , 117px 1018px #FFF , 62px 1445px #FFF , 1478px 1639px #FFF , 1422px 1615px #FFF , 1888px 1759px #FFF , 248px 1877px #FFF , 999px 1799px #FFF , 1425px 1738px #FFF , 344px 865px #FFF , 1699px 1782px #FFF , 1197px 930px #FFF , 789px 950px #FFF , 20px 1387px #FFF , 688px 753px #FFF , 1029px 1785px #FFF , 620px 354px #FFF , 299px 1134px #FFF , 1852px 1423px #FFF , 1318px 1293px #FFF , 1189px 698px #FFF , 759px 329px #FFF , 1561px 1734px #FFF , 695px 567px #FFF , 523px 951px #FFF , 534px 157px #FFF , 476px 1942px #FFF , 1663px 621px #FFF , 1821px 649px #FFF , 1103px 177px #FFF , 1642px 1338px #FFF , 1447px 992px #FFF , 1398px 814px #FFF , 477px 1313px #FFF , 1496px 1241px #FFF , 1366px 1444px #FFF , 1591px 800px #FFF , 1776px 1930px #FFF , 204px 679px #FFF , 1222px 290px #FFF , 1877px 21px #FFF , 1299px 1733px #FFF , 674px 1765px #FFF , 319px 105px #FFF , 1283px 1872px #FFF , 494px 1752px #FFF , 1403px 628px #FFF , 1956px 1223px #FFF , 240px 235px #FFF , 831px 157px #FFF , 652px 80px #FFF , 1203px 356px #FFF , 1517px 1369px #FFF , 995px 1668px #FFF , 541px 1570px #FFF , 1901px 1719px #FFF , 1127px 315px #FFF , 1899px 188px #FFF , 1099px 660px #FFF , 893px 1503px #FFF , 1527px 1259px #FFF , 509px 575px #FFF , 1562px 1335px #FFF , 38px 1905px #FFF , 451px 1756px #FFF , 135px 1110px #FFF , 5px 568px #FFF , 344px 1290px #FFF , 210px 1423px #FFF , 1042px 1518px #FFF , 751px 590px #FFF , 1908px 1546px #FFF , 1647px 269px #FFF , 576px 1543px #FFF , 173px 955px #FFF , 8px 1622px #FFF , 454px 437px #FFF , 435px 1510px #FFF , 1814px 1724px #FFF , 659px 97px #FFF , 924px 320px #FFF , 1564px 275px #FFF , 1234px 1632px #FFF , 1800px 567px #FFF , 1066px 269px #FFF , 576px 61px #FFF , 864px 1645px #FFF , 1609px 492px #FFF , 804px 1174px #FFF , 1878px 610px #FFF , 760px 1997px #FFF , 1848px 1590px #FFF , 353px 99px #FFF , 88px 142px #FFF , 494px 1096px #FFF , 1499px 124px #FFF , 214px 615px #FFF , 98px 1896px #FFF , 637px 1090px #FFF , 730px 1197px #FFF , 261px 1030px #FFF , 483px 683px #FFF , 1366px 1540px #FFF , 660px 1209px #FFF , 473px 1562px #FFF , 1778px 1271px #FFF , 1377px 1776px #FFF , 1162px 760px #FFF , 1241px 1699px #FFF , 300px 885px #FFF , 1000px 1368px #FFF , 1510px 747px #FFF , 295px 1474px #FFF , 1046px 1308px #FFF , 1729px 1269px #FFF , 994px 252px #FFF , 35px 1855px #FFF , 1179px 117px #FFF , 1968px 1032px #FFF , 395px 1311px #FFF , 870px 1590px #FFF , 1451px 828px #FFF , 35px 1981px #FFF , 238px 560px #FFF , 1639px 1244px #FFF , 1596px 1015px #FFF , 678px 1565px #FFF , 1364px 1069px #FFF , 1217px 241px #FFF , 83px 1097px #FFF , 1523px 1671px #FFF , 1893px 1666px #FFF , 509px 1209px #FFF , 1913px 1410px #FFF , 774px 750px #FFF , 783px 195px #FFF , 1370px 40px #FFF , 1704px 1066px #FFF , 818px 1921px #FFF , 995px 820px #FFF , 778px 1268px #FFF , 934px 1007px #FFF , 1187px 982px #FFF , 1416px 1788px #FFF , 1493px 1494px #FFF , 398px 1790px #FFF , 723px 215px #FFF , 1423px 460px #FFF , 330px 66px #FFF , 1094px 1919px #FFF , 1642px 821px #FFF , 1733px 1607px #FFF , 1506px 721px #FFF , 43px 1517px #FFF , 551px 1374px #FFF , 1539px 192px #FFF , 821px 743px #FFF , 884px 440px #FFF , 1246px 472px #FFF , 668px 1031px #FFF , 359px 496px #FFF , 981px 1963px #FFF , 138px 369px #FFF , 1628px 1514px #FFF , 717px 1205px #FFF , 1968px 1571px #FFF , 1338px 1072px #FFF , 1635px 312px #FFF , 1697px 1181px #FFF , 1797px 44px #FFF , 1829px 138px #FFF , 1980px 270px #FFF , 815px 1900px #FFF , 362px 1674px #FFF , 1038px 1533px #FFF , 1366px 655px #FFF , 715px 1011px #FFF , 482px 977px #FFF , 1176px 1688px #FFF , 1146px 222px #FFF , 1702px 88px #FFF , 830px 1023px #FFF , 1492px 1835px #FFF , 1409px 331px #FFF , 1996px 1388px #FFF , 572px 1613px #FFF , 849px 665px #FFF , 1367px 85px #FFF , 1658px 882px #FFF , 1918px 1267px #FFF , 1456px 1606px #FFF , 1582px 619px #FFF , 1393px 1370px #FFF , 1701px 593px #FFF , 137px 427px #FFF , 2px 185px #FFF , 245px 109px #FFF , 1320px 235px #FFF , 1791px 1312px #FFF , 1072px 104px #FFF , 775px 725px #FFF , 1085px 938px #FFF , 705px 1726px #FFF , 665px 24px #FFF , 1215px 432px #FFF , 307px 1846px #FFF , 247px 723px #FFF , 775px 979px #FFF , 220px 1333px #FFF , 1274px 448px #FFF , 222px 623px #FFF , 223px 1847px #FFF , 469px 82px #FFF , 466px 140px #FFF , 1156px 871px #FFF , 656px 1502px #FFF , 1367px 1178px #FFF , 354px 1562px #FFF , 1909px 171px #FFF , 477px 990px #FFF , 1021px 956px #FFF , 1250px 400px #FFF , 1441px 1321px #FFF , 1824px 1778px #FFF , 1838px 1301px #FFF , 1315px 1642px #FFF , 1927px 1057px #FFF , 813px 1357px #FFF , 1871px 1053px #FFF , 277px 434px #FFF , 460px 114px #FFF , 530px 631px #FFF , 1754px 278px #FFF , 1934px 1889px #FFF , 196px 1752px #FFF , 582px 1319px #FFF , 373px 495px #FFF , 182px 683px #FFF , 1658px 851px #FFF , 222px 481px #FFF , 1611px 1419px #FFF , 1763px 559px #FFF , 1466px 1450px #FFF , 788px 1760px #FFF , 1266px 1742px #FFF , 258px 1558px #FFF , 128px 1595px #FFF , 1476px 914px #FFF , 339px 878px #FFF , 275px 1807px #FFF , 1638px 1144px #FFF , 1554px 693px #FFF , 1145px 1647px #FFF , 203px 1823px #FFF , 1332px 665px #FFF , 1657px 327px #FFF , 383px 20px #FFF , 158px 1420px #FFF , 1082px 1430px #FFF , 336px 806px #FFF , 812px 1528px #FFF , 87px 1359px #FFF , 1484px 929px #FFF , 450px 1858px #FFF , 1366px 1490px #FFF , 1927px 438px #FFF , 314px 1919px #FFF , 1381px 1540px #FFF , 1077px 803px #FFF , 647px 1378px #FFF , 790px 939px #FFF , 1228px 1042px #FFF , 201px 1396px #FFF , 1634px 81px #FFF , 1851px 1380px #FFF , 1899px 952px #FFF , 1978px 1246px #FFF , 582px 267px #FFF , 496px 1663px #FFF , 332px 463px #FFF , 1745px 1063px #FFF , 1683px 1190px #FFF , 802px 974px #FFF , 117px 207px #FFF , 469px 1964px #FFF , 108px 538px #FFF , 1129px 896px #FFF , 1549px 1171px #FFF , 927px 16px #FFF , 233px 1577px #FFF , 1813px 948px #FFF , 244px 211px #FFF , 944px 1506px #FFF , 161px 1176px #FFF , 1394px 767px #FFF , 126px 1590px #FFF , 1316px 345px #FFF , 1696px 1044px #FFF , 1522px 1633px #FFF , 1664px 1498px #FFF , 1885px 136px #FFF , 208px 23px #FFF , 1927px 549px #FFF , 382px 1068px #FFF , 1654px 1674px #FFF , 538px 733px #FFF , 804px 353px #FFF , 14px 1971px #FFF , 1449px 915px #FFF , 630px 922px #FFF , 721px 922px #FFF , 1558px 1249px #FFF , 1804px 149px #FFF , 200px 1535px #FFF , 263px 546px #FFF , 899px 1858px #FFF , 1515px 607px #FFF , 1507px 85px #FFF , 307px 674px #FFF , 962px 786px #FFF , 181px 1739px #FFF , 866px 446px #FFF , 791px 1789px #FFF , 1297px 64px #FFF , 1262px 1458px #FFF , 797px 1559px #FFF , 1397px 1590px #FFF , 1499px 1931px #FFF , 666px 1716px #FFF , 692px 1979px #FFF , 1302px 1913px #FFF , 744px 483px #FFF , 393px 464px #FFF , 519px 243px #FFF , 1210px 1579px #FFF , 367px 1403px #FFF , 221px 1359px #FFF , 1047px 1064px #FFF , 293px 1645px #FFF , 140px 1585px #FFF , 1145px 845px #FFF , 1622px 1844px #FFF , 89px 871px #FFF , 1958px 255px #FFF , 1493px 318px #FFF , 1288px 626px #FFF , 535px 968px #FFF , 1323px 1300px #FFF , 938px 293px #FFF , 1753px 483px #FFF , 695px 938px #FFF , 147px 1412px #FFF , 1076px 1084px #FFF , 757px 497px #FFF , 1516px 1840px #FFF , 1788px 1222px #FFF , 427px 993px #FFF , 1864px 266px #FFF , 1883px 377px #FFF , 1394px 1392px #FFF , 1185px 1433px #FFF , 1070px 1923px #FFF , 204px 444px #FFF , 835px 1233px #FFF , 299px 1166px #FFF , 1403px 150px #FFF , 782px 408px #FFF , 215px 564px #FFF , 876px 624px #FFF , 272px 320px #FFF , 881px 1087px #FFF , 753px 1634px #FFF , 200px 1555px #FFF , 1175px 1821px #FFF , 331px 1548px #FFF , 1428px 1003px #FFF , 931px 1766px #FFF , 50px 28px #FFF , 1962px 189px #FFF , 489px 1227px #FFF , 1972px 426px #FFF , 512px 1085px #FFF , 1501px 196px #FFF , 721px 1615px #FFF , 1248px 89px #FFF , 396px 829px #FFF , 966px 1975px #FFF , 492px 238px #FFF , 1455px 429px #FFF , 533px 869px #FFF , 1554px 1859px #FFF , 943px 1765px #FFF , 1426px 1357px #FFF , 1003px 1465px #FFF , 1519px 982px #FFF , 1300px 468px #FFF , 1279px 1154px #FFF , 1488px 773px #FFF , 432px 66px #FFF , 1935px 336px #FFF , 1553px 559px #FFF , 889px 602px #FFF , 514px 78px #FFF , 261px 536px #FFF , 864px 452px #FFF , 168px 681px #FFF , 1052px 899px #FFF , 107px 427px #FFF , 286px 141px #FFF , 427px 1219px #FFF , 1126px 519px #FFF , 367px 458px #FFF , 68px 1721px #FFF , 825px 932px #FFF , 526px 995px #FFF , 1348px 1122px #FFF , 1763px 1595px #FFF , 182px 1000px #FFF , 945px 1349px #FFF , 1954px 962px #FFF , 712px 558px #FFF , 120px 134px #FFF , 1867px 1305px #FFF , 789px 618px #FFF , 1882px 1761px #FFF , 729px 1384px #FFF , 802px 407px #FFF , 96px 525px #FFF , 237px 31px #FFF , 618px 806px #FFF , 1308px 160px #FFF , 547px 1786px #FFF , 890px 639px #FFF , 1587px 560px #FFF , 1967px 1580px #FFF , 436px 422px #FFF , 350px 1034px #FFF , 1727px 1422px #FFF , 512px 1698px #FFF , 1828px 835px #FFF , 594px 581px #FFF , 1743px 439px #FFF , 798px 145px #FFF , 597px 922px #FFF , 1810px 901px #FFF , 832px 885px #FFF , 530px 1941px #FFF , 563px 1989px #FFF , 709px 1402px #FFF , 1250px 1714px #FFF , 1892px 524px #FFF , 497px 1253px #FFF , 1086px 432px #FFF , 1477px 1217px #FFF , 585px 216px #FFF , 1050px 1339px #FFF , 563px 854px #FFF , 766px 1158px #FFF , 1011px 569px #FFF , 443px 928px #FFF; }
      body header .top-section #stars2,
      html header .top-section #stars2 {
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: 165px 10295px #FFF , 1343px 1445px #FFF , 788px 1300px #FFF , 1219px 618px #FFF , 131px 89px #FFF , 1038px 1161px #FFF , 1876px 1577px #FFF , 198px 598px #FFF , 1353px 1317px #FFF , 1123px 1930px #FFF , 98px 596px #FFF , 1498px 361px #FFF , 218px 1609px #FFF , 989px 69px #FFF , 1597px 1266px #FFF , 149px 521px #FFF , 1422px 1444px #FFF , 473px 1577px #FFF , 1888px 1168px #FFF , 1048px 1162px #FFF , 1255px 1614px #FFF , 142px 775px #FFF , 804px 373px #FFF , 50px 1813px #FFF , 879px 734px #FFF , 980px 56px #FFF , 623px 1595px #FFF , 598px 504px #FFF , 130px 1520px #FFF , 1091px 1745px #FFF , 878px 974px #FFF , 763px 575px #FFF , 899px 1136px #FFF , 1483px 86px #FFF , 1140px 1708px #FFF , 364px 1506px #FFF , 325px 473px #FFF , 377px 1873px #FFF , 173px 506px #FFF , 1029px 54px #FFF , 249px 1458px #FFF , 1208px 923px #FFF , 1818px 1490px #FFF , 1492px 1785px #FFF , 967px 114px #FFF , 1274px 1586px #FFF , 906px 1555px #FFF , 708px 1646px #FFF , 679px 623px #FFF , 1419px 541px #FFF , 461px 1210px #FFF , 492px 615px #FFF , 1621px 1896px #FFF , 371px 774px #FFF , 1468px 57px #FFF , 1933px 338px #FFF , 916px 1259px #FFF , 468px 1774px #FFF , 339px 634px #FFF , 653px 417px #FFF , 1816px 1476px #FFF , 1442px 349px #FFF , 91px 1800px #FFF , 761px 1412px #FFF , 1256px 733px #FFF , 1012px 1023px #FFF , 1615px 1564px #FFF , 220px 929px #FFF , 958px 1431px #FFF , 1284px 1704px #FFF , 579px 1637px #FFF , 1871px 1081px #FFF , 146px 769px #FFF , 103px 1874px #FFF , 918px 1512px #FFF , 1436px 713px #FFF , 1058px 1660px #FFF , 221px 431px #FFF , 1599px 1320px #FFF , 64px 573px #FFF , 1917px 1424px #FFF , 1234px 1281px #FFF , 1062px 871px #FFF , 1256px 1879px #FFF , 407px 576px #FFF , 2px 1202px #FFF , 1086px 1640px #FFF , 1519px 346px #FFF , 803px 1498px #FFF , 744px 1785px #FFF , 451px 1646px #FFF , 1513px 1273px #FFF , 518px 301px #FFF , 1542px 1268px #FFF , 548px 934px #FFF , 594px 1489px #FFF , 734px 278px #FFF , 192px 927px #FFF , 1248px 1488px #FFF , 1393px 85px #FFF , 115px 1868px #FFF , 895px 1139px #FFF , 167px 854px #FFF , 1729px 1232px #FFF , 920px 246px #FFF , 236px 133px #FFF , 1983px 871px #FFF , 561px 155px #FFF , 124px 743px #FFF , 1884px 1763px #FFF , 1353px 1082px #FFF , 1950px 54px #FFF , 315px 1618px #FFF , 718px 1552px #FFF , 1297px 354px #FFF , 1776px 1182px #FFF , 1px 1030px #FFF , 1942px 1429px #FFF , 488px 1548px #FFF , 1109px 696px #FFF , 972px 1467px #FFF , 1940px 389px #FFF , 1636px 1320px #FFF , 255px 1883px #FFF , 49px 1623px #FFF , 1200px 1986px #FFF , 1289px 941px #FFF , 1468px 579px #FFF , 889px 1011px #FFF , 481px 1685px #FFF , 1795px 1950px #FFF , 151px 733px #FFF , 352px 1973px #FFF , 1359px 951px #FFF , 1764px 1354px #FFF , 22px 1498px #FFF , 220px 527px #FFF , 1709px 747px #FFF , 963px 210px #FFF , 1262px 158px #FFF , 1506px 141px #FFF , 147px 816px #FFF , 1766px 1363px #FFF , 1925px 1702px #FFF , 612px 905px #FFF , 352px 98px #FFF , 1030px 1602px #FFF , 362px 1297px #FFF , 1157px 1515px #FFF , 139px 1354px #FFF , 1388px 1782px #FFF , 1061px 373px #FFF , 1887px 751px #FFF , 458px 609px #FFF , 1754px 1853px #FFF , 259px 396px #FFF , 1147px 714px #FFF , 461px 675px #FFF , 554px 1533px #FFF , 1875px 1193px #FFF , 1446px 200px #FFF , 1975px 1956px #FFF , 1926px 30px #FFF , 192px 687px #FFF , 148px 1216px #FFF , 1306px 1263px #FFF , 366px 65px #FFF , 1971px 1576px #FFF , 1790px 1395px #FFF , 1368px 603px #FFF , 1780px 788px #FFF , 1147px 1281px #FFF , 1142px 228px #FFF , 1939px 1934px #FFF , 865px 635px #FFF , 334px 918px #FFF , 1633px 1375px #FFF , 207px 1327px #FFF , 1166px 869px #FFF , 1224px 389px #FFF , 1346px 146px #FFF , 1329px 1499px #FFF , 1097px 1774px #FFF , 118px 1849px #FFF , 1789px 1586px #FFF , 501px 1687px #FFF , 935px 1978px #FFF , 680px 33px #FFF , 1378px 1164px #FFF , 396px 1470px #FFF , 1002px 1618px #FFF , 1913px 626px #FFF , 67px 879px #FFF , 640px 1146px #FFF , 1302px 697px #FFF , 282px 1256px #FFF , 1624px 1517px #FFF , 987px 1124px #FFF , 1182px 1416px #FFF , 1px 590px #FFF;
        animation: animStar 80s linear infinite; }
        body header .top-section #stars2:after,
        html header .top-section #stars2:after {
          content: " ";
          position: absolute;
          top: 2000px;
          width: 2px;
          height: 2px;
          background: transparent;
          box-shadow: 165px 10295px #FFF , 1343px 1445px #FFF , 788px 1300px #FFF , 1219px 618px #FFF , 131px 89px #FFF , 1038px 1161px #FFF , 1876px 1577px #FFF , 198px 598px #FFF , 1353px 1317px #FFF , 1123px 1930px #FFF , 98px 596px #FFF , 1498px 361px #FFF , 218px 1609px #FFF , 989px 69px #FFF , 1597px 1266px #FFF , 149px 521px #FFF , 1422px 1444px #FFF , 473px 1577px #FFF , 1888px 1168px #FFF , 1048px 1162px #FFF , 1255px 1614px #FFF , 142px 775px #FFF , 804px 373px #FFF , 50px 1813px #FFF , 879px 734px #FFF , 980px 56px #FFF , 623px 1595px #FFF , 598px 504px #FFF , 130px 1520px #FFF , 1091px 1745px #FFF , 878px 974px #FFF , 763px 575px #FFF , 899px 1136px #FFF , 1483px 86px #FFF , 1140px 1708px #FFF , 364px 1506px #FFF , 325px 473px #FFF , 377px 1873px #FFF , 173px 506px #FFF , 1029px 54px #FFF , 249px 1458px #FFF , 1208px 923px #FFF , 1818px 1490px #FFF , 1492px 1785px #FFF , 967px 114px #FFF , 1274px 1586px #FFF , 906px 1555px #FFF , 708px 1646px #FFF , 679px 623px #FFF , 1419px 541px #FFF , 461px 1210px #FFF , 492px 615px #FFF , 1621px 1896px #FFF , 371px 774px #FFF , 1468px 57px #FFF , 1933px 338px #FFF , 916px 1259px #FFF , 468px 1774px #FFF , 339px 634px #FFF , 653px 417px #FFF , 1816px 1476px #FFF , 1442px 349px #FFF , 91px 1800px #FFF , 761px 1412px #FFF , 1256px 733px #FFF , 1012px 1023px #FFF , 1615px 1564px #FFF , 220px 929px #FFF , 958px 1431px #FFF , 1284px 1704px #FFF , 579px 1637px #FFF , 1871px 1081px #FFF , 146px 769px #FFF , 103px 1874px #FFF , 918px 1512px #FFF , 1436px 713px #FFF , 1058px 1660px #FFF , 221px 431px #FFF , 1599px 1320px #FFF , 64px 573px #FFF , 1917px 1424px #FFF , 1234px 1281px #FFF , 1062px 871px #FFF , 1256px 1879px #FFF , 407px 576px #FFF , 2px 1202px #FFF , 1086px 1640px #FFF , 1519px 346px #FFF , 803px 1498px #FFF , 744px 1785px #FFF , 451px 1646px #FFF , 1513px 1273px #FFF , 518px 301px #FFF , 1542px 1268px #FFF , 548px 934px #FFF , 594px 1489px #FFF , 734px 278px #FFF , 192px 927px #FFF , 1248px 1488px #FFF , 1393px 85px #FFF , 115px 1868px #FFF , 895px 1139px #FFF , 167px 854px #FFF , 1729px 1232px #FFF , 920px 246px #FFF , 236px 133px #FFF , 1983px 871px #FFF , 561px 155px #FFF , 124px 743px #FFF , 1884px 1763px #FFF , 1353px 1082px #FFF , 1950px 54px #FFF , 315px 1618px #FFF , 718px 1552px #FFF , 1297px 354px #FFF , 1776px 1182px #FFF , 1px 1030px #FFF , 1942px 1429px #FFF , 488px 1548px #FFF , 1109px 696px #FFF , 972px 1467px #FFF , 1940px 389px #FFF , 1636px 1320px #FFF , 255px 1883px #FFF , 49px 1623px #FFF , 1200px 1986px #FFF , 1289px 941px #FFF , 1468px 579px #FFF , 889px 1011px #FFF , 481px 1685px #FFF , 1795px 1950px #FFF , 151px 733px #FFF , 352px 1973px #FFF , 1359px 951px #FFF , 1764px 1354px #FFF , 22px 1498px #FFF , 220px 527px #FFF , 1709px 747px #FFF , 963px 210px #FFF , 1262px 158px #FFF , 1506px 141px #FFF , 147px 816px #FFF , 1766px 1363px #FFF , 1925px 1702px #FFF , 612px 905px #FFF , 352px 98px #FFF , 1030px 1602px #FFF , 362px 1297px #FFF , 1157px 1515px #FFF , 139px 1354px #FFF , 1388px 1782px #FFF , 1061px 373px #FFF , 1887px 751px #FFF , 458px 609px #FFF , 1754px 1853px #FFF , 259px 396px #FFF , 1147px 714px #FFF , 461px 675px #FFF , 554px 1533px #FFF , 1875px 1193px #FFF , 1446px 200px #FFF , 1975px 1956px #FFF , 1926px 30px #FFF , 192px 687px #FFF , 148px 1216px #FFF , 1306px 1263px #FFF , 366px 65px #FFF , 1971px 1576px #FFF , 1790px 1395px #FFF , 1368px 603px #FFF , 1780px 788px #FFF , 1147px 1281px #FFF , 1142px 228px #FFF , 1939px 1934px #FFF , 865px 635px #FFF , 334px 918px #FFF , 1633px 1375px #FFF , 207px 1327px #FFF , 1166px 869px #FFF , 1224px 389px #FFF , 1346px 146px #FFF , 1329px 1499px #FFF , 1097px 1774px #FFF , 118px 1849px #FFF , 1789px 1586px #FFF , 501px 1687px #FFF , 935px 1978px #FFF , 680px 33px #FFF , 1378px 1164px #FFF , 396px 1470px #FFF , 1002px 1618px #FFF , 1913px 626px #FFF , 67px 879px #FFF , 640px 1146px #FFF , 1302px 697px #FFF , 282px 1256px #FFF , 1624px 1517px #FFF , 987px 1124px #FFF , 1182px 1416px #FFF , 1px 590px #FFF; }
      body header .top-section #stars3,
      html header .top-section #stars3 {
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: 1731px 4297px #FFF , 974px 495px #FFF , 1087px 1532px #FFF , 1159px 1741px #FFF , 1818px 1260px #FFF , 1046px 1998px #FFF , 1095px 533px #FFF , 1613px 707px #FFF , 681px 754px #FFF , 458px 1291px #FFF , 980px 1806px #FFF , 1182px 939px #FFF , 1327px 69px #FFF , 620px 1723px #FFF , 1292px 1219px #FFF , 1706px 795px #FFF , 939px 748px #FFF , 1524px 319px #FFF , 683px 396px #FFF , 905px 389px #FFF , 1727px 240px #FFF , 1554px 1603px #FFF , 434px 951px #FFF , 809px 1052px #FFF , 1277px 924px #FFF , 1203px 1024px #FFF , 1815px 1478px #FFF , 1808px 721px #FFF , 780px 1274px #FFF , 518px 539px #FFF , 518px 1182px #FFF , 1700px 264px #FFF , 1651px 1704px #FFF , 1476px 163px #FFF , 1985px 892px #FFF , 1723px 1685px #FFF , 945px 915px #FFF , 1083px 1344px #FFF , 1811px 761px #FFF , 373px 1414px #FFF , 1778px 388px #FFF , 1675px 220px #FFF , 54px 936px #FFF , 1423px 1025px #FFF , 363px 1721px #FFF , 1346px 1277px #FFF , 157px 191px #FFF , 936px 1339px #FFF , 795px 452px #FFF , 153px 1942px #FFF , 1095px 452px #FFF , 548px 1111px #FFF , 1186px 322px #FFF , 1717px 1705px #FFF , 1164px 912px #FFF , 408px 293px #FFF , 336px 786px #FFF , 810px 1205px #FFF , 1397px 595px #FFF , 1201px 1040px #FFF , 1714px 1507px #FFF , 1253px 1554px #FFF , 958px 1631px #FFF , 906px 454px #FFF , 899px 1480px #FFF , 1181px 1673px #FFF , 1997px 890px #FFF , 1147px 831px #FFF , 725px 928px #FFF , 1948px 629px #FFF , 614px 1291px #FFF , 1965px 1435px #FFF , 1332px 629px #FFF , 916px 230px #FFF , 180px 1701px #FFF , 433px 1273px #FFF , 1979px 1641px #FFF , 24px 1091px #FFF , 1843px 1071px #FFF , 525px 1036px #FFF , 1967px 1501px #FFF , 137px 1553px #FFF , 131px 717px #FFF , 562px 1900px #FFF , 485px 552px #FFF , 1164px 1021px #FFF , 518px 1349px #FFF , 968px 1994px #FFF , 1139px 1064px #FFF , 1415px 1301px #FFF , 578px 524px #FFF , 233px 220px #FFF , 1268px 261px #FFF , 1590px 55px #FFF , 1403px 1388px #FFF , 182px 255px #FFF , 317px 1005px #FFF , 197px 1664px #FFF , 767px 50px #FFF , 641px 1813px #FFF;
        animation: animStar 120s linear infinite; }
        body header .top-section #stars3:after,
        html header .top-section #stars3:after {
          content: " ";
          position: absolute;
          top: 2000px;
          width: 3px;
          height: 3px;
          background: transparent;
          box-shadow: 1731px 4297px #FFF , 974px 495px #FFF , 1087px 1532px #FFF , 1159px 1741px #FFF , 1818px 1260px #FFF , 1046px 1998px #FFF , 1095px 533px #FFF , 1613px 707px #FFF , 681px 754px #FFF , 458px 1291px #FFF , 980px 1806px #FFF , 1182px 939px #FFF , 1327px 69px #FFF , 620px 1723px #FFF , 1292px 1219px #FFF , 1706px 795px #FFF , 939px 748px #FFF , 1524px 319px #FFF , 683px 396px #FFF , 905px 389px #FFF , 1727px 240px #FFF , 1554px 1603px #FFF , 434px 951px #FFF , 809px 1052px #FFF , 1277px 924px #FFF , 1203px 1024px #FFF , 1815px 1478px #FFF , 1808px 721px #FFF , 780px 1274px #FFF , 518px 539px #FFF , 518px 1182px #FFF , 1700px 264px #FFF , 1651px 1704px #FFF , 1476px 163px #FFF , 1985px 892px #FFF , 1723px 1685px #FFF , 945px 915px #FFF , 1083px 1344px #FFF , 1811px 761px #FFF , 373px 1414px #FFF , 1778px 388px #FFF , 1675px 220px #FFF , 54px 936px #FFF , 1423px 1025px #FFF , 363px 1721px #FFF , 1346px 1277px #FFF , 157px 191px #FFF , 936px 1339px #FFF , 795px 452px #FFF , 153px 1942px #FFF , 1095px 452px #FFF , 548px 1111px #FFF , 1186px 322px #FFF , 1717px 1705px #FFF , 1164px 912px #FFF , 408px 293px #FFF , 336px 786px #FFF , 810px 1205px #FFF , 1397px 595px #FFF , 1201px 1040px #FFF , 1714px 1507px #FFF , 1253px 1554px #FFF , 958px 1631px #FFF , 906px 454px #FFF , 899px 1480px #FFF , 1181px 1673px #FFF , 1997px 890px #FFF , 1147px 831px #FFF , 725px 928px #FFF , 1948px 629px #FFF , 614px 1291px #FFF , 1965px 1435px #FFF , 1332px 629px #FFF , 916px 230px #FFF , 180px 1701px #FFF , 433px 1273px #FFF , 1979px 1641px #FFF , 24px 1091px #FFF , 1843px 1071px #FFF , 525px 1036px #FFF , 1967px 1501px #FFF , 137px 1553px #FFF , 131px 717px #FFF , 562px 1900px #FFF , 485px 552px #FFF , 1164px 1021px #FFF , 518px 1349px #FFF , 968px 1994px #FFF , 1139px 1064px #FFF , 1415px 1301px #FFF , 578px 524px #FFF , 233px 220px #FFF , 1268px 261px #FFF , 1590px 55px #FFF , 1403px 1388px #FFF , 182px 255px #FFF , 317px 1005px #FFF , 197px 1664px #FFF , 767px 50px #FFF , 641px 1813px #FFF; }
@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }
      body header .top-section .icon-sm,
      html header .top-section .icon-sm {
        width: 30px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2; }
      body header .top-section .icon-md,
      html header .top-section .icon-md {
        width: 45px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2; }
      body header .top-section .icon-bg,
      html header .top-section .icon-bg {
        width: 60px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2; }
      body header .top-section svg,
      html header .top-section svg {
        position: absolute;
        top: 0;
        left: 0; }
        body header .top-section svg path,
        html header .top-section svg path {
          opacity: 0;
          stroke: #346a816c;
          stroke-width: 10;
          fill: none;
          animation: dash 5s ease-in-out infinite; }
        body header .top-section svg #path1,
        html header .top-section svg #path1 {
          stroke-dasharray: calc(var(--pathLength1) / 1.5);
          stroke-dashoffset: calc(var(--pathLength1) / 2.5); }
        body header .top-section svg #path2,
        html header .top-section svg #path2 {
          stroke-dasharray: calc(var(--pathLength2) / 1.5);
          stroke-dashoffset: calc(var(--pathLength2) / 2.5); }
        body header .top-section svg #path3,
        html header .top-section svg #path3 {
          animation: dash-small 5s ease-in-out infinite;
          stroke-dasharray: calc(var(--pathLength3) / 1.5);
          stroke-dashoffset: calc(var(--pathLength3) / 2.5);
          animation-delay: 1s; }
        body header .top-section svg #path4,
        html header .top-section svg #path4 {
          animation: dash-small 5s ease-in-out infinite;
          stroke-dasharray: calc(var(--pathLength4) / 1.5);
          stroke-dashoffset: calc(var(--pathLength4) / 2.5);
          animation-delay: 1s; }
        body header .top-section svg #path5,
        html header .top-section svg #path5 {
          stroke-dasharray: calc(var(--pathLength5) / 1.5);
          stroke-dashoffset: calc(var(--pathLength5) / 2.5);
          animation-delay: 2s; }
        body header .top-section svg #path6,
        html header .top-section svg #path6 {
          stroke-dasharray: calc(var(--pathLength6) / 1.5);
          stroke-dashoffset: calc(var(--pathLength6) / 2.5);
          animation-delay: 2s; }
        body header .top-section svg #path7,
        html header .top-section svg #path7 {
          animation: dash-small 5s ease-in-out infinite;
          stroke-dasharray: calc(var(--pathLength7) / 1.5);
          stroke-dashoffset: calc(var(--pathLength7) / 2.5);
          animation-delay: 3s; }
        body header .top-section svg #path8,
        html header .top-section svg #path8 {
          animation: dash-small 5s ease-in-out infinite;
          stroke-dasharray: calc(var(--pathLength8) / 1.5);
          stroke-dashoffset: calc(var(--pathLength8) / 2.5);
          animation-delay: 3s; }
        body header .top-section svg #path9,
        html header .top-section svg #path9 {
          stroke-dasharray: calc(var(--pathLength9) / 1.5);
          stroke-dashoffset: calc(var(--pathLength9) / 2.5);
          animation-delay: 4s; }
        body header .top-section svg #path10,
        html header .top-section svg #path10 {
          stroke-dasharray: calc(var(--pathLength10) / 1.5);
          stroke-dashoffset: calc(var(--pathLength10) / 2.5);
          animation-delay: 4s; }
@keyframes dash {
  20% {
    opacity: 0; }
  25% {
    opacity: 1;
    stroke-width: 2; }
  34% {
    opacity: 1; }
  36% {
    opacity: 1; }
  40% {
    stroke-dashoffset: -100;
    stroke-width: 0;
    opacity: 0; }
  90% {
    display: none;
    opacity: 0; } }
@keyframes dash-small {
  20% {
    opacity: 0; }
  25% {
    opacity: 1;
    stroke-width: 2; }
  34% {
    opacity: 1; }
  36% {
    opacity: 1; }
  40% {
    stroke-dashoffset: -50;
    stroke-width: 0;
    opacity: 0; }
  90% {
    display: none;
    opacity: 0; } }
      body header .top-section .icon-1,
      html header .top-section .icon-1 {
        transform: rotate(-25deg);
        offset-path: var(--path1);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite; }
      body header .top-section .icon-2,
      html header .top-section .icon-2 {
        transform: rotate(25deg);
        offset-path: var(--path2);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite; }
      body header .top-section .icon-3,
      html header .top-section .icon-3 {
        transform: rotate(-5deg);
        offset-path: var(--path3);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 1s; }
      body header .top-section .icon-4,
      html header .top-section .icon-4 {
        transform: rotate(-120deg);
        offset-path: var(--path4);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 1s; }
      body header .top-section .icon-5,
      html header .top-section .icon-5 {
        transform: rotate(-30deg);
        offset-path: var(--path5);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 2s; }
      body header .top-section .icon-6,
      html header .top-section .icon-6 {
        transform: rotate(-15deg);
        offset-path: var(--path6);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 2s; }
      body header .top-section .icon-7,
      html header .top-section .icon-7 {
        transform: rotate(10deg);
        offset-path: var(--path7);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 3s; }
      body header .top-section .icon-8,
      html header .top-section .icon-8 {
        transform: rotate(15deg);
        offset-path: var(--path8);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 3s; }
      body header .top-section .icon-9,
      html header .top-section .icon-9 {
        transform: rotate(-5deg);
        offset-path: var(--path9);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 4s; }
      body header .top-section .icon-10,
      html header .top-section .icon-10 {
        offset-path: var(--path10);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 4s; }
@keyframes bla {
  34% {
    opacity: 1; }
  36% {
    opacity: 0; }
  40% {
    offset-distance: 100%;
    offset-rotate: 0deg;
    transform: rotate(0deg);
    opacity: 0; }
  90% {
    display: none;
    opacity: 0; } }
      body header .top-section .tube,
      html header .top-section .tube {
        position: absolute;
        bottom: 0.5px;
        left: 50%;
        transform: translateX(-50%) translateY(100%);
        width: 200px;
        z-index: 3; }
      body header .top-section .line-left,
      html header .top-section .line-left {
        position: absolute;
        bottom: -0.5px;
        left: 0;
        width: calc(50% - 99.5px);
        z-index: 2; }
      body header .top-section .line-right,
      html header .top-section .line-right {
        position: absolute;
        bottom: -0.5px;
        right: 0;
        width: calc(50% - 99.5px);
        z-index: 2; }
      body header .top-section .mobile,
      html header .top-section .mobile {
        display: none;
        width: calc(50% - 74.5px); }
    body header .bottom-section,
    html header .bottom-section {
      z-index: 3;
      height: 25vh;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative; }
      body header .bottom-section .building,
      html header .bottom-section .building {
        min-width: 140px;
        max-width: 140px;
        width: 10%; }
      body header .bottom-section .skyline,
      html header .bottom-section .skyline {
        position: absolute; }
      body header .bottom-section img#escombro-1,
      html header .bottom-section img#escombro-1 {
        opacity: 0;
        width: 8px;
        position: absolute;
        left: calc(50% - 50px);
        transform: translateX(-50%) rotate(-160deg);
        bottom: 40px;
        animation: swingTopLeft 1s ease-out 5;
        animation-delay: 1.9s; }
      body header .bottom-section img#escombro-2,
      html header .bottom-section img#escombro-2 {
        opacity: 0;
        width: 8px;
        position: absolute;
        left: calc(50% - 50px);
        transform: translateX(-50%) rotate(160deg);
        bottom: 30px;
        animation: swingBottomLeft 1s ease-out 5;
        animation-delay: 1.9s; }
      body header .bottom-section img#escombro-3,
      html header .bottom-section img#escombro-3 {
        opacity: 0;
        width: 8px;
        position: absolute;
        right: calc(50% - 55px);
        transform: translateX(-50%) rotate(-20deg);
        bottom: 40px;
        animation: swingTopRight 1s ease-out 5;
        animation-delay: 1.9s; }
      body header .bottom-section img#escombro-4,
      html header .bottom-section img#escombro-4 {
        opacity: 0;
        width: 8px;
        position: absolute;
        right: calc(50% - 55px);
        transform: translateX(-50%) rotate(20deg);
        bottom: 30px;
        animation: swingBottomRight 1s ease-out 5;
        animation-delay: 1.9s; }
@keyframes swingTopRight {
  0% {
    opacity: 1; }
  100% {
    right: calc(50% - 65px);
    bottom: 45px;
    opacity: 0; } }
@keyframes swingBottomRight {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    right: calc(50% - 65px);
    bottom: 25px;
    opacity: 0; } }
@keyframes swingTopLeft {
  0% {
    opacity: 1; }
  100% {
    left: calc(50% - 65px);
    bottom: 50px;
    opacity: 0; } }
@keyframes swingBottomLeft {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    left: calc(50% - 65px);
    bottom: 25px;
    opacity: 0; } }
      body header .bottom-section #building-1,
      body header .bottom-section #building-2,
      body header .bottom-section #building-3,
      body header .bottom-section #building-4,
      body header .bottom-section #building-final,
      body header .bottom-section #skyline-1,
      body header .bottom-section #skyline-2,
      body header .bottom-section #skyline-3,
      body header .bottom-section #skyline-4,
      body header .bottom-section #skyline-final,
      html header .bottom-section #building-1,
      html header .bottom-section #building-2,
      html header .bottom-section #building-3,
      html header .bottom-section #building-4,
      html header .bottom-section #building-final,
      html header .bottom-section #skyline-1,
      html header .bottom-section #skyline-2,
      html header .bottom-section #skyline-3,
      html header .bottom-section #skyline-4,
      html header .bottom-section #skyline-final {
        display: none; }

@media (max-width: 1000px) {
  .title {
    font-size: 32px; } }
@media (max-width: 700px) {
  body header {
    height: 95vh; }
    body header .top-section {
      height: 55vh; }
      body header .top-section .title {
        font-size: 28px; }
      body header .top-section .icon-sm {
        width: 35px; }
      body header .top-section .icon-md {
        width: 40px; }
      body header .top-section .icon-bg {
        width: 45px; }
      body header .top-section .icon-1,
      body header .top-section .icon-2,
      body header .top-section .icon-5,
      body header .top-section .icon-6,
      body header .top-section .icon-9,
      body header .top-section .icon-10 {
        animation: bla2 3s ease-in-out infinite; }
  @keyframes bla2 {
    56% {
      opacity: 1; }
    58% {
      opacity: 1; }
    60% {
      opacity: 0; }
    66% {
      offset-distance: 95%;
      offset-rotate: 0deg;
      transform: rotate(0deg);
      opacity: 0; }
    95% {
      display: none;
      opacity: 0; } }
      body header .top-section .icon-3,
      body header .top-section .icon-4,
      body header .top-section .icon-7,
      body header .top-section .icon-8,
      body header .top-section #path3,
      body header .top-section #path4,
      body header .top-section #path7,
      body header .top-section #path8 {
        display: none; }
      body header .top-section .icon-5,
      body header .top-section .icon-6,
      body header .top-section #path5,
      body header .top-section #path6 {
        animation-delay: 1s; }
      body header .top-section .icon-9,
      body header .top-section .icon-10,
      body header .top-section #path9,
      body header .top-section #path10 {
        animation-delay: 2s; }
      body header .top-section .line-left {
        display: none; }
      body header .top-section .line-left.mobile {
        display: block; }
      body header .top-section .line-right {
        display: none; }
      body header .top-section .line-right.mobile {
        display: block; }
      body header .top-section .tube {
        width: 150px; } }

/*# sourceMappingURL=index.css.map */
