body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fbfcfc;

  header {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top-section {
      position: relative;
      background-color: #1e4e62;
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: flex-end;

      .title {
        margin: auto;
        margin-top: 15vh;
        text-align: center;
        font-family: Rajdhani;
        color: white;
        z-index: 7;
        font-size: 40px;
        padding: 0 40px;

        span {
          font-weight: 300;
        }
      }

      // Stars

      @function multiple-box-shadow($n) {
        $value: "#{random(2000)}px #{random(20000)}px #FFF";
        @for $i from 2 through $n {
          $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
        }
        @return unquote($value);
      }

      $shadows-small: multiple-box-shadow(700);
      $shadows-medium: multiple-box-shadow(200);
      $shadows-big: multiple-box-shadow(100);

      #stars {
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
        animation: animStar 40s linear infinite;

        &:after {
          content: " ";
          position: absolute;
          top: 2000px;
          width: 1px;
          height: 1px;
          background: transparent;
          box-shadow: $shadows-small;
        }
      }

      #stars2 {
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
        animation: animStar 80s linear infinite;

        &:after {
          content: " ";
          position: absolute;
          top: 2000px;
          width: 2px;
          height: 2px;
          background: transparent;
          box-shadow: $shadows-medium;
        }
      }

      #stars3 {
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big;
        animation: animStar 120s linear infinite;

        &:after {
          content: " ";
          position: absolute;
          top: 2000px;
          width: 3px;
          height: 3px;
          background: transparent;
          box-shadow: $shadows-big;
        }
      }

      @keyframes animStar {
        from {
          transform: translateY(0px);
        }
        to {
          transform: translateY(-2000px);
        }
      }

      //Icons and Trails

      .icon-sm {
        width: 30px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }

      .icon-md {
        width: 45px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }

      .icon-bg {
        width: 60px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }

      // Icon trails

      svg {
        position: absolute;
        top: 0;
        left: 0;

        path {
          opacity: 0;
          stroke: #346a816c;
          stroke-width: 10;
          fill: none;
          animation: dash 6.25s ease-in-out infinite;
        }

        #path1 {
          stroke-dasharray: calc(var(--pathLength1) / 1.5);
          stroke-dashoffset: calc(var(--pathLength1) / 2.5);
        }
        #path2 {
          stroke-dasharray: calc(var(--pathLength2) / 1.5);
          stroke-dashoffset: calc(var(--pathLength2) / 2.5);
        }
        #path3 {
          animation: dash-small 6.25s ease-in-out infinite;
          stroke-dasharray: calc(var(--pathLength3) / 1.5);
          stroke-dashoffset: calc(var(--pathLength3) / 2.5);
          animation-delay: 1.25s;
        }
        #path4 {
          animation: dash-small 6.25s ease-in-out infinite;
          stroke-dasharray: calc(var(--pathLength4) / 1.5);
          stroke-dashoffset: calc(var(--pathLength4) / 2.5);
          animation-delay: 1.25s;
        }
        #path5 {
          stroke-dasharray: calc(var(--pathLength5) / 1.5);
          stroke-dashoffset: calc(var(--pathLength5) / 2.5);
          animation-delay: 2.5s;
        }
        #path6 {
          stroke-dasharray: calc(var(--pathLength6) / 1.5);
          stroke-dashoffset: calc(var(--pathLength6) / 2.5);
          animation-delay: 2.5s;
        }
        #path7 {
          animation: dash-small 6.25s ease-in-out infinite;
          stroke-dasharray: calc(var(--pathLength7) / 1.5);
          stroke-dashoffset: calc(var(--pathLength7) / 2.5);
          animation-delay: 3.75s;
        }
        #path8 {
          animation: dash-small 6.25s ease-in-out infinite;
          stroke-dasharray: calc(var(--pathLength8) / 1.5);
          stroke-dashoffset: calc(var(--pathLength8) / 2.5);
          animation-delay: 3.75s;
        }
        #path9 {
          stroke-dasharray: calc(var(--pathLength9) / 1.5);
          stroke-dashoffset: calc(var(--pathLength9) / 2.5);
          animation-delay: 5s;
        }
        #path10 {
          stroke-dasharray: calc(var(--pathLength10) / 1.5);
          stroke-dashoffset: calc(var(--pathLength10) / 2.5);
          animation-delay: 5s;
        }
      }

      @keyframes dash {
        20% {
          opacity: 0;
        }
        25% {
          opacity: 1;
          stroke-width: 2;
        }
        34% {
          opacity: 1;
        }

        36% {
          opacity: 1;
        }

        40% {
          stroke-dashoffset: -100;
          stroke-width: 0;
          opacity: 0;
        }
        90% {
          display: none;
          opacity: 0;
        }
      }

      @keyframes dash-small {
        20% {
          opacity: 0;
        }
        25% {
          opacity: 1;
          stroke-width: 2;
        }
        34% {
          opacity: 1;
        }

        36% {
          opacity: 1;
        }

        40% {
          stroke-dashoffset: -50;
          stroke-width: 0;
          opacity: 0;
        }
        90% {
          display: none;
          opacity: 0;
        }
      }

      // Icons

      .icon-1 {
        transform: rotate(-25deg);
        offset-path: var(--path1);
        offset-rotate: 0deg;
        animation: suction 6.25s ease-in-out infinite;
      }

      .icon-2 {
        transform: rotate(25deg);
        offset-path: var(--path2);
        offset-rotate: 0deg;
        animation: suction 6.25s ease-in-out infinite;
      }
      .icon-3 {
        transform: rotate(-5deg);
        offset-path: var(--path3);
        offset-rotate: 0deg;
        animation: suction 6.25s ease-in-out infinite;
        animation-delay: 1.25s;
      }
      .icon-4 {
        transform: rotate(-120deg);
        offset-path: var(--path4);
        offset-rotate: 0deg;
        animation: suction 6.25s ease-in-out infinite;
        animation-delay: 1.25s;
      }
      .icon-5 {
        transform: rotate(-30deg);
        offset-path: var(--path5);
        offset-rotate: 0deg;
        animation: suction 6.25s ease-in-out infinite;
        animation-delay: 2.5s;
      }
      .icon-6 {
        transform: rotate(-15deg);
        offset-path: var(--path6);
        offset-rotate: 0deg;
        animation: suction 6.25s ease-in-out infinite;
        animation-delay: 2.5s;
      }
      .icon-7 {
        transform: rotate(10deg);
        offset-path: var(--path7);
        offset-rotate: 0deg;
        animation: suction 6.25s ease-in-out infinite;
        animation-delay: 3.75s;
      }
      .icon-8 {
        transform: rotate(15deg);
        offset-path: var(--path8);
        offset-rotate: 0deg;
        animation: suction 6.25s ease-in-out infinite;
        animation-delay: 3.75s;
      }
      .icon-9 {
        transform: rotate(-5deg);
        offset-path: var(--path9);
        offset-rotate: 0deg;
        animation: suction 6.25s ease-in-out infinite;
        animation-delay: 5s;
      }
      .icon-10 {
        offset-path: var(--path10);
        offset-rotate: 0deg;
        animation: suction 6.25s ease-in-out infinite;
        animation-delay: 5s;
      }

      @keyframes suction {
        36% {
          opacity: 1;
        }

        40% {
          offset-distance: 100%;
          offset-rotate: 0deg;
          transform: rotate(0deg);
          opacity: 0;
        }
        90% {
          display: none;
          opacity: 0;
        }
      }

      //Lines and Tube
      .tube {
        position: absolute;
        bottom: 0.5px;
        left: 50%;
        transform: translateX(-50%) translateY(100%);
        width: 200px;
        z-index: 3;
      }

      .line-left {
        position: absolute;
        bottom: -0.5px;
        left: 0;
        width: calc(50% - 99.5px);
        z-index: 2;
      }

      .line-right {
        position: absolute;
        bottom: -0.5px;
        right: 0;
        width: calc(50% - 99.5px);
        z-index: 2;
      }

      .mobile {
        display: none;
        width: calc(50% - 73px);
        bottom: -1px;
      }
    }

    .cloud {
      position: absolute;
      animation: cloudMove 20s linear 1;
      animation-fill-mode: forwards;
      z-index: 2;

      &.cloud-1 {
        width: 200px;
        bottom: 30vh;
        left: 50px;
      }

      &.cloud-2 {
        width: 100px;
        bottom: 15vh;
        left: 30%;
      }

      &.cloud-3 {
        width: 200px;
        bottom: 25vh;
        right: 100px;
      }

      &.cloud-4,
      &.cloud-7 {
        width: 200px;
        bottom: 30vh;
        left: calc(50px - 100vw);
        animation: cloudMove2 40s linear infinite;
      }

      &.cloud-5,
      &.cloud-8 {
        width: 100px;
        bottom: 15vh;
        left: calc(30% - 100vw);
        animation: cloudMove2 40s linear infinite;
      }

      &.cloud-6,
      &.cloud-9 {
        width: 200px;
        bottom: 25vh;
        right: calc(100px + 100vw);
        animation: cloudMove2 40s linear infinite;
      }

      &.cloud-7,
      &.cloud-8,
      &.cloud-9 {
        animation-delay: 20s;
      }
    }

    @keyframes cloudMove {
      90% {
        opacity: 1;
      }

      100% {
        transform: translateX(100vw);
        opacity: 0;
        display: none;
      }
    }

    @keyframes cloudMove2 {
      to {
        transform: translateX(200vw);
      }
    }

    .bottom-section {
      z-index: 3;
      height: 25vh;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;

      .building {
        min-width: 140px;
        max-width: 140px;
        width: 10%;
      }

      .skyline {
        position: absolute;
        height: 90%;
      }

      img#escombro-1 {
        opacity: 0;
        width: 8px;
        position: absolute;
        left: calc(50% - 50px);
        transform: translateX(-50%) rotate(-160deg);
        bottom: 40px;
        animation: swingTopLeft 1.25s ease-out 5;
        animation-delay: 2.4s;
      }

      img#escombro-2 {
        opacity: 0;
        width: 8px;
        position: absolute;
        left: calc(50% - 50px);
        transform: translateX(-50%) rotate(160deg);
        bottom: 30px;
        animation: swingBottomLeft 1.25s ease-out 5;
        animation-delay: 2.4s;
      }

      img#escombro-3 {
        opacity: 0;
        width: 8px;
        position: absolute;
        right: calc(50% - 55px);
        transform: translateX(-50%) rotate(-20deg);
        bottom: 40px;
        animation: swingTopRight 1.25s ease-out 5;
        animation-delay: 2.4s;
      }

      img#escombro-4 {
        opacity: 0;
        width: 8px;
        position: absolute;
        right: calc(50% - 55px);
        transform: translateX(-50%) rotate(20deg);
        bottom: 30px;
        animation: swingBottomRight 1.25s ease-out 5;
        animation-delay: 2.4s;
      }

      @keyframes swingTopRight {
        0% {
          opacity: 1;
        }

        95% {
          right: calc(50% - 65px);
          bottom: --escombroTop;
          opacity: 0;
        }
      }

      @keyframes swingBottomRight {
        0% {
          opacity: 1;
        }

        50% {
          opacity: 1;
        }

        95% {
          right: calc(50% - 65px);
          bottom: --escombroBottom;
          opacity: 0;
        }
      }

      @keyframes swingTopLeft {
        0% {
          opacity: 1;
        }

        95% {
          left: calc(50% - 65px);
          bottom: --escombroTop;
          opacity: 0;
        }
      }

      @keyframes swingBottomLeft {
        0% {
          opacity: 1;
        }

        50% {
          opacity: 1;
        }

        95% {
          left: calc(50% - 65px);
          bottom: --escombroBottom;
          opacity: 0;
        }
      }

      #building-1,
      #building-2,
      #building-3,
      #building-4,
      #building-5,
      #building-final {
        display: none;
      }

      #skyline-1,
      #skyline-2,
      #skyline-3,
      #skyline-4,
      #skyline-final {
        opacity: 0;
        transition: 1s;

        &.actual-skyline {
          opacity: 1;
          transition: 1s;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: 32px;
  }
}

@media (max-width: 700px) {
  body header {
    height: var(--mobileBrowserHeight);

    .top-section {
      height: 50%;

      .title {
        font-size: 28px;
        margin-top: 20%;
      }
      .icon-sm {
        width: 35px;
      }

      .icon-md {
        width: 40px;
      }

      .icon-bg {
        width: 45px;
      }

      .icon-1 {
        left: unset;
        right: unset;
        top: 5%;
        left: 10%;
        transform: translate(-50%, -50%) rotate(-35deg);
        animation: suction-mobile-1 3.75s ease-in-out infinite;
      }

      .icon-2 {
        left: unset;
        right: unset;
        top: 19%;
        left: 63%;
        transform: translate(-50%, -50%) rotate(35deg);
        animation: suction-mobile-2 3.75s ease-in-out infinite;
      }

      .icon-5 {
        left: unset;
        right: unset;
        top: 17%;
        left: 37%;
        transform: translate(-50%, -50%) rotate(25deg);
        animation: suction-mobile-3 3.75s ease-in-out infinite;
      }

      .icon-6 {
        left: unset;
        right: unset;
        top: 7%;
        left: 93%;
        transform: translate(-50%, -50%) rotate(-25deg);
        animation: suction-mobile-4 3.75s ease-in-out infinite;
      }

      .icon-9 {
        left: unset;
        right: unset;
        top: 82%;
        left: 32%;
        transform: translate(-50%, -50%) rotate(-55deg);
        animation: suction-mobile-5 3.75s ease-in-out infinite;
      }

      .icon-10 {
        left: unset;
        right: unset;
        top: 78%;
        left: 72%;
        transform: translate(-50%, -50%) rotate(55deg);
        animation: suction-mobile-6 3.75s ease-in-out infinite;
      }

      @keyframes suction-mobile-1 {
        33% {
          left: 60%;
          top: 5%;
          transform: translate(-50%, -50%);
        }
        59% {
          opacity: 1;
        }

        66% {
          left: 50%;
          top: 110%;
          transform: translate(-50%, -50%) rotate(0deg);
          opacity: 0;
        }
        95% {
          opacity: 0;
        }
      }

      @keyframes suction-mobile-2 {
        33% {
          left: 40%;
          top: 5%;
          transform: translate(-50%, -50%);
        }
        59% {
          opacity: 1;
        }

        66% {
          left: 50%;
          top: 110%;
          transform: translate(-50%, -50%) rotate(0deg);
          opacity: 0;
        }
        95% {
          opacity: 0;
        }
      }

      @keyframes suction-mobile-3 {
        33% {
          left: 75%;
          top: 10%;
          transform: translate(-50%, -50%);
        }
        59% {
          opacity: 1;
        }

        66% {
          left: 50%;
          top: 110%;
          transform: translate(-50%, -50%) rotate(0deg);
          opacity: 0;
        }
        95% {
          opacity: 0;
        }
      }

      @keyframes suction-mobile-4 {
        33% {
          left: 25%;
          top: 10%;
          transform: translate(-50%, -50%);
        }
        59% {
          opacity: 1;
        }

        66% {
          left: 50%;
          top: 110%;
          transform: translate(-50%, -50%) rotate(0deg);
          opacity: 0;
        }
        95% {
          opacity: 0;
        }
      }

      @keyframes suction-mobile-5 {
        33% {
          left: 80%;
          top: 65%;
          transform: translate(-50%, -50%);
        }
        59% {
          opacity: 1;
        }

        66% {
          left: 50%;
          top: 110%;
          transform: translate(-50%, -50%) rotate(0deg);
          opacity: 0;
        }
        95% {
          opacity: 0;
        }
      }

      @keyframes suction-mobile-6 {
        33% {
          left: 15%;
          top: 65%;
          transform: translate(-50%, -50%);
        }
        59% {
          opacity: 1;
        }

        66% {
          left: 50%;
          top: 110%;
          transform: translate(-50%, -50%) rotate(0deg);
          opacity: 0;
        }
        95% {
          opacity: 0;
        }
      }

      .icon-3,
      .icon-4,
      .icon-7,
      .icon-8,
      #path3,
      #path4,
      #path7,
      #path8 {
        display: none;
      }

      .icon-5,
      .icon-6,
      #path5,
      #path6 {
        animation-delay: 1.25s;
      }

      .icon-9,
      .icon-10,
      #path9,
      #path10 {
        animation-delay: 2.5s;
      }

      .line-left {
        display: none;
      }
      .line-left.mobile {
        display: block;
      }
      .line-right {
        display: none;
      }
      .line-right.mobile {
        display: block;
      }
      .tube {
        width: 150px;
      }
    }

    .cloud {
      &.cloud-1 {
        width: 150px;
        bottom: 30%;
        left: 0%;
      }

      &.cloud-2 {
        width: 75px;
        bottom: 15%;
        left: 40%;
      }

      &.cloud-3 {
        width: 150px;
        bottom: 25%;
        right: 0%;
      }

      &.cloud-4,
      &.cloud-7 {
        width: 150px;
        bottom: 30%;
        left: calc(0% - 100vw);
        animation: cloudMove2 40s linear infinite;
      }

      &.cloud-5,
      &.cloud-8 {
        width: 75px;
        bottom: 15%;
        left: calc(40% - 100vw);
        animation: cloudMove2 40s linear infinite;
      }

      &.cloud-6,
      &.cloud-9 {
        width: 150px;
        bottom: 25vh;
        right: calc(0% + 100vw);
        animation: cloudMove2 40s linear infinite;
      }
    }
  }
}
