body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fbfcfc; }
  body header,
  html header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    body header .top-section,
    html header .top-section {
      position: relative;
      background-color: #1e4e62;
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: flex-end; }
      body header .top-section .title,
      html header .top-section .title {
        margin: auto;
        margin-top: 15vh;
        text-align: center;
        font-family: Rajdhani;
        color: white;
        z-index: 7;
        font-size: 40px;
        padding: 0 40px; }
        body header .top-section .title span,
        html header .top-section .title span {
          font-weight: 300; }
      body header .top-section #stars,
      html header .top-section #stars {
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: 916px 4432px #FFF , 735px 1912px #FFF , 1450px 1464px #FFF , 1538px 1557px #FFF , 608px 1109px #FFF , 1086px 1096px #FFF , 1742px 243px #FFF , 1792px 1645px #FFF , 275px 1081px #FFF , 1018px 1823px #FFF , 827px 531px #FFF , 1662px 968px #FFF , 1530px 1148px #FFF , 551px 126px #FFF , 1105px 1678px #FFF , 1537px 987px #FFF , 66px 1495px #FFF , 277px 904px #FFF , 1936px 1088px #FFF , 549px 1203px #FFF , 1237px 1892px #FFF , 1681px 1989px #FFF , 245px 111px #FFF , 1203px 1186px #FFF , 358px 570px #FFF , 1443px 884px #FFF , 1717px 1397px #FFF , 1772px 2px #FFF , 1879px 812px #FFF , 1529px 625px #FFF , 117px 221px #FFF , 483px 249px #FFF , 1170px 455px #FFF , 345px 205px #FFF , 901px 1609px #FFF , 229px 132px #FFF , 89px 838px #FFF , 1233px 750px #FFF , 1072px 909px #FFF , 223px 1892px #FFF , 942px 23px #FFF , 1713px 329px #FFF , 1499px 1926px #FFF , 63px 837px #FFF , 129px 1477px #FFF , 143px 1707px #FFF , 1070px 132px #FFF , 1082px 1px #FFF , 1918px 1427px #FFF , 1324px 1350px #FFF , 1037px 945px #FFF , 588px 989px #FFF , 1315px 635px #FFF , 171px 1084px #FFF , 39px 1610px #FFF , 1240px 607px #FFF , 401px 1597px #FFF , 978px 606px #FFF , 1289px 1529px #FFF , 17px 997px #FFF , 1942px 809px #FFF , 151px 1145px #FFF , 1681px 987px #FFF , 1437px 1733px #FFF , 287px 102px #FFF , 43px 341px #FFF , 434px 1487px #FFF , 1003px 606px #FFF , 1070px 1408px #FFF , 1135px 1081px #FFF , 680px 738px #FFF , 1161px 1466px #FFF , 836px 1581px #FFF , 770px 439px #FFF , 1585px 1441px #FFF , 1578px 847px #FFF , 755px 1070px #FFF , 1469px 1361px #FFF , 279px 1574px #FFF , 596px 1329px #FFF , 1492px 1665px #FFF , 170px 912px #FFF , 678px 1372px #FFF , 1585px 880px #FFF , 1111px 854px #FFF , 1429px 1141px #FFF , 1467px 740px #FFF , 1357px 1791px #FFF , 708px 1125px #FFF , 425px 1197px #FFF , 203px 305px #FFF , 1082px 327px #FFF , 1441px 1785px #FFF , 853px 1337px #FFF , 1489px 1994px #FFF , 1875px 942px #FFF , 73px 1482px #FFF , 985px 27px #FFF , 496px 1099px #FFF , 647px 869px #FFF , 551px 1177px #FFF , 1671px 1934px #FFF , 1681px 1570px #FFF , 393px 679px #FFF , 1764px 1785px #FFF , 1552px 1706px #FFF , 320px 38px #FFF , 1063px 193px #FFF , 311px 1870px #FFF , 147px 30px #FFF , 1950px 877px #FFF , 1648px 976px #FFF , 1328px 899px #FFF , 1256px 1458px #FFF , 971px 1001px #FFF , 1339px 841px #FFF , 1181px 373px #FFF , 1864px 217px #FFF , 309px 1124px #FFF , 1118px 1365px #FFF , 1699px 1945px #FFF , 1403px 1032px #FFF , 909px 1866px #FFF , 1448px 1862px #FFF , 967px 220px #FFF , 1117px 1594px #FFF , 877px 935px #FFF , 857px 1881px #FFF , 1259px 1816px #FFF , 855px 18px #FFF , 80px 725px #FFF , 1756px 1464px #FFF , 1022px 219px #FFF , 1661px 1903px #FFF , 1496px 1720px #FFF , 552px 155px #FFF , 1937px 518px #FFF , 1398px 672px #FFF , 1306px 1493px #FFF , 887px 640px #FFF , 1371px 1268px #FFF , 715px 101px #FFF , 1965px 288px #FFF , 963px 1392px #FFF , 886px 844px #FFF , 1265px 1553px #FFF , 853px 1909px #FFF , 1109px 1288px #FFF , 1191px 28px #FFF , 1557px 1382px #FFF , 1100px 1873px #FFF , 1308px 893px #FFF , 1632px 414px #FFF , 1762px 1648px #FFF , 752px 656px #FFF , 1738px 661px #FFF , 1593px 1260px #FFF , 147px 947px #FFF , 799px 981px #FFF , 1801px 83px #FFF , 702px 1239px #FFF , 790px 1245px #FFF , 212px 858px #FFF , 956px 1497px #FFF , 1500px 1750px #FFF , 844px 908px #FFF , 224px 341px #FFF , 1142px 1324px #FFF , 901px 1965px #FFF , 1484px 1085px #FFF , 1311px 351px #FFF , 1491px 1669px #FFF , 1003px 1460px #FFF , 631px 1571px #FFF , 1028px 451px #FFF , 68px 74px #FFF , 1238px 346px #FFF , 1176px 1525px #FFF , 114px 1810px #FFF , 964px 1867px #FFF , 478px 1149px #FFF , 1187px 351px #FFF , 1830px 276px #FFF , 1146px 724px #FFF , 494px 349px #FFF , 989px 424px #FFF , 1847px 102px #FFF , 458px 1868px #FFF , 513px 305px #FFF , 1746px 1171px #FFF , 137px 377px #FFF , 1359px 240px #FFF , 373px 384px #FFF , 1334px 226px #FFF , 304px 168px #FFF , 299px 1046px #FFF , 986px 655px #FFF , 232px 1823px #FFF , 150px 491px #FFF , 215px 64px #FFF , 1237px 1962px #FFF , 1213px 1624px #FFF , 238px 1291px #FFF , 439px 305px #FFF , 1640px 1218px #FFF , 136px 1020px #FFF , 1064px 600px #FFF , 1120px 1043px #FFF , 1596px 236px #FFF , 1902px 1089px #FFF , 584px 385px #FFF , 730px 99px #FFF , 825px 646px #FFF , 329px 1363px #FFF , 924px 995px #FFF , 651px 925px #FFF , 1105px 841px #FFF , 835px 63px #FFF , 1184px 600px #FFF , 32px 224px #FFF , 1491px 1154px #FFF , 48px 67px #FFF , 1778px 1541px #FFF , 317px 1690px #FFF , 1401px 1939px #FFF , 204px 1000px #FFF , 202px 1349px #FFF , 1016px 831px #FFF , 1055px 35px #FFF , 153px 897px #FFF , 798px 1422px #FFF , 1221px 729px #FFF , 1960px 215px #FFF , 1352px 680px #FFF , 677px 1741px #FFF , 1745px 1213px #FFF , 1956px 1897px #FFF , 1711px 1074px #FFF , 1143px 493px #FFF , 871px 1277px #FFF , 1966px 1288px #FFF , 1571px 1975px #FFF , 328px 719px #FFF , 175px 1781px #FFF , 1312px 626px #FFF , 1881px 304px #FFF , 1797px 185px #FFF , 623px 897px #FFF , 1731px 1253px #FFF , 520px 1115px #FFF , 1342px 980px #FFF , 1433px 1687px #FFF , 922px 1444px #FFF , 1371px 1154px #FFF , 1598px 1571px #FFF , 1241px 1583px #FFF , 1932px 171px #FFF , 563px 339px #FFF , 534px 1056px #FFF , 208px 1244px #FFF , 70px 1291px #FFF , 1826px 380px #FFF , 627px 917px #FFF , 1698px 640px #FFF , 69px 1861px #FFF , 45px 505px #FFF , 1902px 1619px #FFF , 1178px 1099px #FFF , 1839px 927px #FFF , 1722px 1013px #FFF , 158px 1514px #FFF , 977px 1615px #FFF , 1917px 61px #FFF , 789px 256px #FFF , 230px 609px #FFF , 1077px 1364px #FFF , 134px 715px #FFF , 2px 1927px #FFF , 1162px 1006px #FFF , 71px 119px #FFF , 1603px 642px #FFF , 1958px 1182px #FFF , 1322px 111px #FFF , 1750px 1327px #FFF , 1373px 861px #FFF , 106px 1455px #FFF , 321px 1197px #FFF , 576px 24px #FFF , 981px 1381px #FFF , 399px 932px #FFF , 1588px 1154px #FFF , 1815px 1035px #FFF , 1674px 1259px #FFF , 79px 1071px #FFF , 1366px 299px #FFF , 654px 255px #FFF , 378px 451px #FFF , 1994px 1845px #FFF , 379px 1422px #FFF , 1359px 316px #FFF , 1724px 874px #FFF , 843px 831px #FFF , 1078px 1337px #FFF , 391px 121px #FFF , 37px 217px #FFF , 1386px 1313px #FFF , 156px 1085px #FFF , 78px 1839px #FFF , 112px 76px #FFF , 232px 1248px #FFF , 309px 300px #FFF , 677px 682px #FFF , 1596px 1205px #FFF , 325px 1347px #FFF , 1843px 1491px #FFF , 1078px 233px #FFF , 1154px 1198px #FFF , 1060px 1440px #FFF , 265px 119px #FFF , 367px 1523px #FFF , 1040px 832px #FFF , 1907px 1719px #FFF , 1026px 752px #FFF , 1237px 1700px #FFF , 613px 297px #FFF , 1452px 682px #FFF , 1932px 1216px #FFF , 1884px 1677px #FFF , 870px 950px #FFF , 839px 721px #FFF , 603px 822px #FFF , 1670px 1446px #FFF , 810px 1412px #FFF , 1805px 1436px #FFF , 1466px 1168px #FFF , 1308px 1196px #FFF , 363px 1937px #FFF , 1415px 1508px #FFF , 665px 976px #FFF , 631px 1696px #FFF , 1856px 899px #FFF , 1144px 1553px #FFF , 1407px 1044px #FFF , 1288px 1129px #FFF , 1688px 1152px #FFF , 1985px 72px #FFF , 1732px 1814px #FFF , 1085px 1845px #FFF , 1417px 626px #FFF , 1377px 1381px #FFF , 1640px 587px #FFF , 819px 1258px #FFF , 1202px 662px #FFF , 64px 374px #FFF , 159px 1497px #FFF , 1461px 1751px #FFF , 1711px 312px #FFF , 1602px 1241px #FFF , 331px 733px #FFF , 1871px 1335px #FFF , 1138px 1061px #FFF , 1807px 1530px #FFF , 219px 380px #FFF , 547px 159px #FFF , 258px 1646px #FFF , 163px 782px #FFF , 1770px 1774px #FFF , 526px 1392px #FFF , 1414px 1299px #FFF , 365px 163px #FFF , 1983px 280px #FFF , 80px 1199px #FFF , 575px 1294px #FFF , 1294px 1212px #FFF , 1550px 1306px #FFF , 1724px 1934px #FFF , 647px 420px #FFF , 1380px 170px #FFF , 1601px 1537px #FFF , 1912px 1046px #FFF , 67px 1891px #FFF , 204px 543px #FFF , 1923px 1095px #FFF , 112px 1731px #FFF , 1606px 840px #FFF , 104px 1686px #FFF , 1624px 1029px #FFF , 437px 774px #FFF , 757px 6px #FFF , 55px 1146px #FFF , 287px 602px #FFF , 1563px 401px #FFF , 1084px 204px #FFF , 1247px 129px #FFF , 108px 404px #FFF , 653px 645px #FFF , 689px 275px #FFF , 125px 983px #FFF , 1318px 756px #FFF , 803px 252px #FFF , 1650px 164px #FFF , 78px 361px #FFF , 1492px 854px #FFF , 831px 1443px #FFF , 181px 1156px #FFF , 960px 81px #FFF , 805px 1303px #FFF , 1972px 236px #FFF , 352px 806px #FFF , 631px 565px #FFF , 248px 1107px #FFF , 421px 1487px #FFF , 1548px 649px #FFF , 417px 1522px #FFF , 1502px 822px #FFF , 1776px 1409px #FFF , 780px 546px #FFF , 1875px 36px #FFF , 578px 163px #FFF , 256px 1389px #FFF , 1123px 930px #FFF , 254px 494px #FFF , 1886px 1665px #FFF , 304px 167px #FFF , 1387px 1922px #FFF , 609px 1452px #FFF , 1454px 156px #FFF , 994px 1306px #FFF , 1917px 1029px #FFF , 550px 1136px #FFF , 237px 70px #FFF , 1541px 455px #FFF , 1260px 919px #FFF , 1668px 1050px #FFF , 1465px 1504px #FFF , 1029px 1474px #FFF , 124px 788px #FFF , 812px 469px #FFF , 251px 1923px #FFF , 1582px 1826px #FFF , 440px 1302px #FFF , 1118px 881px #FFF , 1869px 1826px #FFF , 500px 1987px #FFF , 1617px 1793px #FFF , 595px 1438px #FFF , 1375px 1940px #FFF , 1468px 810px #FFF , 1749px 1659px #FFF , 174px 209px #FFF , 495px 700px #FFF , 601px 1236px #FFF , 1557px 1070px #FFF , 342px 1123px #FFF , 691px 266px #FFF , 1264px 1000px #FFF , 1855px 315px #FFF , 1706px 1113px #FFF , 1106px 288px #FFF , 760px 1114px #FFF , 1851px 1361px #FFF , 895px 1486px #FFF , 1593px 1471px #FFF , 1980px 915px #FFF , 972px 1042px #FFF , 23px 1106px #FFF , 25px 1575px #FFF , 178px 83px #FFF , 1333px 1529px #FFF , 1846px 250px #FFF , 85px 1169px #FFF , 585px 1466px #FFF , 1785px 1234px #FFF , 1053px 1740px #FFF , 1215px 823px #FFF , 994px 1055px #FFF , 1185px 1734px #FFF , 1681px 344px #FFF , 399px 659px #FFF , 589px 319px #FFF , 1420px 1095px #FFF , 344px 631px #FFF , 1964px 1795px #FFF , 487px 1433px #FFF , 392px 735px #FFF , 792px 922px #FFF , 1777px 266px #FFF , 1846px 354px #FFF , 1245px 702px #FFF , 1963px 1488px #FFF , 1919px 577px #FFF , 1446px 1536px #FFF , 634px 376px #FFF , 669px 777px #FFF , 1710px 723px #FFF , 561px 1122px #FFF , 1629px 1390px #FFF , 832px 721px #FFF , 265px 406px #FFF , 1791px 547px #FFF , 1540px 295px #FFF , 1857px 1872px #FFF , 813px 568px #FFF , 1538px 266px #FFF , 537px 961px #FFF , 762px 936px #FFF , 712px 1050px #FFF , 1494px 438px #FFF , 939px 306px #FFF , 925px 279px #FFF , 734px 1014px #FFF , 1512px 1744px #FFF , 1206px 1137px #FFF , 135px 511px #FFF , 1210px 132px #FFF , 1268px 1308px #FFF , 273px 470px #FFF , 76px 1064px #FFF , 140px 132px #FFF , 800px 282px #FFF , 582px 1732px #FFF , 1002px 1056px #FFF , 135px 1163px #FFF , 1591px 538px #FFF , 929px 1983px #FFF , 955px 828px #FFF , 904px 785px #FFF , 1944px 1073px #FFF , 1671px 1535px #FFF , 752px 1994px #FFF , 68px 230px #FFF , 938px 1252px #FFF , 1943px 816px #FFF , 1953px 1328px #FFF , 1318px 1448px #FFF , 1457px 577px #FFF , 342px 392px #FFF , 850px 1144px #FFF , 528px 1938px #FFF , 1249px 404px #FFF , 1050px 592px #FFF , 747px 1906px #FFF , 249px 179px #FFF , 1799px 1358px #FFF , 1788px 1267px #FFF , 832px 1148px #FFF , 206px 1045px #FFF , 1579px 888px #FFF , 1579px 1995px #FFF , 78px 1228px #FFF , 793px 1747px #FFF , 1527px 1515px #FFF , 202px 793px #FFF , 740px 844px #FFF , 1627px 1352px #FFF , 992px 1350px #FFF , 566px 498px #FFF , 1031px 340px #FFF , 1021px 1622px #FFF , 1019px 542px #FFF , 513px 1239px #FFF , 1406px 1610px #FFF , 264px 33px #FFF , 1523px 256px #FFF , 799px 359px #FFF , 341px 1703px #FFF , 581px 1480px #FFF , 214px 189px #FFF , 1149px 1132px #FFF , 1983px 1978px #FFF , 1828px 1029px #FFF , 609px 199px #FFF , 1820px 242px #FFF , 515px 1796px #FFF , 1487px 935px #FFF , 897px 562px #FFF , 1871px 205px #FFF , 178px 1150px #FFF , 1636px 341px #FFF , 1446px 19px #FFF , 1511px 1044px #FFF , 81px 1082px #FFF , 498px 1201px #FFF , 88px 1792px #FFF , 1958px 1216px #FFF , 1082px 920px #FFF , 797px 294px #FFF , 88px 765px #FFF , 1249px 1192px #FFF , 154px 1390px #FFF , 1001px 1004px #FFF , 463px 31px #FFF , 777px 1887px #FFF , 1220px 688px #FFF , 1626px 231px #FFF , 607px 573px #FFF , 1307px 1231px #FFF , 126px 1609px #FFF , 1941px 999px #FFF , 919px 1140px #FFF , 112px 728px #FFF , 84px 1483px #FFF , 1719px 245px #FFF , 581px 863px #FFF , 1109px 1790px #FFF , 1987px 668px #FFF , 1986px 548px #FFF , 1198px 1629px #FFF , 483px 1491px #FFF , 1332px 1853px #FFF , 80px 770px #FFF , 1695px 899px #FFF , 1791px 1936px #FFF , 1644px 564px #FFF , 1700px 398px #FFF , 440px 653px #FFF , 1688px 669px #FFF , 1404px 1629px #FFF , 893px 1898px #FFF , 451px 1441px #FFF , 921px 457px #FFF , 746px 1167px #FFF , 608px 1413px #FFF , 962px 901px #FFF , 914px 698px #FFF , 1735px 206px #FFF , 176px 1793px #FFF , 852px 1865px #FFF , 1320px 1488px #FFF , 444px 570px #FFF , 542px 1905px #FFF , 1789px 835px #FFF , 1753px 1967px #FFF , 781px 1058px #FFF , 1164px 1368px #FFF , 638px 490px #FFF , 1356px 42px #FFF , 602px 317px #FFF , 269px 134px #FFF , 1199px 1690px #FFF , 180px 1593px #FFF , 1820px 100px #FFF , 410px 1920px #FFF , 1716px 1114px #FFF , 1297px 1314px #FFF , 1415px 1756px #FFF , 1468px 1924px #FFF , 904px 1678px #FFF , 637px 1678px #FFF , 1854px 1263px #FFF , 1580px 528px #FFF , 1414px 1695px #FFF , 1933px 577px #FFF , 24px 1377px #FFF , 801px 335px #FFF , 1323px 259px #FFF , 411px 312px #FFF , 1394px 1409px #FFF , 992px 981px #FFF , 595px 1820px #FFF , 248px 1395px #FFF , 1341px 1932px #FFF , 848px 1733px #FFF , 1384px 1907px #FFF , 1453px 272px #FFF , 264px 45px #FFF , 1932px 124px #FFF , 473px 1249px #FFF , 1223px 1519px #FFF , 631px 195px #FFF , 722px 23px #FFF , 289px 601px #FFF , 217px 523px #FFF , 303px 783px #FFF , 1162px 1790px #FFF , 1194px 1701px #FFF , 1043px 311px #FFF , 738px 157px #FFF , 1387px 355px #FFF , 1355px 212px #FFF , 1873px 303px #FFF , 731px 362px #FFF , 375px 1618px #FFF , 51px 169px #FFF , 292px 1161px #FFF , 1042px 841px #FFF , 742px 711px #FFF , 646px 1326px #FFF , 1228px 799px #FFF , 206px 206px #FFF , 62px 52px #FFF , 1231px 514px #FFF , 1012px 1306px #FFF , 152px 656px #FFF , 626px 1858px #FFF , 1323px 1481px #FFF , 1916px 1381px #FFF , 249px 1320px #FFF , 763px 527px #FFF , 1947px 961px #FFF;
        animation: animStar 40s linear infinite; }
        body header .top-section #stars:after,
        html header .top-section #stars:after {
          content: " ";
          position: absolute;
          top: 2000px;
          width: 1px;
          height: 1px;
          background: transparent;
          box-shadow: 916px 4432px #FFF , 735px 1912px #FFF , 1450px 1464px #FFF , 1538px 1557px #FFF , 608px 1109px #FFF , 1086px 1096px #FFF , 1742px 243px #FFF , 1792px 1645px #FFF , 275px 1081px #FFF , 1018px 1823px #FFF , 827px 531px #FFF , 1662px 968px #FFF , 1530px 1148px #FFF , 551px 126px #FFF , 1105px 1678px #FFF , 1537px 987px #FFF , 66px 1495px #FFF , 277px 904px #FFF , 1936px 1088px #FFF , 549px 1203px #FFF , 1237px 1892px #FFF , 1681px 1989px #FFF , 245px 111px #FFF , 1203px 1186px #FFF , 358px 570px #FFF , 1443px 884px #FFF , 1717px 1397px #FFF , 1772px 2px #FFF , 1879px 812px #FFF , 1529px 625px #FFF , 117px 221px #FFF , 483px 249px #FFF , 1170px 455px #FFF , 345px 205px #FFF , 901px 1609px #FFF , 229px 132px #FFF , 89px 838px #FFF , 1233px 750px #FFF , 1072px 909px #FFF , 223px 1892px #FFF , 942px 23px #FFF , 1713px 329px #FFF , 1499px 1926px #FFF , 63px 837px #FFF , 129px 1477px #FFF , 143px 1707px #FFF , 1070px 132px #FFF , 1082px 1px #FFF , 1918px 1427px #FFF , 1324px 1350px #FFF , 1037px 945px #FFF , 588px 989px #FFF , 1315px 635px #FFF , 171px 1084px #FFF , 39px 1610px #FFF , 1240px 607px #FFF , 401px 1597px #FFF , 978px 606px #FFF , 1289px 1529px #FFF , 17px 997px #FFF , 1942px 809px #FFF , 151px 1145px #FFF , 1681px 987px #FFF , 1437px 1733px #FFF , 287px 102px #FFF , 43px 341px #FFF , 434px 1487px #FFF , 1003px 606px #FFF , 1070px 1408px #FFF , 1135px 1081px #FFF , 680px 738px #FFF , 1161px 1466px #FFF , 836px 1581px #FFF , 770px 439px #FFF , 1585px 1441px #FFF , 1578px 847px #FFF , 755px 1070px #FFF , 1469px 1361px #FFF , 279px 1574px #FFF , 596px 1329px #FFF , 1492px 1665px #FFF , 170px 912px #FFF , 678px 1372px #FFF , 1585px 880px #FFF , 1111px 854px #FFF , 1429px 1141px #FFF , 1467px 740px #FFF , 1357px 1791px #FFF , 708px 1125px #FFF , 425px 1197px #FFF , 203px 305px #FFF , 1082px 327px #FFF , 1441px 1785px #FFF , 853px 1337px #FFF , 1489px 1994px #FFF , 1875px 942px #FFF , 73px 1482px #FFF , 985px 27px #FFF , 496px 1099px #FFF , 647px 869px #FFF , 551px 1177px #FFF , 1671px 1934px #FFF , 1681px 1570px #FFF , 393px 679px #FFF , 1764px 1785px #FFF , 1552px 1706px #FFF , 320px 38px #FFF , 1063px 193px #FFF , 311px 1870px #FFF , 147px 30px #FFF , 1950px 877px #FFF , 1648px 976px #FFF , 1328px 899px #FFF , 1256px 1458px #FFF , 971px 1001px #FFF , 1339px 841px #FFF , 1181px 373px #FFF , 1864px 217px #FFF , 309px 1124px #FFF , 1118px 1365px #FFF , 1699px 1945px #FFF , 1403px 1032px #FFF , 909px 1866px #FFF , 1448px 1862px #FFF , 967px 220px #FFF , 1117px 1594px #FFF , 877px 935px #FFF , 857px 1881px #FFF , 1259px 1816px #FFF , 855px 18px #FFF , 80px 725px #FFF , 1756px 1464px #FFF , 1022px 219px #FFF , 1661px 1903px #FFF , 1496px 1720px #FFF , 552px 155px #FFF , 1937px 518px #FFF , 1398px 672px #FFF , 1306px 1493px #FFF , 887px 640px #FFF , 1371px 1268px #FFF , 715px 101px #FFF , 1965px 288px #FFF , 963px 1392px #FFF , 886px 844px #FFF , 1265px 1553px #FFF , 853px 1909px #FFF , 1109px 1288px #FFF , 1191px 28px #FFF , 1557px 1382px #FFF , 1100px 1873px #FFF , 1308px 893px #FFF , 1632px 414px #FFF , 1762px 1648px #FFF , 752px 656px #FFF , 1738px 661px #FFF , 1593px 1260px #FFF , 147px 947px #FFF , 799px 981px #FFF , 1801px 83px #FFF , 702px 1239px #FFF , 790px 1245px #FFF , 212px 858px #FFF , 956px 1497px #FFF , 1500px 1750px #FFF , 844px 908px #FFF , 224px 341px #FFF , 1142px 1324px #FFF , 901px 1965px #FFF , 1484px 1085px #FFF , 1311px 351px #FFF , 1491px 1669px #FFF , 1003px 1460px #FFF , 631px 1571px #FFF , 1028px 451px #FFF , 68px 74px #FFF , 1238px 346px #FFF , 1176px 1525px #FFF , 114px 1810px #FFF , 964px 1867px #FFF , 478px 1149px #FFF , 1187px 351px #FFF , 1830px 276px #FFF , 1146px 724px #FFF , 494px 349px #FFF , 989px 424px #FFF , 1847px 102px #FFF , 458px 1868px #FFF , 513px 305px #FFF , 1746px 1171px #FFF , 137px 377px #FFF , 1359px 240px #FFF , 373px 384px #FFF , 1334px 226px #FFF , 304px 168px #FFF , 299px 1046px #FFF , 986px 655px #FFF , 232px 1823px #FFF , 150px 491px #FFF , 215px 64px #FFF , 1237px 1962px #FFF , 1213px 1624px #FFF , 238px 1291px #FFF , 439px 305px #FFF , 1640px 1218px #FFF , 136px 1020px #FFF , 1064px 600px #FFF , 1120px 1043px #FFF , 1596px 236px #FFF , 1902px 1089px #FFF , 584px 385px #FFF , 730px 99px #FFF , 825px 646px #FFF , 329px 1363px #FFF , 924px 995px #FFF , 651px 925px #FFF , 1105px 841px #FFF , 835px 63px #FFF , 1184px 600px #FFF , 32px 224px #FFF , 1491px 1154px #FFF , 48px 67px #FFF , 1778px 1541px #FFF , 317px 1690px #FFF , 1401px 1939px #FFF , 204px 1000px #FFF , 202px 1349px #FFF , 1016px 831px #FFF , 1055px 35px #FFF , 153px 897px #FFF , 798px 1422px #FFF , 1221px 729px #FFF , 1960px 215px #FFF , 1352px 680px #FFF , 677px 1741px #FFF , 1745px 1213px #FFF , 1956px 1897px #FFF , 1711px 1074px #FFF , 1143px 493px #FFF , 871px 1277px #FFF , 1966px 1288px #FFF , 1571px 1975px #FFF , 328px 719px #FFF , 175px 1781px #FFF , 1312px 626px #FFF , 1881px 304px #FFF , 1797px 185px #FFF , 623px 897px #FFF , 1731px 1253px #FFF , 520px 1115px #FFF , 1342px 980px #FFF , 1433px 1687px #FFF , 922px 1444px #FFF , 1371px 1154px #FFF , 1598px 1571px #FFF , 1241px 1583px #FFF , 1932px 171px #FFF , 563px 339px #FFF , 534px 1056px #FFF , 208px 1244px #FFF , 70px 1291px #FFF , 1826px 380px #FFF , 627px 917px #FFF , 1698px 640px #FFF , 69px 1861px #FFF , 45px 505px #FFF , 1902px 1619px #FFF , 1178px 1099px #FFF , 1839px 927px #FFF , 1722px 1013px #FFF , 158px 1514px #FFF , 977px 1615px #FFF , 1917px 61px #FFF , 789px 256px #FFF , 230px 609px #FFF , 1077px 1364px #FFF , 134px 715px #FFF , 2px 1927px #FFF , 1162px 1006px #FFF , 71px 119px #FFF , 1603px 642px #FFF , 1958px 1182px #FFF , 1322px 111px #FFF , 1750px 1327px #FFF , 1373px 861px #FFF , 106px 1455px #FFF , 321px 1197px #FFF , 576px 24px #FFF , 981px 1381px #FFF , 399px 932px #FFF , 1588px 1154px #FFF , 1815px 1035px #FFF , 1674px 1259px #FFF , 79px 1071px #FFF , 1366px 299px #FFF , 654px 255px #FFF , 378px 451px #FFF , 1994px 1845px #FFF , 379px 1422px #FFF , 1359px 316px #FFF , 1724px 874px #FFF , 843px 831px #FFF , 1078px 1337px #FFF , 391px 121px #FFF , 37px 217px #FFF , 1386px 1313px #FFF , 156px 1085px #FFF , 78px 1839px #FFF , 112px 76px #FFF , 232px 1248px #FFF , 309px 300px #FFF , 677px 682px #FFF , 1596px 1205px #FFF , 325px 1347px #FFF , 1843px 1491px #FFF , 1078px 233px #FFF , 1154px 1198px #FFF , 1060px 1440px #FFF , 265px 119px #FFF , 367px 1523px #FFF , 1040px 832px #FFF , 1907px 1719px #FFF , 1026px 752px #FFF , 1237px 1700px #FFF , 613px 297px #FFF , 1452px 682px #FFF , 1932px 1216px #FFF , 1884px 1677px #FFF , 870px 950px #FFF , 839px 721px #FFF , 603px 822px #FFF , 1670px 1446px #FFF , 810px 1412px #FFF , 1805px 1436px #FFF , 1466px 1168px #FFF , 1308px 1196px #FFF , 363px 1937px #FFF , 1415px 1508px #FFF , 665px 976px #FFF , 631px 1696px #FFF , 1856px 899px #FFF , 1144px 1553px #FFF , 1407px 1044px #FFF , 1288px 1129px #FFF , 1688px 1152px #FFF , 1985px 72px #FFF , 1732px 1814px #FFF , 1085px 1845px #FFF , 1417px 626px #FFF , 1377px 1381px #FFF , 1640px 587px #FFF , 819px 1258px #FFF , 1202px 662px #FFF , 64px 374px #FFF , 159px 1497px #FFF , 1461px 1751px #FFF , 1711px 312px #FFF , 1602px 1241px #FFF , 331px 733px #FFF , 1871px 1335px #FFF , 1138px 1061px #FFF , 1807px 1530px #FFF , 219px 380px #FFF , 547px 159px #FFF , 258px 1646px #FFF , 163px 782px #FFF , 1770px 1774px #FFF , 526px 1392px #FFF , 1414px 1299px #FFF , 365px 163px #FFF , 1983px 280px #FFF , 80px 1199px #FFF , 575px 1294px #FFF , 1294px 1212px #FFF , 1550px 1306px #FFF , 1724px 1934px #FFF , 647px 420px #FFF , 1380px 170px #FFF , 1601px 1537px #FFF , 1912px 1046px #FFF , 67px 1891px #FFF , 204px 543px #FFF , 1923px 1095px #FFF , 112px 1731px #FFF , 1606px 840px #FFF , 104px 1686px #FFF , 1624px 1029px #FFF , 437px 774px #FFF , 757px 6px #FFF , 55px 1146px #FFF , 287px 602px #FFF , 1563px 401px #FFF , 1084px 204px #FFF , 1247px 129px #FFF , 108px 404px #FFF , 653px 645px #FFF , 689px 275px #FFF , 125px 983px #FFF , 1318px 756px #FFF , 803px 252px #FFF , 1650px 164px #FFF , 78px 361px #FFF , 1492px 854px #FFF , 831px 1443px #FFF , 181px 1156px #FFF , 960px 81px #FFF , 805px 1303px #FFF , 1972px 236px #FFF , 352px 806px #FFF , 631px 565px #FFF , 248px 1107px #FFF , 421px 1487px #FFF , 1548px 649px #FFF , 417px 1522px #FFF , 1502px 822px #FFF , 1776px 1409px #FFF , 780px 546px #FFF , 1875px 36px #FFF , 578px 163px #FFF , 256px 1389px #FFF , 1123px 930px #FFF , 254px 494px #FFF , 1886px 1665px #FFF , 304px 167px #FFF , 1387px 1922px #FFF , 609px 1452px #FFF , 1454px 156px #FFF , 994px 1306px #FFF , 1917px 1029px #FFF , 550px 1136px #FFF , 237px 70px #FFF , 1541px 455px #FFF , 1260px 919px #FFF , 1668px 1050px #FFF , 1465px 1504px #FFF , 1029px 1474px #FFF , 124px 788px #FFF , 812px 469px #FFF , 251px 1923px #FFF , 1582px 1826px #FFF , 440px 1302px #FFF , 1118px 881px #FFF , 1869px 1826px #FFF , 500px 1987px #FFF , 1617px 1793px #FFF , 595px 1438px #FFF , 1375px 1940px #FFF , 1468px 810px #FFF , 1749px 1659px #FFF , 174px 209px #FFF , 495px 700px #FFF , 601px 1236px #FFF , 1557px 1070px #FFF , 342px 1123px #FFF , 691px 266px #FFF , 1264px 1000px #FFF , 1855px 315px #FFF , 1706px 1113px #FFF , 1106px 288px #FFF , 760px 1114px #FFF , 1851px 1361px #FFF , 895px 1486px #FFF , 1593px 1471px #FFF , 1980px 915px #FFF , 972px 1042px #FFF , 23px 1106px #FFF , 25px 1575px #FFF , 178px 83px #FFF , 1333px 1529px #FFF , 1846px 250px #FFF , 85px 1169px #FFF , 585px 1466px #FFF , 1785px 1234px #FFF , 1053px 1740px #FFF , 1215px 823px #FFF , 994px 1055px #FFF , 1185px 1734px #FFF , 1681px 344px #FFF , 399px 659px #FFF , 589px 319px #FFF , 1420px 1095px #FFF , 344px 631px #FFF , 1964px 1795px #FFF , 487px 1433px #FFF , 392px 735px #FFF , 792px 922px #FFF , 1777px 266px #FFF , 1846px 354px #FFF , 1245px 702px #FFF , 1963px 1488px #FFF , 1919px 577px #FFF , 1446px 1536px #FFF , 634px 376px #FFF , 669px 777px #FFF , 1710px 723px #FFF , 561px 1122px #FFF , 1629px 1390px #FFF , 832px 721px #FFF , 265px 406px #FFF , 1791px 547px #FFF , 1540px 295px #FFF , 1857px 1872px #FFF , 813px 568px #FFF , 1538px 266px #FFF , 537px 961px #FFF , 762px 936px #FFF , 712px 1050px #FFF , 1494px 438px #FFF , 939px 306px #FFF , 925px 279px #FFF , 734px 1014px #FFF , 1512px 1744px #FFF , 1206px 1137px #FFF , 135px 511px #FFF , 1210px 132px #FFF , 1268px 1308px #FFF , 273px 470px #FFF , 76px 1064px #FFF , 140px 132px #FFF , 800px 282px #FFF , 582px 1732px #FFF , 1002px 1056px #FFF , 135px 1163px #FFF , 1591px 538px #FFF , 929px 1983px #FFF , 955px 828px #FFF , 904px 785px #FFF , 1944px 1073px #FFF , 1671px 1535px #FFF , 752px 1994px #FFF , 68px 230px #FFF , 938px 1252px #FFF , 1943px 816px #FFF , 1953px 1328px #FFF , 1318px 1448px #FFF , 1457px 577px #FFF , 342px 392px #FFF , 850px 1144px #FFF , 528px 1938px #FFF , 1249px 404px #FFF , 1050px 592px #FFF , 747px 1906px #FFF , 249px 179px #FFF , 1799px 1358px #FFF , 1788px 1267px #FFF , 832px 1148px #FFF , 206px 1045px #FFF , 1579px 888px #FFF , 1579px 1995px #FFF , 78px 1228px #FFF , 793px 1747px #FFF , 1527px 1515px #FFF , 202px 793px #FFF , 740px 844px #FFF , 1627px 1352px #FFF , 992px 1350px #FFF , 566px 498px #FFF , 1031px 340px #FFF , 1021px 1622px #FFF , 1019px 542px #FFF , 513px 1239px #FFF , 1406px 1610px #FFF , 264px 33px #FFF , 1523px 256px #FFF , 799px 359px #FFF , 341px 1703px #FFF , 581px 1480px #FFF , 214px 189px #FFF , 1149px 1132px #FFF , 1983px 1978px #FFF , 1828px 1029px #FFF , 609px 199px #FFF , 1820px 242px #FFF , 515px 1796px #FFF , 1487px 935px #FFF , 897px 562px #FFF , 1871px 205px #FFF , 178px 1150px #FFF , 1636px 341px #FFF , 1446px 19px #FFF , 1511px 1044px #FFF , 81px 1082px #FFF , 498px 1201px #FFF , 88px 1792px #FFF , 1958px 1216px #FFF , 1082px 920px #FFF , 797px 294px #FFF , 88px 765px #FFF , 1249px 1192px #FFF , 154px 1390px #FFF , 1001px 1004px #FFF , 463px 31px #FFF , 777px 1887px #FFF , 1220px 688px #FFF , 1626px 231px #FFF , 607px 573px #FFF , 1307px 1231px #FFF , 126px 1609px #FFF , 1941px 999px #FFF , 919px 1140px #FFF , 112px 728px #FFF , 84px 1483px #FFF , 1719px 245px #FFF , 581px 863px #FFF , 1109px 1790px #FFF , 1987px 668px #FFF , 1986px 548px #FFF , 1198px 1629px #FFF , 483px 1491px #FFF , 1332px 1853px #FFF , 80px 770px #FFF , 1695px 899px #FFF , 1791px 1936px #FFF , 1644px 564px #FFF , 1700px 398px #FFF , 440px 653px #FFF , 1688px 669px #FFF , 1404px 1629px #FFF , 893px 1898px #FFF , 451px 1441px #FFF , 921px 457px #FFF , 746px 1167px #FFF , 608px 1413px #FFF , 962px 901px #FFF , 914px 698px #FFF , 1735px 206px #FFF , 176px 1793px #FFF , 852px 1865px #FFF , 1320px 1488px #FFF , 444px 570px #FFF , 542px 1905px #FFF , 1789px 835px #FFF , 1753px 1967px #FFF , 781px 1058px #FFF , 1164px 1368px #FFF , 638px 490px #FFF , 1356px 42px #FFF , 602px 317px #FFF , 269px 134px #FFF , 1199px 1690px #FFF , 180px 1593px #FFF , 1820px 100px #FFF , 410px 1920px #FFF , 1716px 1114px #FFF , 1297px 1314px #FFF , 1415px 1756px #FFF , 1468px 1924px #FFF , 904px 1678px #FFF , 637px 1678px #FFF , 1854px 1263px #FFF , 1580px 528px #FFF , 1414px 1695px #FFF , 1933px 577px #FFF , 24px 1377px #FFF , 801px 335px #FFF , 1323px 259px #FFF , 411px 312px #FFF , 1394px 1409px #FFF , 992px 981px #FFF , 595px 1820px #FFF , 248px 1395px #FFF , 1341px 1932px #FFF , 848px 1733px #FFF , 1384px 1907px #FFF , 1453px 272px #FFF , 264px 45px #FFF , 1932px 124px #FFF , 473px 1249px #FFF , 1223px 1519px #FFF , 631px 195px #FFF , 722px 23px #FFF , 289px 601px #FFF , 217px 523px #FFF , 303px 783px #FFF , 1162px 1790px #FFF , 1194px 1701px #FFF , 1043px 311px #FFF , 738px 157px #FFF , 1387px 355px #FFF , 1355px 212px #FFF , 1873px 303px #FFF , 731px 362px #FFF , 375px 1618px #FFF , 51px 169px #FFF , 292px 1161px #FFF , 1042px 841px #FFF , 742px 711px #FFF , 646px 1326px #FFF , 1228px 799px #FFF , 206px 206px #FFF , 62px 52px #FFF , 1231px 514px #FFF , 1012px 1306px #FFF , 152px 656px #FFF , 626px 1858px #FFF , 1323px 1481px #FFF , 1916px 1381px #FFF , 249px 1320px #FFF , 763px 527px #FFF , 1947px 961px #FFF; }
      body header .top-section #stars2,
      html header .top-section #stars2 {
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: 1359px 7730px #FFF , 1971px 1950px #FFF , 488px 1837px #FFF , 1809px 1899px #FFF , 1236px 1608px #FFF , 1628px 1722px #FFF , 1856px 1197px #FFF , 915px 1982px #FFF , 594px 304px #FFF , 991px 796px #FFF , 1911px 650px #FFF , 1187px 1510px #FFF , 959px 144px #FFF , 553px 230px #FFF , 239px 716px #FFF , 1805px 1102px #FFF , 1632px 1655px #FFF , 1760px 1717px #FFF , 1918px 228px #FFF , 591px 405px #FFF , 1220px 654px #FFF , 487px 762px #FFF , 1749px 1683px #FFF , 353px 1310px #FFF , 473px 549px #FFF , 1180px 1565px #FFF , 435px 1201px #FFF , 1845px 1657px #FFF , 1412px 1568px #FFF , 1107px 700px #FFF , 1011px 194px #FFF , 1544px 1811px #FFF , 335px 1670px #FFF , 772px 720px #FFF , 77px 431px #FFF , 1841px 1905px #FFF , 1849px 1368px #FFF , 1172px 652px #FFF , 49px 828px #FFF , 830px 654px #FFF , 790px 1642px #FFF , 827px 1561px #FFF , 1940px 888px #FFF , 248px 1686px #FFF , 1435px 1865px #FFF , 40px 552px #FFF , 1129px 610px #FFF , 1919px 666px #FFF , 1475px 651px #FFF , 625px 1137px #FFF , 108px 1895px #FFF , 1564px 552px #FFF , 776px 314px #FFF , 1706px 1941px #FFF , 1291px 833px #FFF , 730px 531px #FFF , 1285px 931px #FFF , 1339px 389px #FFF , 1054px 1582px #FFF , 587px 292px #FFF , 1871px 1576px #FFF , 814px 1945px #FFF , 1999px 1564px #FFF , 361px 1807px #FFF , 1037px 1548px #FFF , 798px 1141px #FFF , 582px 207px #FFF , 256px 541px #FFF , 1033px 774px #FFF , 731px 5px #FFF , 1945px 63px #FFF , 645px 611px #FFF , 1803px 893px #FFF , 1012px 1805px #FFF , 1877px 11px #FFF , 243px 362px #FFF , 1519px 272px #FFF , 1837px 548px #FFF , 585px 234px #FFF , 1465px 1196px #FFF , 1013px 514px #FFF , 792px 479px #FFF , 386px 459px #FFF , 1853px 1282px #FFF , 181px 866px #FFF , 1892px 1913px #FFF , 145px 978px #FFF , 1192px 1312px #FFF , 519px 313px #FFF , 1532px 1008px #FFF , 1678px 1048px #FFF , 849px 747px #FFF , 392px 397px #FFF , 609px 1795px #FFF , 57px 553px #FFF , 1029px 1367px #FFF , 1250px 361px #FFF , 967px 202px #FFF , 1834px 1985px #FFF , 1052px 1907px #FFF , 1247px 591px #FFF , 1786px 924px #FFF , 238px 1592px #FFF , 1679px 219px #FFF , 313px 271px #FFF , 164px 965px #FFF , 1161px 1309px #FFF , 1956px 153px #FFF , 661px 722px #FFF , 1689px 1200px #FFF , 1214px 1957px #FFF , 1683px 1006px #FFF , 1802px 1853px #FFF , 1302px 479px #FFF , 811px 177px #FFF , 1542px 1570px #FFF , 88px 738px #FFF , 168px 1285px #FFF , 1035px 1996px #FFF , 1584px 480px #FFF , 1644px 403px #FFF , 594px 1261px #FFF , 552px 1587px #FFF , 183px 942px #FFF , 416px 840px #FFF , 1183px 707px #FFF , 958px 120px #FFF , 1390px 767px #FFF , 1363px 602px #FFF , 1675px 418px #FFF , 1296px 56px #FFF , 1522px 1803px #FFF , 204px 2000px #FFF , 1579px 1132px #FFF , 893px 547px #FFF , 523px 1209px #FFF , 66px 469px #FFF , 1644px 1459px #FFF , 155px 1202px #FFF , 1754px 1523px #FFF , 145px 1915px #FFF , 852px 463px #FFF , 106px 1582px #FFF , 304px 884px #FFF , 198px 49px #FFF , 780px 960px #FFF , 1147px 992px #FFF , 1585px 499px #FFF , 902px 1215px #FFF , 860px 1260px #FFF , 1421px 1799px #FFF , 580px 1408px #FFF , 1512px 1804px #FFF , 823px 1405px #FFF , 474px 824px #FFF , 1240px 1467px #FFF , 1267px 1773px #FFF , 52px 1587px #FFF , 1425px 27px #FFF , 1332px 302px #FFF , 377px 326px #FFF , 852px 875px #FFF , 1986px 851px #FFF , 523px 490px #FFF , 168px 1885px #FFF , 1694px 280px #FFF , 1269px 1694px #FFF , 1937px 658px #FFF , 1791px 1523px #FFF , 373px 1617px #FFF , 1381px 396px #FFF , 1071px 812px #FFF , 131px 1576px #FFF , 897px 1354px #FFF , 297px 868px #FFF , 33px 1071px #FFF , 1054px 1242px #FFF , 148px 1962px #FFF , 1941px 550px #FFF , 1777px 943px #FFF , 1212px 34px #FFF , 1027px 1905px #FFF , 1122px 131px #FFF , 1164px 937px #FFF , 1736px 1130px #FFF , 776px 1053px #FFF , 134px 1721px #FFF , 780px 953px #FFF , 1321px 148px #FFF , 282px 765px #FFF , 1601px 934px #FFF , 1778px 684px #FFF , 1657px 1212px #FFF , 1382px 1221px #FFF , 1814px 796px #FFF , 903px 160px #FFF , 212px 1281px #FFF , 762px 1613px #FFF , 765px 1686px #FFF , 289px 1633px #FFF;
        animation: animStar 80s linear infinite; }
        body header .top-section #stars2:after,
        html header .top-section #stars2:after {
          content: " ";
          position: absolute;
          top: 2000px;
          width: 2px;
          height: 2px;
          background: transparent;
          box-shadow: 1359px 7730px #FFF , 1971px 1950px #FFF , 488px 1837px #FFF , 1809px 1899px #FFF , 1236px 1608px #FFF , 1628px 1722px #FFF , 1856px 1197px #FFF , 915px 1982px #FFF , 594px 304px #FFF , 991px 796px #FFF , 1911px 650px #FFF , 1187px 1510px #FFF , 959px 144px #FFF , 553px 230px #FFF , 239px 716px #FFF , 1805px 1102px #FFF , 1632px 1655px #FFF , 1760px 1717px #FFF , 1918px 228px #FFF , 591px 405px #FFF , 1220px 654px #FFF , 487px 762px #FFF , 1749px 1683px #FFF , 353px 1310px #FFF , 473px 549px #FFF , 1180px 1565px #FFF , 435px 1201px #FFF , 1845px 1657px #FFF , 1412px 1568px #FFF , 1107px 700px #FFF , 1011px 194px #FFF , 1544px 1811px #FFF , 335px 1670px #FFF , 772px 720px #FFF , 77px 431px #FFF , 1841px 1905px #FFF , 1849px 1368px #FFF , 1172px 652px #FFF , 49px 828px #FFF , 830px 654px #FFF , 790px 1642px #FFF , 827px 1561px #FFF , 1940px 888px #FFF , 248px 1686px #FFF , 1435px 1865px #FFF , 40px 552px #FFF , 1129px 610px #FFF , 1919px 666px #FFF , 1475px 651px #FFF , 625px 1137px #FFF , 108px 1895px #FFF , 1564px 552px #FFF , 776px 314px #FFF , 1706px 1941px #FFF , 1291px 833px #FFF , 730px 531px #FFF , 1285px 931px #FFF , 1339px 389px #FFF , 1054px 1582px #FFF , 587px 292px #FFF , 1871px 1576px #FFF , 814px 1945px #FFF , 1999px 1564px #FFF , 361px 1807px #FFF , 1037px 1548px #FFF , 798px 1141px #FFF , 582px 207px #FFF , 256px 541px #FFF , 1033px 774px #FFF , 731px 5px #FFF , 1945px 63px #FFF , 645px 611px #FFF , 1803px 893px #FFF , 1012px 1805px #FFF , 1877px 11px #FFF , 243px 362px #FFF , 1519px 272px #FFF , 1837px 548px #FFF , 585px 234px #FFF , 1465px 1196px #FFF , 1013px 514px #FFF , 792px 479px #FFF , 386px 459px #FFF , 1853px 1282px #FFF , 181px 866px #FFF , 1892px 1913px #FFF , 145px 978px #FFF , 1192px 1312px #FFF , 519px 313px #FFF , 1532px 1008px #FFF , 1678px 1048px #FFF , 849px 747px #FFF , 392px 397px #FFF , 609px 1795px #FFF , 57px 553px #FFF , 1029px 1367px #FFF , 1250px 361px #FFF , 967px 202px #FFF , 1834px 1985px #FFF , 1052px 1907px #FFF , 1247px 591px #FFF , 1786px 924px #FFF , 238px 1592px #FFF , 1679px 219px #FFF , 313px 271px #FFF , 164px 965px #FFF , 1161px 1309px #FFF , 1956px 153px #FFF , 661px 722px #FFF , 1689px 1200px #FFF , 1214px 1957px #FFF , 1683px 1006px #FFF , 1802px 1853px #FFF , 1302px 479px #FFF , 811px 177px #FFF , 1542px 1570px #FFF , 88px 738px #FFF , 168px 1285px #FFF , 1035px 1996px #FFF , 1584px 480px #FFF , 1644px 403px #FFF , 594px 1261px #FFF , 552px 1587px #FFF , 183px 942px #FFF , 416px 840px #FFF , 1183px 707px #FFF , 958px 120px #FFF , 1390px 767px #FFF , 1363px 602px #FFF , 1675px 418px #FFF , 1296px 56px #FFF , 1522px 1803px #FFF , 204px 2000px #FFF , 1579px 1132px #FFF , 893px 547px #FFF , 523px 1209px #FFF , 66px 469px #FFF , 1644px 1459px #FFF , 155px 1202px #FFF , 1754px 1523px #FFF , 145px 1915px #FFF , 852px 463px #FFF , 106px 1582px #FFF , 304px 884px #FFF , 198px 49px #FFF , 780px 960px #FFF , 1147px 992px #FFF , 1585px 499px #FFF , 902px 1215px #FFF , 860px 1260px #FFF , 1421px 1799px #FFF , 580px 1408px #FFF , 1512px 1804px #FFF , 823px 1405px #FFF , 474px 824px #FFF , 1240px 1467px #FFF , 1267px 1773px #FFF , 52px 1587px #FFF , 1425px 27px #FFF , 1332px 302px #FFF , 377px 326px #FFF , 852px 875px #FFF , 1986px 851px #FFF , 523px 490px #FFF , 168px 1885px #FFF , 1694px 280px #FFF , 1269px 1694px #FFF , 1937px 658px #FFF , 1791px 1523px #FFF , 373px 1617px #FFF , 1381px 396px #FFF , 1071px 812px #FFF , 131px 1576px #FFF , 897px 1354px #FFF , 297px 868px #FFF , 33px 1071px #FFF , 1054px 1242px #FFF , 148px 1962px #FFF , 1941px 550px #FFF , 1777px 943px #FFF , 1212px 34px #FFF , 1027px 1905px #FFF , 1122px 131px #FFF , 1164px 937px #FFF , 1736px 1130px #FFF , 776px 1053px #FFF , 134px 1721px #FFF , 780px 953px #FFF , 1321px 148px #FFF , 282px 765px #FFF , 1601px 934px #FFF , 1778px 684px #FFF , 1657px 1212px #FFF , 1382px 1221px #FFF , 1814px 796px #FFF , 903px 160px #FFF , 212px 1281px #FFF , 762px 1613px #FFF , 765px 1686px #FFF , 289px 1633px #FFF; }
      body header .top-section #stars3,
      html header .top-section #stars3 {
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: 1660px 8660px #FFF , 13px 541px #FFF , 1227px 633px #FFF , 1160px 1263px #FFF , 453px 205px #FFF , 140px 1216px #FFF , 215px 1731px #FFF , 838px 705px #FFF , 1159px 1093px #FFF , 1983px 353px #FFF , 459px 524px #FFF , 1014px 1578px #FFF , 1670px 630px #FFF , 388px 440px #FFF , 970px 1117px #FFF , 731px 921px #FFF , 1459px 1052px #FFF , 1884px 294px #FFF , 305px 1093px #FFF , 1153px 519px #FFF , 428px 1313px #FFF , 1365px 1991px #FFF , 1852px 867px #FFF , 672px 1761px #FFF , 667px 1021px #FFF , 1754px 1688px #FFF , 1704px 362px #FFF , 783px 1624px #FFF , 774px 1303px #FFF , 1473px 1453px #FFF , 121px 89px #FFF , 1944px 820px #FFF , 977px 1909px #FFF , 1964px 567px #FFF , 1102px 1511px #FFF , 1014px 1727px #FFF , 962px 1796px #FFF , 1543px 724px #FFF , 994px 51px #FFF , 230px 1252px #FFF , 713px 1073px #FFF , 795px 1627px #FFF , 737px 1758px #FFF , 1088px 817px #FFF , 1011px 419px #FFF , 1350px 847px #FFF , 412px 605px #FFF , 1873px 1859px #FFF , 551px 654px #FFF , 216px 1587px #FFF , 1299px 742px #FFF , 662px 858px #FFF , 1822px 182px #FFF , 1186px 1007px #FFF , 1188px 490px #FFF , 1277px 1500px #FFF , 1731px 78px #FFF , 1378px 624px #FFF , 913px 299px #FFF , 909px 454px #FFF , 592px 1178px #FFF , 413px 1117px #FFF , 1527px 339px #FFF , 1049px 1363px #FFF , 639px 1393px #FFF , 450px 1121px #FFF , 198px 579px #FFF , 28px 942px #FFF , 412px 1927px #FFF , 695px 727px #FFF , 536px 1393px #FFF , 928px 646px #FFF , 1966px 626px #FFF , 1501px 800px #FFF , 569px 1717px #FFF , 1277px 131px #FFF , 823px 1892px #FFF , 222px 1679px #FFF , 814px 658px #FFF , 1579px 1194px #FFF , 1508px 814px #FFF , 273px 1910px #FFF , 1562px 529px #FFF , 548px 1449px #FFF , 620px 34px #FFF , 1116px 1424px #FFF , 669px 392px #FFF , 160px 1456px #FFF , 1640px 1309px #FFF , 933px 1839px #FFF , 8px 1138px #FFF , 462px 1869px #FFF , 1542px 303px #FFF , 661px 316px #FFF , 1541px 1240px #FFF , 859px 1267px #FFF , 239px 348px #FFF , 1966px 1863px #FFF , 1195px 248px #FFF , 1217px 1184px #FFF;
        animation: animStar 120s linear infinite; }
        body header .top-section #stars3:after,
        html header .top-section #stars3:after {
          content: " ";
          position: absolute;
          top: 2000px;
          width: 3px;
          height: 3px;
          background: transparent;
          box-shadow: 1660px 8660px #FFF , 13px 541px #FFF , 1227px 633px #FFF , 1160px 1263px #FFF , 453px 205px #FFF , 140px 1216px #FFF , 215px 1731px #FFF , 838px 705px #FFF , 1159px 1093px #FFF , 1983px 353px #FFF , 459px 524px #FFF , 1014px 1578px #FFF , 1670px 630px #FFF , 388px 440px #FFF , 970px 1117px #FFF , 731px 921px #FFF , 1459px 1052px #FFF , 1884px 294px #FFF , 305px 1093px #FFF , 1153px 519px #FFF , 428px 1313px #FFF , 1365px 1991px #FFF , 1852px 867px #FFF , 672px 1761px #FFF , 667px 1021px #FFF , 1754px 1688px #FFF , 1704px 362px #FFF , 783px 1624px #FFF , 774px 1303px #FFF , 1473px 1453px #FFF , 121px 89px #FFF , 1944px 820px #FFF , 977px 1909px #FFF , 1964px 567px #FFF , 1102px 1511px #FFF , 1014px 1727px #FFF , 962px 1796px #FFF , 1543px 724px #FFF , 994px 51px #FFF , 230px 1252px #FFF , 713px 1073px #FFF , 795px 1627px #FFF , 737px 1758px #FFF , 1088px 817px #FFF , 1011px 419px #FFF , 1350px 847px #FFF , 412px 605px #FFF , 1873px 1859px #FFF , 551px 654px #FFF , 216px 1587px #FFF , 1299px 742px #FFF , 662px 858px #FFF , 1822px 182px #FFF , 1186px 1007px #FFF , 1188px 490px #FFF , 1277px 1500px #FFF , 1731px 78px #FFF , 1378px 624px #FFF , 913px 299px #FFF , 909px 454px #FFF , 592px 1178px #FFF , 413px 1117px #FFF , 1527px 339px #FFF , 1049px 1363px #FFF , 639px 1393px #FFF , 450px 1121px #FFF , 198px 579px #FFF , 28px 942px #FFF , 412px 1927px #FFF , 695px 727px #FFF , 536px 1393px #FFF , 928px 646px #FFF , 1966px 626px #FFF , 1501px 800px #FFF , 569px 1717px #FFF , 1277px 131px #FFF , 823px 1892px #FFF , 222px 1679px #FFF , 814px 658px #FFF , 1579px 1194px #FFF , 1508px 814px #FFF , 273px 1910px #FFF , 1562px 529px #FFF , 548px 1449px #FFF , 620px 34px #FFF , 1116px 1424px #FFF , 669px 392px #FFF , 160px 1456px #FFF , 1640px 1309px #FFF , 933px 1839px #FFF , 8px 1138px #FFF , 462px 1869px #FFF , 1542px 303px #FFF , 661px 316px #FFF , 1541px 1240px #FFF , 859px 1267px #FFF , 239px 348px #FFF , 1966px 1863px #FFF , 1195px 248px #FFF , 1217px 1184px #FFF; }
@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }
      body header .top-section .icon-sm,
      html header .top-section .icon-sm {
        width: 30px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2; }
      body header .top-section .icon-md,
      html header .top-section .icon-md {
        width: 45px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2; }
      body header .top-section .icon-bg,
      html header .top-section .icon-bg {
        width: 60px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2; }
      body header .top-section svg,
      html header .top-section svg {
        position: absolute;
        top: 0;
        left: 0; }
        body header .top-section svg path,
        html header .top-section svg path {
          opacity: 0;
          stroke: #346a816c;
          stroke-width: 10;
          fill: none;
          animation: dash 5s ease-in-out infinite; }
        body header .top-section svg #path1,
        html header .top-section svg #path1 {
          stroke-dasharray: calc(var(--pathLength1) / 1.5);
          stroke-dashoffset: calc(var(--pathLength1) / 2.5); }
        body header .top-section svg #path2,
        html header .top-section svg #path2 {
          stroke-dasharray: calc(var(--pathLength2) / 1.5);
          stroke-dashoffset: calc(var(--pathLength2) / 2.5); }
        body header .top-section svg #path3,
        html header .top-section svg #path3 {
          animation: dash-small 5s ease-in-out infinite;
          stroke-dasharray: calc(var(--pathLength3) / 1.5);
          stroke-dashoffset: calc(var(--pathLength3) / 2.5);
          animation-delay: 1s; }
        body header .top-section svg #path4,
        html header .top-section svg #path4 {
          animation: dash-small 5s ease-in-out infinite;
          stroke-dasharray: calc(var(--pathLength4) / 1.5);
          stroke-dashoffset: calc(var(--pathLength4) / 2.5);
          animation-delay: 1s; }
        body header .top-section svg #path5,
        html header .top-section svg #path5 {
          stroke-dasharray: calc(var(--pathLength5) / 1.5);
          stroke-dashoffset: calc(var(--pathLength5) / 2.5);
          animation-delay: 2s; }
        body header .top-section svg #path6,
        html header .top-section svg #path6 {
          stroke-dasharray: calc(var(--pathLength6) / 1.5);
          stroke-dashoffset: calc(var(--pathLength6) / 2.5);
          animation-delay: 2s; }
        body header .top-section svg #path7,
        html header .top-section svg #path7 {
          animation: dash-small 5s ease-in-out infinite;
          stroke-dasharray: calc(var(--pathLength7) / 1.5);
          stroke-dashoffset: calc(var(--pathLength7) / 2.5);
          animation-delay: 3s; }
        body header .top-section svg #path8,
        html header .top-section svg #path8 {
          animation: dash-small 5s ease-in-out infinite;
          stroke-dasharray: calc(var(--pathLength8) / 1.5);
          stroke-dashoffset: calc(var(--pathLength8) / 2.5);
          animation-delay: 3s; }
        body header .top-section svg #path9,
        html header .top-section svg #path9 {
          stroke-dasharray: calc(var(--pathLength9) / 1.5);
          stroke-dashoffset: calc(var(--pathLength9) / 2.5);
          animation-delay: 4s; }
        body header .top-section svg #path10,
        html header .top-section svg #path10 {
          stroke-dasharray: calc(var(--pathLength10) / 1.5);
          stroke-dashoffset: calc(var(--pathLength10) / 2.5);
          animation-delay: 4s; }
@keyframes dash {
  20% {
    opacity: 0; }
  25% {
    opacity: 1;
    stroke-width: 2; }
  34% {
    opacity: 1; }
  36% {
    opacity: 1; }
  40% {
    stroke-dashoffset: -100;
    stroke-width: 0;
    opacity: 0; }
  90% {
    display: none;
    opacity: 0; } }
@keyframes dash-small {
  20% {
    opacity: 0; }
  25% {
    opacity: 1;
    stroke-width: 2; }
  34% {
    opacity: 1; }
  36% {
    opacity: 1; }
  40% {
    stroke-dashoffset: -50;
    stroke-width: 0;
    opacity: 0; }
  90% {
    display: none;
    opacity: 0; } }
      body header .top-section .icon-1,
      html header .top-section .icon-1 {
        transform: rotate(-25deg);
        offset-path: var(--path1);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite; }
@keyframes bla {
  34% {
    opacity: 1; }
  36% {
    opacity: 0; }
  40% {
    offset-distance: 100%;
    offset-rotate: 0deg;
    transform: rotate(0deg);
    opacity: 0; }
  90% {
    display: none;
    opacity: 0; } }
      body header .top-section .icon-2,
      html header .top-section .icon-2 {
        transform: rotate(25deg);
        offset-path: var(--path2);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite; }
      body header .top-section .icon-3,
      html header .top-section .icon-3 {
        transform: rotate(-5deg);
        offset-path: var(--path3);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 1s; }
      body header .top-section .icon-4,
      html header .top-section .icon-4 {
        transform: rotate(-120deg);
        offset-path: var(--path4);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 1s; }
      body header .top-section .icon-5,
      html header .top-section .icon-5 {
        transform: rotate(-30deg);
        offset-path: var(--path5);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 2s; }
      body header .top-section .icon-6,
      html header .top-section .icon-6 {
        transform: rotate(-15deg);
        offset-path: var(--path6);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 2s; }
      body header .top-section .icon-7,
      html header .top-section .icon-7 {
        transform: rotate(10deg);
        offset-path: var(--path7);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 3s; }
      body header .top-section .icon-8,
      html header .top-section .icon-8 {
        transform: rotate(15deg);
        offset-path: var(--path8);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 3s; }
      body header .top-section .icon-9,
      html header .top-section .icon-9 {
        transform: rotate(-5deg);
        offset-path: var(--path9);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 4s; }
      body header .top-section .icon-10,
      html header .top-section .icon-10 {
        offset-path: var(--path10);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 4s; }
      body header .top-section .tube,
      html header .top-section .tube {
        position: absolute;
        bottom: 0.5px;
        left: 50%;
        transform: translateX(-50%) translateY(100%);
        width: 200px;
        z-index: 3; }
      body header .top-section .line-left,
      html header .top-section .line-left {
        position: absolute;
        bottom: -0.5px;
        left: 0;
        width: calc(50% - 99.5px);
        z-index: 2; }
      body header .top-section .line-right,
      html header .top-section .line-right {
        position: absolute;
        bottom: -0.5px;
        right: 0;
        width: calc(50% - 99.5px);
        z-index: 2; }
      body header .top-section .mobile,
      html header .top-section .mobile {
        display: none;
        width: calc(50% - 74.5px); }
    body header .bottom-section,
    html header .bottom-section {
      z-index: 3;
      height: 25vh;
      background-image: url("../images/City_002.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: bottom;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative; }
      body header .bottom-section .building,
      html header .bottom-section .building {
        min-width: 140px;
        max-width: 140px;
        width: 10%; }
      body header .bottom-section img#escombro-1,
      html header .bottom-section img#escombro-1 {
        opacity: 0;
        width: 8px;
        position: absolute;
        left: calc(50% - 50px);
        transform: translateX(-50%) rotate(-160deg);
        bottom: 40px;
        animation: swingTopLeft 1s ease-out 5;
        animation-delay: 1.9s; }
      body header .bottom-section img#escombro-2,
      html header .bottom-section img#escombro-2 {
        opacity: 0;
        width: 8px;
        position: absolute;
        left: calc(50% - 50px);
        transform: translateX(-50%) rotate(160deg);
        bottom: 30px;
        animation: swingBottomLeft 1s ease-out 5;
        animation-delay: 1.9s; }
      body header .bottom-section img#escombro-3,
      html header .bottom-section img#escombro-3 {
        opacity: 0;
        width: 8px;
        position: absolute;
        right: calc(50% - 55px);
        transform: translateX(-50%) rotate(-20deg);
        bottom: 40px;
        animation: swingTopRight 1s ease-out 5;
        animation-delay: 1.9s; }
      body header .bottom-section img#escombro-4,
      html header .bottom-section img#escombro-4 {
        opacity: 0;
        width: 8px;
        position: absolute;
        right: calc(50% - 55px);
        transform: translateX(-50%) rotate(20deg);
        bottom: 30px;
        animation: swingBottomRight 1s ease-out 5;
        animation-delay: 1.9s; }
@keyframes swingTopRight {
  0% {
    opacity: 1; }
  100% {
    right: calc(50% - 65px);
    bottom: 45px;
    opacity: 0; } }
@keyframes swingBottomRight {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    right: calc(50% - 65px);
    bottom: 25px;
    opacity: 0; } }
@keyframes swingTopLeft {
  0% {
    opacity: 1; }
  100% {
    left: calc(50% - 65px);
    bottom: 50px;
    opacity: 0; } }
@keyframes swingBottomLeft {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    left: calc(50% - 65px);
    bottom: 25px;
    opacity: 0; } }
      body header .bottom-section #building-1,
      body header .bottom-section #building-2,
      body header .bottom-section #building-3,
      body header .bottom-section #building-4,
      body header .bottom-section #building,
      html header .bottom-section #building-1,
      html header .bottom-section #building-2,
      html header .bottom-section #building-3,
      html header .bottom-section #building-4,
      html header .bottom-section #building {
        display: none; }

@media (max-width: 1000px) {
  .title {
    font-size: 32px; } }
@media (max-width: 700px) {
  body header {
    height: 95vh; }
    body header .top-section {
      height: 55vh; }
      body header .top-section .title {
        font-size: 28px; }
      body header .top-section .icon-sm {
        width: 35px; }
      body header .top-section .icon-md {
        width: 40px; }
      body header .top-section .icon-bg {
        width: 45px; }
      body header .top-section .icon-1,
      body header .top-section .icon-2,
      body header .top-section .icon-5,
      body header .top-section .icon-6,
      body header .top-section .icon-9,
      body header .top-section .icon-10 {
        animation: bla2 3s ease-in-out infinite; }
  @keyframes bla2 {
    56% {
      opacity: 1; }
    58% {
      opacity: 1; }
    60% {
      opacity: 0; }
    66% {
      offset-distance: 95%;
      offset-rotate: 0deg;
      transform: rotate(0deg);
      opacity: 0; }
    95% {
      display: none;
      opacity: 0; } }
      body header .top-section .icon-3,
      body header .top-section .icon-4,
      body header .top-section .icon-7,
      body header .top-section .icon-8,
      body header .top-section #path3,
      body header .top-section #path4,
      body header .top-section #path7,
      body header .top-section #path8 {
        display: none; }
      body header .top-section .icon-5,
      body header .top-section .icon-6,
      body header .top-section #path5,
      body header .top-section #path6 {
        animation-delay: 1s; }
      body header .top-section .icon-9,
      body header .top-section .icon-10,
      body header .top-section #path9,
      body header .top-section #path10 {
        animation-delay: 2s; }
      body header .top-section .line-left {
        display: none; }
      body header .top-section .line-left.mobile {
        display: block; }
      body header .top-section .line-right {
        display: none; }
      body header .top-section .line-right.mobile {
        display: block; }
      body header .top-section .tube {
        width: 150px; } }

/*# sourceMappingURL=index.css.map */
