body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fbfcfc; }
  body header,
  html header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    body header .top-section,
    html header .top-section {
      position: relative;
      background-color: #1e4e62;
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: flex-end; }
      body header .top-section .title,
      html header .top-section .title {
        margin: auto;
        margin-top: 15vh;
        text-align: center;
        font-family: Rajdhani;
        color: white;
        z-index: 7;
        font-size: 40px;
        padding: 0 40px; }
        body header .top-section .title span,
        html header .top-section .title span {
          font-weight: 300; }
      body header .top-section #stars,
      html header .top-section #stars {
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: 1314px 19652px #FFF , 1430px 47px #FFF , 1415px 20px #FFF , 1061px 1165px #FFF , 838px 1850px #FFF , 865px 1176px #FFF , 1567px 260px #FFF , 892px 108px #FFF , 1191px 475px #FFF , 1246px 1416px #FFF , 809px 1111px #FFF , 49px 646px #FFF , 1546px 1846px #FFF , 15px 765px #FFF , 1575px 955px #FFF , 597px 1474px #FFF , 1661px 1338px #FFF , 595px 1903px #FFF , 690px 1678px #FFF , 621px 1245px #FFF , 1656px 1091px #FFF , 767px 1381px #FFF , 1227px 1306px #FFF , 1226px 683px #FFF , 1536px 1234px #FFF , 1870px 462px #FFF , 160px 1284px #FFF , 495px 1400px #FFF , 1383px 1487px #FFF , 315px 147px #FFF , 1574px 1506px #FFF , 237px 72px #FFF , 1180px 1953px #FFF , 1336px 1701px #FFF , 771px 463px #FFF , 932px 1185px #FFF , 595px 358px #FFF , 577px 1094px #FFF , 803px 506px #FFF , 1499px 1260px #FFF , 331px 909px #FFF , 373px 1879px #FFF , 635px 381px #FFF , 453px 702px #FFF , 529px 1742px #FFF , 1780px 670px #FFF , 1376px 954px #FFF , 528px 738px #FFF , 1031px 1838px #FFF , 806px 131px #FFF , 1285px 308px #FFF , 1470px 1025px #FFF , 1835px 1218px #FFF , 23px 1099px #FFF , 1293px 1569px #FFF , 910px 192px #FFF , 978px 1262px #FFF , 1792px 1259px #FFF , 1654px 1733px #FFF , 342px 1315px #FFF , 697px 177px #FFF , 1014px 1875px #FFF , 168px 64px #FFF , 465px 641px #FFF , 934px 1377px #FFF , 978px 792px #FFF , 1959px 836px #FFF , 921px 689px #FFF , 1540px 291px #FFF , 1887px 1915px #FFF , 540px 1143px #FFF , 1716px 1652px #FFF , 1010px 441px #FFF , 618px 136px #FFF , 1665px 985px #FFF , 1470px 1791px #FFF , 161px 1128px #FFF , 1454px 1215px #FFF , 913px 1144px #FFF , 459px 713px #FFF , 482px 945px #FFF , 1831px 214px #FFF , 1850px 646px #FFF , 600px 1110px #FFF , 1871px 1910px #FFF , 503px 29px #FFF , 705px 409px #FFF , 572px 1709px #FFF , 1306px 1180px #FFF , 718px 1004px #FFF , 86px 823px #FFF , 970px 1709px #FFF , 194px 475px #FFF , 1086px 1880px #FFF , 1322px 874px #FFF , 227px 148px #FFF , 1258px 1552px #FFF , 1704px 1953px #FFF , 873px 1455px #FFF , 1795px 234px #FFF , 1092px 1518px #FFF , 704px 1136px #FFF , 1121px 1731px #FFF , 719px 595px #FFF , 1945px 233px #FFF , 1320px 74px #FFF , 976px 1136px #FFF , 1855px 85px #FFF , 125px 73px #FFF , 1529px 919px #FFF , 691px 49px #FFF , 725px 1991px #FFF , 628px 254px #FFF , 980px 1558px #FFF , 1938px 1579px #FFF , 378px 704px #FFF , 83px 981px #FFF , 1715px 1966px #FFF , 1318px 1465px #FFF , 1429px 1199px #FFF , 316px 1082px #FFF , 230px 1652px #FFF , 50px 763px #FFF , 109px 1570px #FFF , 1780px 789px #FFF , 1523px 580px #FFF , 1988px 208px #FFF , 283px 317px #FFF , 313px 1935px #FFF , 1939px 950px #FFF , 74px 7px #FFF , 1967px 1551px #FFF , 68px 1730px #FFF , 316px 1392px #FFF , 1788px 1004px #FFF , 789px 1228px #FFF , 1079px 1057px #FFF , 1593px 780px #FFF , 689px 24px #FFF , 1160px 41px #FFF , 623px 511px #FFF , 1753px 1403px #FFF , 1870px 215px #FFF , 794px 284px #FFF , 1213px 1313px #FFF , 1693px 1921px #FFF , 1561px 90px #FFF , 1979px 1461px #FFF , 1851px 1489px #FFF , 1359px 996px #FFF , 1707px 1553px #FFF , 726px 539px #FFF , 1887px 1688px #FFF , 999px 1394px #FFF , 568px 78px #FFF , 78px 981px #FFF , 475px 1656px #FFF , 1047px 36px #FFF , 1987px 1354px #FFF , 505px 161px #FFF , 589px 1775px #FFF , 94px 448px #FFF , 1533px 1121px #FFF , 1076px 118px #FFF , 58px 215px #FFF , 157px 1516px #FFF , 745px 1214px #FFF , 296px 619px #FFF , 361px 1122px #FFF , 1345px 1032px #FFF , 518px 1670px #FFF , 580px 1799px #FFF , 695px 1206px #FFF , 1244px 1506px #FFF , 588px 483px #FFF , 1870px 1132px #FFF , 1659px 920px #FFF , 1481px 303px #FFF , 965px 1930px #FFF , 366px 1912px #FFF , 1520px 1647px #FFF , 1623px 1231px #FFF , 71px 1282px #FFF , 1083px 1375px #FFF , 1393px 1828px #FFF , 852px 915px #FFF , 1104px 1833px #FFF , 1447px 1521px #FFF , 1475px 1544px #FFF , 1862px 1101px #FFF , 593px 269px #FFF , 3px 802px #FFF , 142px 1758px #FFF , 1578px 969px #FFF , 1393px 1851px #FFF , 563px 1165px #FFF , 464px 333px #FFF , 363px 1179px #FFF , 55px 907px #FFF , 846px 36px #FFF , 427px 805px #FFF , 638px 152px #FFF , 1697px 1251px #FFF , 87px 1663px #FFF , 1337px 1308px #FFF , 1873px 485px #FFF , 422px 133px #FFF , 1973px 159px #FFF , 177px 889px #FFF , 1680px 1083px #FFF , 1921px 1833px #FFF , 1148px 305px #FFF , 63px 1591px #FFF , 704px 1194px #FFF , 1113px 1030px #FFF , 1955px 880px #FFF , 481px 560px #FFF , 339px 463px #FFF , 1085px 1350px #FFF , 1386px 1939px #FFF , 485px 1470px #FFF , 1281px 192px #FFF , 895px 267px #FFF , 1664px 185px #FFF , 248px 1713px #FFF , 555px 15px #FFF , 1875px 1181px #FFF , 1711px 1757px #FFF , 295px 1742px #FFF , 1822px 1213px #FFF , 739px 421px #FFF , 1762px 405px #FFF , 496px 1301px #FFF , 1942px 1163px #FFF , 1612px 712px #FFF , 1029px 567px #FFF , 1472px 108px #FFF , 1247px 1643px #FFF , 399px 475px #FFF , 373px 525px #FFF , 827px 1623px #FFF , 1156px 184px #FFF , 1122px 314px #FFF , 1917px 317px #FFF , 531px 901px #FFF , 1226px 182px #FFF , 132px 100px #FFF , 724px 642px #FFF , 652px 714px #FFF , 110px 1742px #FFF , 1427px 1279px #FFF , 576px 851px #FFF , 1919px 560px #FFF , 1590px 177px #FFF , 1931px 810px #FFF , 837px 809px #FFF , 1727px 166px #FFF , 1315px 1094px #FFF , 33px 880px #FFF , 422px 588px #FFF , 1431px 1012px #FFF , 244px 1454px #FFF , 1770px 646px #FFF , 348px 1117px #FFF , 1243px 700px #FFF , 717px 472px #FFF , 936px 592px #FFF , 1543px 288px #FFF , 1775px 1578px #FFF , 769px 1896px #FFF , 940px 1891px #FFF , 1489px 767px #FFF , 1463px 1930px #FFF , 1614px 615px #FFF , 1880px 1965px #FFF , 1107px 1658px #FFF , 1410px 759px #FFF , 1013px 183px #FFF , 2px 213px #FFF , 795px 1328px #FFF , 1844px 1041px #FFF , 1788px 1159px #FFF , 274px 491px #FFF , 1289px 494px #FFF , 708px 12px #FFF , 126px 300px #FFF , 1285px 1393px #FFF , 1133px 69px #FFF , 1680px 1775px #FFF , 170px 1202px #FFF , 76px 410px #FFF , 641px 1454px #FFF , 1440px 1826px #FFF , 1302px 890px #FFF , 1351px 1526px #FFF , 711px 207px #FFF , 875px 1431px #FFF , 585px 1301px #FFF , 754px 1410px #FFF , 1665px 1261px #FFF , 1828px 1234px #FFF , 467px 1754px #FFF , 1854px 1053px #FFF , 1530px 951px #FFF , 613px 693px #FFF , 1249px 1939px #FFF , 1102px 122px #FFF , 1815px 1358px #FFF , 1002px 74px #FFF , 709px 887px #FFF , 798px 990px #FFF , 514px 1341px #FFF , 1189px 426px #FFF , 560px 996px #FFF , 1937px 1824px #FFF , 1819px 204px #FFF , 515px 28px #FFF , 1676px 1662px #FFF , 834px 969px #FFF , 1952px 336px #FFF , 877px 1563px #FFF , 240px 162px #FFF , 1085px 933px #FFF , 1049px 468px #FFF , 1579px 1030px #FFF , 1629px 1712px #FFF , 1408px 799px #FFF , 666px 1456px #FFF , 884px 1956px #FFF , 909px 346px #FFF , 661px 618px #FFF , 383px 628px #FFF , 846px 1724px #FFF , 1193px 1026px #FFF , 1694px 223px #FFF , 1304px 1309px #FFF , 1998px 646px #FFF , 1779px 857px #FFF , 722px 580px #FFF , 1423px 73px #FFF , 408px 1889px #FFF , 1532px 1205px #FFF , 340px 294px #FFF , 716px 1391px #FFF , 296px 1007px #FFF , 982px 1479px #FFF , 1202px 781px #FFF , 1262px 1703px #FFF , 1020px 251px #FFF , 1135px 1131px #FFF , 77px 1721px #FFF , 509px 343px #FFF , 847px 1035px #FFF , 1781px 1761px #FFF , 656px 1310px #FFF , 1795px 1276px #FFF , 933px 1681px #FFF , 12px 1496px #FFF , 1357px 286px #FFF , 562px 924px #FFF , 762px 1718px #FFF , 1008px 1889px #FFF , 1297px 1146px #FFF , 1642px 1030px #FFF , 1085px 1397px #FFF , 1627px 969px #FFF , 1290px 390px #FFF , 601px 1217px #FFF , 595px 133px #FFF , 1003px 1893px #FFF , 1699px 1103px #FFF , 1655px 1332px #FFF , 1306px 1368px #FFF , 1905px 1949px #FFF , 427px 1012px #FFF , 663px 849px #FFF , 1327px 196px #FFF , 1115px 796px #FFF , 57px 1644px #FFF , 1912px 591px #FFF , 1991px 878px #FFF , 1165px 1609px #FFF , 1458px 453px #FFF , 1177px 1981px #FFF , 1649px 628px #FFF , 340px 1077px #FFF , 257px 1245px #FFF , 459px 786px #FFF , 954px 1793px #FFF , 1719px 1108px #FFF , 1566px 1217px #FFF , 1449px 1127px #FFF , 956px 1664px #FFF , 73px 420px #FFF , 715px 439px #FFF , 1766px 575px #FFF , 1749px 1249px #FFF , 1083px 1538px #FFF , 1258px 1567px #FFF , 760px 1033px #FFF , 1126px 1385px #FFF , 1787px 690px #FFF , 12px 1010px #FFF , 1249px 576px #FFF , 1156px 276px #FFF , 1080px 429px #FFF , 780px 785px #FFF , 1872px 1419px #FFF , 1802px 405px #FFF , 87px 1483px #FFF , 345px 1382px #FFF , 1514px 355px #FFF , 619px 1344px #FFF , 6px 400px #FFF , 206px 1208px #FFF , 743px 300px #FFF , 1389px 1658px #FFF , 1062px 671px #FFF , 237px 979px #FFF , 606px 1099px #FFF , 1908px 382px #FFF , 599px 354px #FFF , 1338px 548px #FFF , 665px 1703px #FFF , 1045px 6px #FFF , 231px 1772px #FFF , 1740px 860px #FFF , 1422px 395px #FFF , 1826px 1368px #FFF , 538px 987px #FFF , 996px 1209px #FFF , 1477px 948px #FFF , 144px 782px #FFF , 1851px 572px #FFF , 1442px 1127px #FFF , 925px 1859px #FFF , 1308px 1628px #FFF , 1789px 882px #FFF , 342px 699px #FFF , 554px 1038px #FFF , 1175px 581px #FFF , 1280px 1568px #FFF , 121px 523px #FFF , 239px 479px #FFF , 1852px 333px #FFF , 714px 1736px #FFF , 1252px 1971px #FFF , 199px 268px #FFF , 1348px 1094px #FFF , 1864px 1635px #FFF , 1085px 1753px #FFF , 1069px 489px #FFF , 1651px 1729px #FFF , 1974px 1649px #FFF , 1427px 541px #FFF , 326px 408px #FFF , 1248px 1817px #FFF , 636px 762px #FFF , 1779px 1002px #FFF , 1585px 1406px #FFF , 1431px 702px #FFF , 654px 334px #FFF , 1368px 1159px #FFF , 1206px 1046px #FFF , 915px 1235px #FFF , 310px 1439px #FFF , 708px 409px #FFF , 686px 157px #FFF , 933px 782px #FFF , 1543px 1845px #FFF , 668px 262px #FFF , 1105px 640px #FFF , 156px 683px #FFF , 1204px 1988px #FFF , 1639px 377px #FFF , 809px 1677px #FFF , 488px 938px #FFF , 1047px 715px #FFF , 1861px 1477px #FFF , 1149px 1608px #FFF , 744px 1413px #FFF , 243px 1568px #FFF , 1089px 1741px #FFF , 1839px 289px #FFF , 1939px 251px #FFF , 57px 742px #FFF , 501px 1260px #FFF , 1391px 49px #FFF , 221px 666px #FFF , 404px 1955px #FFF , 414px 1554px #FFF , 633px 1081px #FFF , 1608px 989px #FFF , 166px 1629px #FFF , 985px 1288px #FFF , 276px 1617px #FFF , 944px 1276px #FFF , 743px 1089px #FFF , 1844px 1481px #FFF , 1626px 1906px #FFF , 1543px 434px #FFF , 372px 960px #FFF , 597px 143px #FFF , 1482px 1589px #FFF , 873px 902px #FFF , 1452px 227px #FFF , 537px 633px #FFF , 1015px 1587px #FFF , 1005px 1716px #FFF , 829px 1996px #FFF , 1194px 1229px #FFF , 1542px 1522px #FFF , 1810px 1069px #FFF , 801px 103px #FFF , 464px 1089px #FFF , 1961px 609px #FFF , 919px 1411px #FFF , 552px 1351px #FFF , 744px 1787px #FFF , 1161px 627px #FFF , 621px 1482px #FFF , 32px 1678px #FFF , 804px 40px #FFF , 1331px 519px #FFF , 298px 1504px #FFF , 740px 595px #FFF , 170px 1865px #FFF , 131px 322px #FFF , 326px 784px #FFF , 1468px 571px #FFF , 1931px 1127px #FFF , 21px 513px #FFF , 686px 719px #FFF , 706px 58px #FFF , 1462px 1285px #FFF , 1553px 283px #FFF , 1243px 1383px #FFF , 864px 1098px #FFF , 1563px 414px #FFF , 245px 460px #FFF , 1372px 532px #FFF , 733px 439px #FFF , 166px 1077px #FFF , 974px 207px #FFF , 1754px 1849px #FFF , 1743px 1560px #FFF , 264px 892px #FFF , 1427px 1828px #FFF , 1613px 1691px #FFF , 589px 1843px #FFF , 644px 1420px #FFF , 1316px 382px #FFF , 1825px 1562px #FFF , 1151px 1267px #FFF , 1100px 60px #FFF , 1407px 1226px #FFF , 319px 740px #FFF , 903px 606px #FFF , 1283px 502px #FFF , 632px 397px #FFF , 1635px 443px #FFF , 1676px 1936px #FFF , 886px 1602px #FFF , 834px 1102px #FFF , 515px 1567px #FFF , 1369px 776px #FFF , 734px 175px #FFF , 242px 1394px #FFF , 865px 467px #FFF , 999px 1790px #FFF , 500px 413px #FFF , 1293px 304px #FFF , 552px 1435px #FFF , 1618px 1784px #FFF , 1053px 1181px #FFF , 1223px 718px #FFF , 1175px 662px #FFF , 409px 1462px #FFF , 1977px 179px #FFF , 1632px 1104px #FFF , 1670px 102px #FFF , 1041px 877px #FFF , 1108px 1109px #FFF , 816px 1494px #FFF , 1778px 871px #FFF , 1686px 1105px #FFF , 862px 1256px #FFF , 1592px 380px #FFF , 1031px 1526px #FFF , 808px 293px #FFF , 737px 881px #FFF , 334px 720px #FFF , 1498px 1964px #FFF , 398px 1001px #FFF , 498px 1443px #FFF , 264px 879px #FFF , 8px 1238px #FFF , 1767px 160px #FFF , 1187px 1697px #FFF , 700px 48px #FFF , 600px 821px #FFF , 187px 193px #FFF , 786px 836px #FFF , 100px 739px #FFF , 231px 451px #FFF , 1814px 702px #FFF , 1891px 171px #FFF , 1746px 1135px #FFF , 1991px 1049px #FFF , 1080px 809px #FFF , 1502px 84px #FFF , 1716px 620px #FFF , 315px 603px #FFF , 725px 1842px #FFF , 1739px 336px #FFF , 486px 1267px #FFF , 1383px 646px #FFF , 672px 1127px #FFF , 646px 1720px #FFF , 1283px 585px #FFF , 667px 1990px #FFF , 1651px 184px #FFF , 294px 859px #FFF , 1392px 317px #FFF , 1498px 166px #FFF , 1716px 1200px #FFF , 748px 261px #FFF , 1161px 1833px #FFF , 28px 1992px #FFF , 804px 239px #FFF , 1326px 1241px #FFF , 924px 48px #FFF , 1079px 1634px #FFF , 1669px 1186px #FFF , 58px 85px #FFF , 398px 1370px #FFF , 942px 1430px #FFF , 1268px 602px #FFF , 774px 1679px #FFF , 1505px 405px #FFF , 163px 115px #FFF , 484px 1579px #FFF , 792px 643px #FFF , 1873px 502px #FFF , 751px 1606px #FFF , 1494px 283px #FFF , 101px 400px #FFF , 1086px 209px #FFF , 938px 1473px #FFF , 303px 1667px #FFF , 1680px 1556px #FFF , 325px 1117px #FFF , 1176px 1025px #FFF , 1445px 299px #FFF , 69px 72px #FFF , 1822px 296px #FFF , 472px 166px #FFF , 1700px 1091px #FFF , 958px 1734px #FFF , 314px 510px #FFF , 584px 628px #FFF , 614px 544px #FFF , 603px 1140px #FFF , 821px 669px #FFF , 811px 471px #FFF , 632px 689px #FFF , 1222px 1948px #FFF , 1793px 683px #FFF , 843px 768px #FFF , 1464px 1820px #FFF , 1240px 137px #FFF , 1282px 946px #FFF , 1052px 224px #FFF , 166px 1097px #FFF , 1894px 1231px #FFF , 239px 154px #FFF , 1057px 1153px #FFF , 900px 940px #FFF , 161px 1214px #FFF , 29px 1374px #FFF , 53px 1773px #FFF , 1519px 1023px #FFF , 1999px 938px #FFF , 1483px 1144px #FFF , 15px 61px #FFF , 1631px 949px #FFF , 1092px 1109px #FFF , 1336px 529px #FFF , 1753px 570px #FFF , 274px 1000px #FFF , 572px 1468px #FFF , 1742px 263px #FFF , 1728px 1911px #FFF , 1783px 1064px #FFF , 1612px 489px #FFF , 1455px 1197px #FFF , 261px 604px #FFF , 868px 160px #FFF , 58px 668px #FFF , 888px 169px #FFF;
        animation: animStar 40s linear infinite; }
        body header .top-section #stars:after,
        html header .top-section #stars:after {
          content: " ";
          position: absolute;
          top: 2000px;
          width: 1px;
          height: 1px;
          background: transparent;
          box-shadow: 1314px 19652px #FFF , 1430px 47px #FFF , 1415px 20px #FFF , 1061px 1165px #FFF , 838px 1850px #FFF , 865px 1176px #FFF , 1567px 260px #FFF , 892px 108px #FFF , 1191px 475px #FFF , 1246px 1416px #FFF , 809px 1111px #FFF , 49px 646px #FFF , 1546px 1846px #FFF , 15px 765px #FFF , 1575px 955px #FFF , 597px 1474px #FFF , 1661px 1338px #FFF , 595px 1903px #FFF , 690px 1678px #FFF , 621px 1245px #FFF , 1656px 1091px #FFF , 767px 1381px #FFF , 1227px 1306px #FFF , 1226px 683px #FFF , 1536px 1234px #FFF , 1870px 462px #FFF , 160px 1284px #FFF , 495px 1400px #FFF , 1383px 1487px #FFF , 315px 147px #FFF , 1574px 1506px #FFF , 237px 72px #FFF , 1180px 1953px #FFF , 1336px 1701px #FFF , 771px 463px #FFF , 932px 1185px #FFF , 595px 358px #FFF , 577px 1094px #FFF , 803px 506px #FFF , 1499px 1260px #FFF , 331px 909px #FFF , 373px 1879px #FFF , 635px 381px #FFF , 453px 702px #FFF , 529px 1742px #FFF , 1780px 670px #FFF , 1376px 954px #FFF , 528px 738px #FFF , 1031px 1838px #FFF , 806px 131px #FFF , 1285px 308px #FFF , 1470px 1025px #FFF , 1835px 1218px #FFF , 23px 1099px #FFF , 1293px 1569px #FFF , 910px 192px #FFF , 978px 1262px #FFF , 1792px 1259px #FFF , 1654px 1733px #FFF , 342px 1315px #FFF , 697px 177px #FFF , 1014px 1875px #FFF , 168px 64px #FFF , 465px 641px #FFF , 934px 1377px #FFF , 978px 792px #FFF , 1959px 836px #FFF , 921px 689px #FFF , 1540px 291px #FFF , 1887px 1915px #FFF , 540px 1143px #FFF , 1716px 1652px #FFF , 1010px 441px #FFF , 618px 136px #FFF , 1665px 985px #FFF , 1470px 1791px #FFF , 161px 1128px #FFF , 1454px 1215px #FFF , 913px 1144px #FFF , 459px 713px #FFF , 482px 945px #FFF , 1831px 214px #FFF , 1850px 646px #FFF , 600px 1110px #FFF , 1871px 1910px #FFF , 503px 29px #FFF , 705px 409px #FFF , 572px 1709px #FFF , 1306px 1180px #FFF , 718px 1004px #FFF , 86px 823px #FFF , 970px 1709px #FFF , 194px 475px #FFF , 1086px 1880px #FFF , 1322px 874px #FFF , 227px 148px #FFF , 1258px 1552px #FFF , 1704px 1953px #FFF , 873px 1455px #FFF , 1795px 234px #FFF , 1092px 1518px #FFF , 704px 1136px #FFF , 1121px 1731px #FFF , 719px 595px #FFF , 1945px 233px #FFF , 1320px 74px #FFF , 976px 1136px #FFF , 1855px 85px #FFF , 125px 73px #FFF , 1529px 919px #FFF , 691px 49px #FFF , 725px 1991px #FFF , 628px 254px #FFF , 980px 1558px #FFF , 1938px 1579px #FFF , 378px 704px #FFF , 83px 981px #FFF , 1715px 1966px #FFF , 1318px 1465px #FFF , 1429px 1199px #FFF , 316px 1082px #FFF , 230px 1652px #FFF , 50px 763px #FFF , 109px 1570px #FFF , 1780px 789px #FFF , 1523px 580px #FFF , 1988px 208px #FFF , 283px 317px #FFF , 313px 1935px #FFF , 1939px 950px #FFF , 74px 7px #FFF , 1967px 1551px #FFF , 68px 1730px #FFF , 316px 1392px #FFF , 1788px 1004px #FFF , 789px 1228px #FFF , 1079px 1057px #FFF , 1593px 780px #FFF , 689px 24px #FFF , 1160px 41px #FFF , 623px 511px #FFF , 1753px 1403px #FFF , 1870px 215px #FFF , 794px 284px #FFF , 1213px 1313px #FFF , 1693px 1921px #FFF , 1561px 90px #FFF , 1979px 1461px #FFF , 1851px 1489px #FFF , 1359px 996px #FFF , 1707px 1553px #FFF , 726px 539px #FFF , 1887px 1688px #FFF , 999px 1394px #FFF , 568px 78px #FFF , 78px 981px #FFF , 475px 1656px #FFF , 1047px 36px #FFF , 1987px 1354px #FFF , 505px 161px #FFF , 589px 1775px #FFF , 94px 448px #FFF , 1533px 1121px #FFF , 1076px 118px #FFF , 58px 215px #FFF , 157px 1516px #FFF , 745px 1214px #FFF , 296px 619px #FFF , 361px 1122px #FFF , 1345px 1032px #FFF , 518px 1670px #FFF , 580px 1799px #FFF , 695px 1206px #FFF , 1244px 1506px #FFF , 588px 483px #FFF , 1870px 1132px #FFF , 1659px 920px #FFF , 1481px 303px #FFF , 965px 1930px #FFF , 366px 1912px #FFF , 1520px 1647px #FFF , 1623px 1231px #FFF , 71px 1282px #FFF , 1083px 1375px #FFF , 1393px 1828px #FFF , 852px 915px #FFF , 1104px 1833px #FFF , 1447px 1521px #FFF , 1475px 1544px #FFF , 1862px 1101px #FFF , 593px 269px #FFF , 3px 802px #FFF , 142px 1758px #FFF , 1578px 969px #FFF , 1393px 1851px #FFF , 563px 1165px #FFF , 464px 333px #FFF , 363px 1179px #FFF , 55px 907px #FFF , 846px 36px #FFF , 427px 805px #FFF , 638px 152px #FFF , 1697px 1251px #FFF , 87px 1663px #FFF , 1337px 1308px #FFF , 1873px 485px #FFF , 422px 133px #FFF , 1973px 159px #FFF , 177px 889px #FFF , 1680px 1083px #FFF , 1921px 1833px #FFF , 1148px 305px #FFF , 63px 1591px #FFF , 704px 1194px #FFF , 1113px 1030px #FFF , 1955px 880px #FFF , 481px 560px #FFF , 339px 463px #FFF , 1085px 1350px #FFF , 1386px 1939px #FFF , 485px 1470px #FFF , 1281px 192px #FFF , 895px 267px #FFF , 1664px 185px #FFF , 248px 1713px #FFF , 555px 15px #FFF , 1875px 1181px #FFF , 1711px 1757px #FFF , 295px 1742px #FFF , 1822px 1213px #FFF , 739px 421px #FFF , 1762px 405px #FFF , 496px 1301px #FFF , 1942px 1163px #FFF , 1612px 712px #FFF , 1029px 567px #FFF , 1472px 108px #FFF , 1247px 1643px #FFF , 399px 475px #FFF , 373px 525px #FFF , 827px 1623px #FFF , 1156px 184px #FFF , 1122px 314px #FFF , 1917px 317px #FFF , 531px 901px #FFF , 1226px 182px #FFF , 132px 100px #FFF , 724px 642px #FFF , 652px 714px #FFF , 110px 1742px #FFF , 1427px 1279px #FFF , 576px 851px #FFF , 1919px 560px #FFF , 1590px 177px #FFF , 1931px 810px #FFF , 837px 809px #FFF , 1727px 166px #FFF , 1315px 1094px #FFF , 33px 880px #FFF , 422px 588px #FFF , 1431px 1012px #FFF , 244px 1454px #FFF , 1770px 646px #FFF , 348px 1117px #FFF , 1243px 700px #FFF , 717px 472px #FFF , 936px 592px #FFF , 1543px 288px #FFF , 1775px 1578px #FFF , 769px 1896px #FFF , 940px 1891px #FFF , 1489px 767px #FFF , 1463px 1930px #FFF , 1614px 615px #FFF , 1880px 1965px #FFF , 1107px 1658px #FFF , 1410px 759px #FFF , 1013px 183px #FFF , 2px 213px #FFF , 795px 1328px #FFF , 1844px 1041px #FFF , 1788px 1159px #FFF , 274px 491px #FFF , 1289px 494px #FFF , 708px 12px #FFF , 126px 300px #FFF , 1285px 1393px #FFF , 1133px 69px #FFF , 1680px 1775px #FFF , 170px 1202px #FFF , 76px 410px #FFF , 641px 1454px #FFF , 1440px 1826px #FFF , 1302px 890px #FFF , 1351px 1526px #FFF , 711px 207px #FFF , 875px 1431px #FFF , 585px 1301px #FFF , 754px 1410px #FFF , 1665px 1261px #FFF , 1828px 1234px #FFF , 467px 1754px #FFF , 1854px 1053px #FFF , 1530px 951px #FFF , 613px 693px #FFF , 1249px 1939px #FFF , 1102px 122px #FFF , 1815px 1358px #FFF , 1002px 74px #FFF , 709px 887px #FFF , 798px 990px #FFF , 514px 1341px #FFF , 1189px 426px #FFF , 560px 996px #FFF , 1937px 1824px #FFF , 1819px 204px #FFF , 515px 28px #FFF , 1676px 1662px #FFF , 834px 969px #FFF , 1952px 336px #FFF , 877px 1563px #FFF , 240px 162px #FFF , 1085px 933px #FFF , 1049px 468px #FFF , 1579px 1030px #FFF , 1629px 1712px #FFF , 1408px 799px #FFF , 666px 1456px #FFF , 884px 1956px #FFF , 909px 346px #FFF , 661px 618px #FFF , 383px 628px #FFF , 846px 1724px #FFF , 1193px 1026px #FFF , 1694px 223px #FFF , 1304px 1309px #FFF , 1998px 646px #FFF , 1779px 857px #FFF , 722px 580px #FFF , 1423px 73px #FFF , 408px 1889px #FFF , 1532px 1205px #FFF , 340px 294px #FFF , 716px 1391px #FFF , 296px 1007px #FFF , 982px 1479px #FFF , 1202px 781px #FFF , 1262px 1703px #FFF , 1020px 251px #FFF , 1135px 1131px #FFF , 77px 1721px #FFF , 509px 343px #FFF , 847px 1035px #FFF , 1781px 1761px #FFF , 656px 1310px #FFF , 1795px 1276px #FFF , 933px 1681px #FFF , 12px 1496px #FFF , 1357px 286px #FFF , 562px 924px #FFF , 762px 1718px #FFF , 1008px 1889px #FFF , 1297px 1146px #FFF , 1642px 1030px #FFF , 1085px 1397px #FFF , 1627px 969px #FFF , 1290px 390px #FFF , 601px 1217px #FFF , 595px 133px #FFF , 1003px 1893px #FFF , 1699px 1103px #FFF , 1655px 1332px #FFF , 1306px 1368px #FFF , 1905px 1949px #FFF , 427px 1012px #FFF , 663px 849px #FFF , 1327px 196px #FFF , 1115px 796px #FFF , 57px 1644px #FFF , 1912px 591px #FFF , 1991px 878px #FFF , 1165px 1609px #FFF , 1458px 453px #FFF , 1177px 1981px #FFF , 1649px 628px #FFF , 340px 1077px #FFF , 257px 1245px #FFF , 459px 786px #FFF , 954px 1793px #FFF , 1719px 1108px #FFF , 1566px 1217px #FFF , 1449px 1127px #FFF , 956px 1664px #FFF , 73px 420px #FFF , 715px 439px #FFF , 1766px 575px #FFF , 1749px 1249px #FFF , 1083px 1538px #FFF , 1258px 1567px #FFF , 760px 1033px #FFF , 1126px 1385px #FFF , 1787px 690px #FFF , 12px 1010px #FFF , 1249px 576px #FFF , 1156px 276px #FFF , 1080px 429px #FFF , 780px 785px #FFF , 1872px 1419px #FFF , 1802px 405px #FFF , 87px 1483px #FFF , 345px 1382px #FFF , 1514px 355px #FFF , 619px 1344px #FFF , 6px 400px #FFF , 206px 1208px #FFF , 743px 300px #FFF , 1389px 1658px #FFF , 1062px 671px #FFF , 237px 979px #FFF , 606px 1099px #FFF , 1908px 382px #FFF , 599px 354px #FFF , 1338px 548px #FFF , 665px 1703px #FFF , 1045px 6px #FFF , 231px 1772px #FFF , 1740px 860px #FFF , 1422px 395px #FFF , 1826px 1368px #FFF , 538px 987px #FFF , 996px 1209px #FFF , 1477px 948px #FFF , 144px 782px #FFF , 1851px 572px #FFF , 1442px 1127px #FFF , 925px 1859px #FFF , 1308px 1628px #FFF , 1789px 882px #FFF , 342px 699px #FFF , 554px 1038px #FFF , 1175px 581px #FFF , 1280px 1568px #FFF , 121px 523px #FFF , 239px 479px #FFF , 1852px 333px #FFF , 714px 1736px #FFF , 1252px 1971px #FFF , 199px 268px #FFF , 1348px 1094px #FFF , 1864px 1635px #FFF , 1085px 1753px #FFF , 1069px 489px #FFF , 1651px 1729px #FFF , 1974px 1649px #FFF , 1427px 541px #FFF , 326px 408px #FFF , 1248px 1817px #FFF , 636px 762px #FFF , 1779px 1002px #FFF , 1585px 1406px #FFF , 1431px 702px #FFF , 654px 334px #FFF , 1368px 1159px #FFF , 1206px 1046px #FFF , 915px 1235px #FFF , 310px 1439px #FFF , 708px 409px #FFF , 686px 157px #FFF , 933px 782px #FFF , 1543px 1845px #FFF , 668px 262px #FFF , 1105px 640px #FFF , 156px 683px #FFF , 1204px 1988px #FFF , 1639px 377px #FFF , 809px 1677px #FFF , 488px 938px #FFF , 1047px 715px #FFF , 1861px 1477px #FFF , 1149px 1608px #FFF , 744px 1413px #FFF , 243px 1568px #FFF , 1089px 1741px #FFF , 1839px 289px #FFF , 1939px 251px #FFF , 57px 742px #FFF , 501px 1260px #FFF , 1391px 49px #FFF , 221px 666px #FFF , 404px 1955px #FFF , 414px 1554px #FFF , 633px 1081px #FFF , 1608px 989px #FFF , 166px 1629px #FFF , 985px 1288px #FFF , 276px 1617px #FFF , 944px 1276px #FFF , 743px 1089px #FFF , 1844px 1481px #FFF , 1626px 1906px #FFF , 1543px 434px #FFF , 372px 960px #FFF , 597px 143px #FFF , 1482px 1589px #FFF , 873px 902px #FFF , 1452px 227px #FFF , 537px 633px #FFF , 1015px 1587px #FFF , 1005px 1716px #FFF , 829px 1996px #FFF , 1194px 1229px #FFF , 1542px 1522px #FFF , 1810px 1069px #FFF , 801px 103px #FFF , 464px 1089px #FFF , 1961px 609px #FFF , 919px 1411px #FFF , 552px 1351px #FFF , 744px 1787px #FFF , 1161px 627px #FFF , 621px 1482px #FFF , 32px 1678px #FFF , 804px 40px #FFF , 1331px 519px #FFF , 298px 1504px #FFF , 740px 595px #FFF , 170px 1865px #FFF , 131px 322px #FFF , 326px 784px #FFF , 1468px 571px #FFF , 1931px 1127px #FFF , 21px 513px #FFF , 686px 719px #FFF , 706px 58px #FFF , 1462px 1285px #FFF , 1553px 283px #FFF , 1243px 1383px #FFF , 864px 1098px #FFF , 1563px 414px #FFF , 245px 460px #FFF , 1372px 532px #FFF , 733px 439px #FFF , 166px 1077px #FFF , 974px 207px #FFF , 1754px 1849px #FFF , 1743px 1560px #FFF , 264px 892px #FFF , 1427px 1828px #FFF , 1613px 1691px #FFF , 589px 1843px #FFF , 644px 1420px #FFF , 1316px 382px #FFF , 1825px 1562px #FFF , 1151px 1267px #FFF , 1100px 60px #FFF , 1407px 1226px #FFF , 319px 740px #FFF , 903px 606px #FFF , 1283px 502px #FFF , 632px 397px #FFF , 1635px 443px #FFF , 1676px 1936px #FFF , 886px 1602px #FFF , 834px 1102px #FFF , 515px 1567px #FFF , 1369px 776px #FFF , 734px 175px #FFF , 242px 1394px #FFF , 865px 467px #FFF , 999px 1790px #FFF , 500px 413px #FFF , 1293px 304px #FFF , 552px 1435px #FFF , 1618px 1784px #FFF , 1053px 1181px #FFF , 1223px 718px #FFF , 1175px 662px #FFF , 409px 1462px #FFF , 1977px 179px #FFF , 1632px 1104px #FFF , 1670px 102px #FFF , 1041px 877px #FFF , 1108px 1109px #FFF , 816px 1494px #FFF , 1778px 871px #FFF , 1686px 1105px #FFF , 862px 1256px #FFF , 1592px 380px #FFF , 1031px 1526px #FFF , 808px 293px #FFF , 737px 881px #FFF , 334px 720px #FFF , 1498px 1964px #FFF , 398px 1001px #FFF , 498px 1443px #FFF , 264px 879px #FFF , 8px 1238px #FFF , 1767px 160px #FFF , 1187px 1697px #FFF , 700px 48px #FFF , 600px 821px #FFF , 187px 193px #FFF , 786px 836px #FFF , 100px 739px #FFF , 231px 451px #FFF , 1814px 702px #FFF , 1891px 171px #FFF , 1746px 1135px #FFF , 1991px 1049px #FFF , 1080px 809px #FFF , 1502px 84px #FFF , 1716px 620px #FFF , 315px 603px #FFF , 725px 1842px #FFF , 1739px 336px #FFF , 486px 1267px #FFF , 1383px 646px #FFF , 672px 1127px #FFF , 646px 1720px #FFF , 1283px 585px #FFF , 667px 1990px #FFF , 1651px 184px #FFF , 294px 859px #FFF , 1392px 317px #FFF , 1498px 166px #FFF , 1716px 1200px #FFF , 748px 261px #FFF , 1161px 1833px #FFF , 28px 1992px #FFF , 804px 239px #FFF , 1326px 1241px #FFF , 924px 48px #FFF , 1079px 1634px #FFF , 1669px 1186px #FFF , 58px 85px #FFF , 398px 1370px #FFF , 942px 1430px #FFF , 1268px 602px #FFF , 774px 1679px #FFF , 1505px 405px #FFF , 163px 115px #FFF , 484px 1579px #FFF , 792px 643px #FFF , 1873px 502px #FFF , 751px 1606px #FFF , 1494px 283px #FFF , 101px 400px #FFF , 1086px 209px #FFF , 938px 1473px #FFF , 303px 1667px #FFF , 1680px 1556px #FFF , 325px 1117px #FFF , 1176px 1025px #FFF , 1445px 299px #FFF , 69px 72px #FFF , 1822px 296px #FFF , 472px 166px #FFF , 1700px 1091px #FFF , 958px 1734px #FFF , 314px 510px #FFF , 584px 628px #FFF , 614px 544px #FFF , 603px 1140px #FFF , 821px 669px #FFF , 811px 471px #FFF , 632px 689px #FFF , 1222px 1948px #FFF , 1793px 683px #FFF , 843px 768px #FFF , 1464px 1820px #FFF , 1240px 137px #FFF , 1282px 946px #FFF , 1052px 224px #FFF , 166px 1097px #FFF , 1894px 1231px #FFF , 239px 154px #FFF , 1057px 1153px #FFF , 900px 940px #FFF , 161px 1214px #FFF , 29px 1374px #FFF , 53px 1773px #FFF , 1519px 1023px #FFF , 1999px 938px #FFF , 1483px 1144px #FFF , 15px 61px #FFF , 1631px 949px #FFF , 1092px 1109px #FFF , 1336px 529px #FFF , 1753px 570px #FFF , 274px 1000px #FFF , 572px 1468px #FFF , 1742px 263px #FFF , 1728px 1911px #FFF , 1783px 1064px #FFF , 1612px 489px #FFF , 1455px 1197px #FFF , 261px 604px #FFF , 868px 160px #FFF , 58px 668px #FFF , 888px 169px #FFF; }
      body header .top-section #stars2,
      html header .top-section #stars2 {
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: 784px 6450px #FFF , 140px 1765px #FFF , 798px 1495px #FFF , 337px 259px #FFF , 1792px 1552px #FFF , 1645px 977px #FFF , 771px 1332px #FFF , 708px 1090px #FFF , 790px 1593px #FFF , 184px 1694px #FFF , 1514px 1082px #FFF , 1946px 1993px #FFF , 631px 1913px #FFF , 1527px 389px #FFF , 1196px 792px #FFF , 1170px 1550px #FFF , 1162px 553px #FFF , 792px 1524px #FFF , 1766px 521px #FFF , 390px 836px #FFF , 1432px 1903px #FFF , 846px 585px #FFF , 1472px 558px #FFF , 1956px 825px #FFF , 800px 133px #FFF , 490px 225px #FFF , 436px 603px #FFF , 391px 274px #FFF , 957px 1295px #FFF , 1215px 314px #FFF , 721px 1911px #FFF , 1843px 173px #FFF , 738px 911px #FFF , 869px 203px #FFF , 355px 1691px #FFF , 1018px 1082px #FFF , 49px 1288px #FFF , 718px 175px #FFF , 870px 1681px #FFF , 1219px 1003px #FFF , 1206px 130px #FFF , 162px 1516px #FFF , 119px 545px #FFF , 229px 1157px #FFF , 1890px 153px #FFF , 1966px 818px #FFF , 1082px 780px #FFF , 1877px 53px #FFF , 1323px 1468px #FFF , 319px 1224px #FFF , 1851px 40px #FFF , 139px 276px #FFF , 1882px 178px #FFF , 36px 315px #FFF , 867px 1628px #FFF , 1707px 792px #FFF , 552px 1619px #FFF , 972px 119px #FFF , 1616px 324px #FFF , 1292px 1801px #FFF , 82px 1545px #FFF , 1571px 224px #FFF , 106px 1573px #FFF , 1453px 1885px #FFF , 563px 572px #FFF , 1708px 1971px #FFF , 1621px 218px #FFF , 816px 1559px #FFF , 279px 332px #FFF , 21px 550px #FFF , 1968px 1565px #FFF , 578px 309px #FFF , 168px 520px #FFF , 12px 846px #FFF , 1581px 617px #FFF , 1006px 1454px #FFF , 673px 634px #FFF , 545px 1585px #FFF , 435px 1254px #FFF , 1842px 882px #FFF , 640px 170px #FFF , 1899px 365px #FFF , 1324px 1230px #FFF , 814px 1416px #FFF , 1718px 1405px #FFF , 1370px 1508px #FFF , 1280px 1661px #FFF , 1176px 711px #FFF , 1851px 1367px #FFF , 1774px 1472px #FFF , 1646px 1499px #FFF , 654px 1649px #FFF , 358px 725px #FFF , 486px 1184px #FFF , 777px 1272px #FFF , 812px 1323px #FFF , 98px 881px #FFF , 457px 1436px #FFF , 195px 190px #FFF , 143px 420px #FFF , 801px 1093px #FFF , 659px 1792px #FFF , 11px 580px #FFF , 290px 543px #FFF , 1731px 1600px #FFF , 1000px 911px #FFF , 1995px 1703px #FFF , 60px 322px #FFF , 393px 456px #FFF , 1621px 414px #FFF , 358px 1035px #FFF , 1004px 61px #FFF , 490px 66px #FFF , 1608px 69px #FFF , 554px 1233px #FFF , 1100px 1862px #FFF , 907px 1408px #FFF , 1865px 1498px #FFF , 1048px 193px #FFF , 1705px 609px #FFF , 812px 1422px #FFF , 1075px 1809px #FFF , 228px 1504px #FFF , 1759px 1237px #FFF , 1727px 709px #FFF , 136px 1199px #FFF , 1567px 1189px #FFF , 66px 994px #FFF , 1481px 812px #FFF , 1456px 229px #FFF , 148px 553px #FFF , 1465px 1858px #FFF , 1123px 572px #FFF , 821px 915px #FFF , 835px 1115px #FFF , 1406px 1792px #FFF , 351px 305px #FFF , 757px 1632px #FFF , 868px 1028px #FFF , 721px 993px #FFF , 1867px 401px #FFF , 846px 1528px #FFF , 651px 1876px #FFF , 1021px 706px #FFF , 491px 710px #FFF , 676px 1620px #FFF , 164px 357px #FFF , 1692px 1483px #FFF , 695px 1987px #FFF , 1629px 1448px #FFF , 1317px 799px #FFF , 235px 1958px #FFF , 785px 1034px #FFF , 668px 1473px #FFF , 1810px 301px #FFF , 1642px 1703px #FFF , 37px 1440px #FFF , 1132px 1562px #FFF , 1422px 210px #FFF , 1263px 1547px #FFF , 1785px 1839px #FFF , 1331px 401px #FFF , 1647px 1234px #FFF , 1164px 1840px #FFF , 445px 1579px #FFF , 1318px 704px #FFF , 1724px 911px #FFF , 637px 1168px #FFF , 1281px 1194px #FFF , 447px 197px #FFF , 491px 874px #FFF , 1321px 1698px #FFF , 488px 1928px #FFF , 427px 257px #FFF , 234px 1622px #FFF , 1174px 287px #FFF , 1574px 1334px #FFF , 1123px 1211px #FFF , 332px 1927px #FFF , 1209px 863px #FFF , 954px 1750px #FFF , 277px 1396px #FFF , 690px 1425px #FFF , 606px 1591px #FFF , 1985px 742px #FFF , 780px 1636px #FFF , 530px 1266px #FFF , 992px 614px #FFF , 469px 1789px #FFF , 987px 74px #FFF , 589px 1195px #FFF , 237px 986px #FFF , 528px 1211px #FFF , 27px 1052px #FFF , 1705px 1501px #FFF , 1277px 1070px #FFF , 909px 356px #FFF , 228px 1412px #FFF , 234px 290px #FFF , 1270px 1801px #FFF;
        animation: animStar 80s linear infinite; }
        body header .top-section #stars2:after,
        html header .top-section #stars2:after {
          content: " ";
          position: absolute;
          top: 2000px;
          width: 2px;
          height: 2px;
          background: transparent;
          box-shadow: 784px 6450px #FFF , 140px 1765px #FFF , 798px 1495px #FFF , 337px 259px #FFF , 1792px 1552px #FFF , 1645px 977px #FFF , 771px 1332px #FFF , 708px 1090px #FFF , 790px 1593px #FFF , 184px 1694px #FFF , 1514px 1082px #FFF , 1946px 1993px #FFF , 631px 1913px #FFF , 1527px 389px #FFF , 1196px 792px #FFF , 1170px 1550px #FFF , 1162px 553px #FFF , 792px 1524px #FFF , 1766px 521px #FFF , 390px 836px #FFF , 1432px 1903px #FFF , 846px 585px #FFF , 1472px 558px #FFF , 1956px 825px #FFF , 800px 133px #FFF , 490px 225px #FFF , 436px 603px #FFF , 391px 274px #FFF , 957px 1295px #FFF , 1215px 314px #FFF , 721px 1911px #FFF , 1843px 173px #FFF , 738px 911px #FFF , 869px 203px #FFF , 355px 1691px #FFF , 1018px 1082px #FFF , 49px 1288px #FFF , 718px 175px #FFF , 870px 1681px #FFF , 1219px 1003px #FFF , 1206px 130px #FFF , 162px 1516px #FFF , 119px 545px #FFF , 229px 1157px #FFF , 1890px 153px #FFF , 1966px 818px #FFF , 1082px 780px #FFF , 1877px 53px #FFF , 1323px 1468px #FFF , 319px 1224px #FFF , 1851px 40px #FFF , 139px 276px #FFF , 1882px 178px #FFF , 36px 315px #FFF , 867px 1628px #FFF , 1707px 792px #FFF , 552px 1619px #FFF , 972px 119px #FFF , 1616px 324px #FFF , 1292px 1801px #FFF , 82px 1545px #FFF , 1571px 224px #FFF , 106px 1573px #FFF , 1453px 1885px #FFF , 563px 572px #FFF , 1708px 1971px #FFF , 1621px 218px #FFF , 816px 1559px #FFF , 279px 332px #FFF , 21px 550px #FFF , 1968px 1565px #FFF , 578px 309px #FFF , 168px 520px #FFF , 12px 846px #FFF , 1581px 617px #FFF , 1006px 1454px #FFF , 673px 634px #FFF , 545px 1585px #FFF , 435px 1254px #FFF , 1842px 882px #FFF , 640px 170px #FFF , 1899px 365px #FFF , 1324px 1230px #FFF , 814px 1416px #FFF , 1718px 1405px #FFF , 1370px 1508px #FFF , 1280px 1661px #FFF , 1176px 711px #FFF , 1851px 1367px #FFF , 1774px 1472px #FFF , 1646px 1499px #FFF , 654px 1649px #FFF , 358px 725px #FFF , 486px 1184px #FFF , 777px 1272px #FFF , 812px 1323px #FFF , 98px 881px #FFF , 457px 1436px #FFF , 195px 190px #FFF , 143px 420px #FFF , 801px 1093px #FFF , 659px 1792px #FFF , 11px 580px #FFF , 290px 543px #FFF , 1731px 1600px #FFF , 1000px 911px #FFF , 1995px 1703px #FFF , 60px 322px #FFF , 393px 456px #FFF , 1621px 414px #FFF , 358px 1035px #FFF , 1004px 61px #FFF , 490px 66px #FFF , 1608px 69px #FFF , 554px 1233px #FFF , 1100px 1862px #FFF , 907px 1408px #FFF , 1865px 1498px #FFF , 1048px 193px #FFF , 1705px 609px #FFF , 812px 1422px #FFF , 1075px 1809px #FFF , 228px 1504px #FFF , 1759px 1237px #FFF , 1727px 709px #FFF , 136px 1199px #FFF , 1567px 1189px #FFF , 66px 994px #FFF , 1481px 812px #FFF , 1456px 229px #FFF , 148px 553px #FFF , 1465px 1858px #FFF , 1123px 572px #FFF , 821px 915px #FFF , 835px 1115px #FFF , 1406px 1792px #FFF , 351px 305px #FFF , 757px 1632px #FFF , 868px 1028px #FFF , 721px 993px #FFF , 1867px 401px #FFF , 846px 1528px #FFF , 651px 1876px #FFF , 1021px 706px #FFF , 491px 710px #FFF , 676px 1620px #FFF , 164px 357px #FFF , 1692px 1483px #FFF , 695px 1987px #FFF , 1629px 1448px #FFF , 1317px 799px #FFF , 235px 1958px #FFF , 785px 1034px #FFF , 668px 1473px #FFF , 1810px 301px #FFF , 1642px 1703px #FFF , 37px 1440px #FFF , 1132px 1562px #FFF , 1422px 210px #FFF , 1263px 1547px #FFF , 1785px 1839px #FFF , 1331px 401px #FFF , 1647px 1234px #FFF , 1164px 1840px #FFF , 445px 1579px #FFF , 1318px 704px #FFF , 1724px 911px #FFF , 637px 1168px #FFF , 1281px 1194px #FFF , 447px 197px #FFF , 491px 874px #FFF , 1321px 1698px #FFF , 488px 1928px #FFF , 427px 257px #FFF , 234px 1622px #FFF , 1174px 287px #FFF , 1574px 1334px #FFF , 1123px 1211px #FFF , 332px 1927px #FFF , 1209px 863px #FFF , 954px 1750px #FFF , 277px 1396px #FFF , 690px 1425px #FFF , 606px 1591px #FFF , 1985px 742px #FFF , 780px 1636px #FFF , 530px 1266px #FFF , 992px 614px #FFF , 469px 1789px #FFF , 987px 74px #FFF , 589px 1195px #FFF , 237px 986px #FFF , 528px 1211px #FFF , 27px 1052px #FFF , 1705px 1501px #FFF , 1277px 1070px #FFF , 909px 356px #FFF , 228px 1412px #FFF , 234px 290px #FFF , 1270px 1801px #FFF; }
      body header .top-section #stars3,
      html header .top-section #stars3 {
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: 661px 16205px #FFF , 859px 1538px #FFF , 953px 495px #FFF , 1601px 57px #FFF , 108px 1601px #FFF , 861px 1809px #FFF , 1089px 1582px #FFF , 1902px 423px #FFF , 178px 903px #FFF , 577px 1912px #FFF , 1211px 1267px #FFF , 914px 997px #FFF , 1673px 691px #FFF , 1155px 1043px #FFF , 1908px 1468px #FFF , 709px 1198px #FFF , 165px 1411px #FFF , 855px 995px #FFF , 732px 437px #FFF , 1116px 275px #FFF , 723px 145px #FFF , 1805px 836px #FFF , 1232px 305px #FFF , 1110px 1607px #FFF , 661px 1735px #FFF , 181px 164px #FFF , 1578px 329px #FFF , 890px 1082px #FFF , 1699px 1625px #FFF , 843px 382px #FFF , 1072px 1370px #FFF , 1989px 1372px #FFF , 95px 1212px #FFF , 1038px 715px #FFF , 494px 577px #FFF , 22px 99px #FFF , 986px 1006px #FFF , 721px 648px #FFF , 897px 1896px #FFF , 667px 1590px #FFF , 1561px 1463px #FFF , 1420px 1499px #FFF , 793px 1578px #FFF , 1261px 1014px #FFF , 232px 1360px #FFF , 441px 1895px #FFF , 1134px 1043px #FFF , 1982px 1519px #FFF , 1432px 114px #FFF , 154px 483px #FFF , 204px 1879px #FFF , 1702px 456px #FFF , 1873px 1486px #FFF , 237px 814px #FFF , 1284px 1664px #FFF , 56px 646px #FFF , 1523px 1300px #FFF , 99px 345px #FFF , 1212px 1538px #FFF , 996px 465px #FFF , 341px 732px #FFF , 1003px 1768px #FFF , 881px 724px #FFF , 1625px 351px #FFF , 271px 1463px #FFF , 1524px 1254px #FFF , 840px 1043px #FFF , 744px 515px #FFF , 406px 943px #FFF , 421px 582px #FFF , 1204px 647px #FFF , 1733px 761px #FFF , 553px 254px #FFF , 383px 212px #FFF , 8px 1315px #FFF , 707px 829px #FFF , 693px 897px #FFF , 858px 1645px #FFF , 37px 1560px #FFF , 187px 1453px #FFF , 892px 1991px #FFF , 516px 318px #FFF , 1080px 1175px #FFF , 987px 1932px #FFF , 1748px 1711px #FFF , 882px 1196px #FFF , 138px 1889px #FFF , 1316px 125px #FFF , 1788px 793px #FFF , 1956px 193px #FFF , 1831px 722px #FFF , 908px 1556px #FFF , 942px 520px #FFF , 200px 16px #FFF , 1193px 742px #FFF , 1583px 1133px #FFF , 929px 925px #FFF , 1242px 1091px #FFF , 1314px 1858px #FFF , 481px 579px #FFF;
        animation: animStar 120s linear infinite; }
        body header .top-section #stars3:after,
        html header .top-section #stars3:after {
          content: " ";
          position: absolute;
          top: 2000px;
          width: 3px;
          height: 3px;
          background: transparent;
          box-shadow: 661px 16205px #FFF , 859px 1538px #FFF , 953px 495px #FFF , 1601px 57px #FFF , 108px 1601px #FFF , 861px 1809px #FFF , 1089px 1582px #FFF , 1902px 423px #FFF , 178px 903px #FFF , 577px 1912px #FFF , 1211px 1267px #FFF , 914px 997px #FFF , 1673px 691px #FFF , 1155px 1043px #FFF , 1908px 1468px #FFF , 709px 1198px #FFF , 165px 1411px #FFF , 855px 995px #FFF , 732px 437px #FFF , 1116px 275px #FFF , 723px 145px #FFF , 1805px 836px #FFF , 1232px 305px #FFF , 1110px 1607px #FFF , 661px 1735px #FFF , 181px 164px #FFF , 1578px 329px #FFF , 890px 1082px #FFF , 1699px 1625px #FFF , 843px 382px #FFF , 1072px 1370px #FFF , 1989px 1372px #FFF , 95px 1212px #FFF , 1038px 715px #FFF , 494px 577px #FFF , 22px 99px #FFF , 986px 1006px #FFF , 721px 648px #FFF , 897px 1896px #FFF , 667px 1590px #FFF , 1561px 1463px #FFF , 1420px 1499px #FFF , 793px 1578px #FFF , 1261px 1014px #FFF , 232px 1360px #FFF , 441px 1895px #FFF , 1134px 1043px #FFF , 1982px 1519px #FFF , 1432px 114px #FFF , 154px 483px #FFF , 204px 1879px #FFF , 1702px 456px #FFF , 1873px 1486px #FFF , 237px 814px #FFF , 1284px 1664px #FFF , 56px 646px #FFF , 1523px 1300px #FFF , 99px 345px #FFF , 1212px 1538px #FFF , 996px 465px #FFF , 341px 732px #FFF , 1003px 1768px #FFF , 881px 724px #FFF , 1625px 351px #FFF , 271px 1463px #FFF , 1524px 1254px #FFF , 840px 1043px #FFF , 744px 515px #FFF , 406px 943px #FFF , 421px 582px #FFF , 1204px 647px #FFF , 1733px 761px #FFF , 553px 254px #FFF , 383px 212px #FFF , 8px 1315px #FFF , 707px 829px #FFF , 693px 897px #FFF , 858px 1645px #FFF , 37px 1560px #FFF , 187px 1453px #FFF , 892px 1991px #FFF , 516px 318px #FFF , 1080px 1175px #FFF , 987px 1932px #FFF , 1748px 1711px #FFF , 882px 1196px #FFF , 138px 1889px #FFF , 1316px 125px #FFF , 1788px 793px #FFF , 1956px 193px #FFF , 1831px 722px #FFF , 908px 1556px #FFF , 942px 520px #FFF , 200px 16px #FFF , 1193px 742px #FFF , 1583px 1133px #FFF , 929px 925px #FFF , 1242px 1091px #FFF , 1314px 1858px #FFF , 481px 579px #FFF; }
@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }
      body header .top-section .icon-sm,
      html header .top-section .icon-sm {
        width: 30px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2; }
      body header .top-section .icon-md,
      html header .top-section .icon-md {
        width: 45px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2; }
      body header .top-section .icon-bg,
      html header .top-section .icon-bg {
        width: 60px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2; }
      body header .top-section svg,
      html header .top-section svg {
        position: absolute;
        top: 0;
        left: 0; }
        body header .top-section svg path,
        html header .top-section svg path {
          opacity: 0;
          stroke: #346a816c;
          stroke-width: 10;
          fill: none;
          animation: dash 5s ease-in-out infinite; }
        body header .top-section svg #path1,
        html header .top-section svg #path1 {
          stroke-dasharray: calc(var(--pathLength1) / 1.5);
          stroke-dashoffset: calc(var(--pathLength1) / 2.5); }
        body header .top-section svg #path2,
        html header .top-section svg #path2 {
          stroke-dasharray: calc(var(--pathLength2) / 1.5);
          stroke-dashoffset: calc(var(--pathLength2) / 2.5); }
        body header .top-section svg #path3,
        html header .top-section svg #path3 {
          animation: dash-small 5s ease-in-out infinite;
          stroke-dasharray: calc(var(--pathLength3) / 1.5);
          stroke-dashoffset: calc(var(--pathLength3) / 2.5);
          animation-delay: 1s; }
        body header .top-section svg #path4,
        html header .top-section svg #path4 {
          animation: dash-small 5s ease-in-out infinite;
          stroke-dasharray: calc(var(--pathLength4) / 1.5);
          stroke-dashoffset: calc(var(--pathLength4) / 2.5);
          animation-delay: 1s; }
        body header .top-section svg #path5,
        html header .top-section svg #path5 {
          stroke-dasharray: calc(var(--pathLength5) / 1.5);
          stroke-dashoffset: calc(var(--pathLength5) / 2.5);
          animation-delay: 2s; }
        body header .top-section svg #path6,
        html header .top-section svg #path6 {
          stroke-dasharray: calc(var(--pathLength6) / 1.5);
          stroke-dashoffset: calc(var(--pathLength6) / 2.5);
          animation-delay: 2s; }
        body header .top-section svg #path7,
        html header .top-section svg #path7 {
          animation: dash-small 5s ease-in-out infinite;
          stroke-dasharray: calc(var(--pathLength7) / 1.5);
          stroke-dashoffset: calc(var(--pathLength7) / 2.5);
          animation-delay: 3s; }
        body header .top-section svg #path8,
        html header .top-section svg #path8 {
          animation: dash-small 5s ease-in-out infinite;
          stroke-dasharray: calc(var(--pathLength8) / 1.5);
          stroke-dashoffset: calc(var(--pathLength8) / 2.5);
          animation-delay: 3s; }
        body header .top-section svg #path9,
        html header .top-section svg #path9 {
          stroke-dasharray: calc(var(--pathLength9) / 1.5);
          stroke-dashoffset: calc(var(--pathLength9) / 2.5);
          animation-delay: 4s; }
        body header .top-section svg #path10,
        html header .top-section svg #path10 {
          stroke-dasharray: calc(var(--pathLength10) / 1.5);
          stroke-dashoffset: calc(var(--pathLength10) / 2.5);
          animation-delay: 4s; }
@keyframes dash {
  20% {
    opacity: 0; }
  25% {
    opacity: 1;
    stroke-width: 2; }
  34% {
    opacity: 1; }
  36% {
    opacity: 1; }
  40% {
    stroke-dashoffset: -100;
    stroke-width: 0;
    opacity: 0; }
  90% {
    display: none;
    opacity: 0; } }
@keyframes dash-small {
  20% {
    opacity: 0; }
  25% {
    opacity: 1;
    stroke-width: 2; }
  34% {
    opacity: 1; }
  36% {
    opacity: 1; }
  40% {
    stroke-dashoffset: -50;
    stroke-width: 0;
    opacity: 0; }
  90% {
    display: none;
    opacity: 0; } }
      body header .top-section .icon-1,
      html header .top-section .icon-1 {
        transform: rotate(-25deg);
        offset-path: var(--path1);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite; }
      body header .top-section .icon-2,
      html header .top-section .icon-2 {
        transform: rotate(25deg);
        offset-path: var(--path2);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite; }
      body header .top-section .icon-3,
      html header .top-section .icon-3 {
        transform: rotate(-5deg);
        offset-path: var(--path3);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 1s; }
      body header .top-section .icon-4,
      html header .top-section .icon-4 {
        transform: rotate(-120deg);
        offset-path: var(--path4);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 1s; }
      body header .top-section .icon-5,
      html header .top-section .icon-5 {
        transform: rotate(-30deg);
        offset-path: var(--path5);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 2s; }
      body header .top-section .icon-6,
      html header .top-section .icon-6 {
        transform: rotate(-15deg);
        offset-path: var(--path6);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 2s; }
      body header .top-section .icon-7,
      html header .top-section .icon-7 {
        transform: rotate(10deg);
        offset-path: var(--path7);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 3s; }
      body header .top-section .icon-8,
      html header .top-section .icon-8 {
        transform: rotate(15deg);
        offset-path: var(--path8);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 3s; }
      body header .top-section .icon-9,
      html header .top-section .icon-9 {
        transform: rotate(-5deg);
        offset-path: var(--path9);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 4s; }
      body header .top-section .icon-10,
      html header .top-section .icon-10 {
        offset-path: var(--path10);
        offset-rotate: 0deg;
        animation: bla 5s ease-in-out infinite;
        animation-delay: 4s; }
@keyframes bla {
  34% {
    opacity: 1; }
  36% {
    opacity: 0; }
  40% {
    offset-distance: 100%;
    offset-rotate: 0deg;
    transform: rotate(0deg);
    opacity: 0; }
  90% {
    display: none;
    opacity: 0; } }
      body header .top-section .tube,
      html header .top-section .tube {
        position: absolute;
        bottom: 0.5px;
        left: 50%;
        transform: translateX(-50%) translateY(100%);
        width: 200px;
        z-index: 3; }
      body header .top-section .line-left,
      html header .top-section .line-left {
        position: absolute;
        bottom: -0.5px;
        left: 0;
        width: calc(50% - 99.5px);
        z-index: 2; }
      body header .top-section .line-right,
      html header .top-section .line-right {
        position: absolute;
        bottom: -0.5px;
        right: 0;
        width: calc(50% - 99.5px);
        z-index: 2; }
      body header .top-section .mobile,
      html header .top-section .mobile {
        display: none;
        width: calc(50% - 74.5px); }
    body header .bottom-section,
    html header .bottom-section {
      z-index: 3;
      height: 25vh;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative; }
      body header .bottom-section .building,
      html header .bottom-section .building {
        min-width: 140px;
        max-width: 140px;
        width: 10%; }
      body header .bottom-section .skyline,
      html header .bottom-section .skyline {
        position: absolute; }
      body header .bottom-section img#escombro-1,
      html header .bottom-section img#escombro-1 {
        opacity: 0;
        width: 8px;
        position: absolute;
        left: calc(50% - 50px);
        transform: translateX(-50%) rotate(-160deg);
        bottom: 40px;
        animation: swingTopLeft 1s ease-out 5;
        animation-delay: 1.9s; }
      body header .bottom-section img#escombro-2,
      html header .bottom-section img#escombro-2 {
        opacity: 0;
        width: 8px;
        position: absolute;
        left: calc(50% - 50px);
        transform: translateX(-50%) rotate(160deg);
        bottom: 30px;
        animation: swingBottomLeft 1s ease-out 5;
        animation-delay: 1.9s; }
      body header .bottom-section img#escombro-3,
      html header .bottom-section img#escombro-3 {
        opacity: 0;
        width: 8px;
        position: absolute;
        right: calc(50% - 55px);
        transform: translateX(-50%) rotate(-20deg);
        bottom: 40px;
        animation: swingTopRight 1s ease-out 5;
        animation-delay: 1.9s; }
      body header .bottom-section img#escombro-4,
      html header .bottom-section img#escombro-4 {
        opacity: 0;
        width: 8px;
        position: absolute;
        right: calc(50% - 55px);
        transform: translateX(-50%) rotate(20deg);
        bottom: 30px;
        animation: swingBottomRight 1s ease-out 5;
        animation-delay: 1.9s; }
@keyframes swingTopRight {
  0% {
    opacity: 1; }
  95% {
    right: calc(50% - 65px);
    bottom: --escombroTop;
    opacity: 0; } }
@keyframes swingBottomRight {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  95% {
    right: calc(50% - 65px);
    bottom: --escombroBottom;
    opacity: 0; } }
@keyframes swingTopLeft {
  0% {
    opacity: 1; }
  95% {
    left: calc(50% - 65px);
    bottom: --escombroTop;
    opacity: 0; } }
@keyframes swingBottomLeft {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  95% {
    left: calc(50% - 65px);
    bottom: --escombroBottom;
    opacity: 0; } }
      body header .bottom-section #building-1,
      body header .bottom-section #building-2,
      body header .bottom-section #building-3,
      body header .bottom-section #building-4,
      body header .bottom-section #building-5,
      body header .bottom-section #building-final,
      body header .bottom-section #skyline-1,
      body header .bottom-section #skyline-2,
      body header .bottom-section #skyline-3,
      body header .bottom-section #skyline-4,
      body header .bottom-section #skyline-final,
      html header .bottom-section #building-1,
      html header .bottom-section #building-2,
      html header .bottom-section #building-3,
      html header .bottom-section #building-4,
      html header .bottom-section #building-5,
      html header .bottom-section #building-final,
      html header .bottom-section #skyline-1,
      html header .bottom-section #skyline-2,
      html header .bottom-section #skyline-3,
      html header .bottom-section #skyline-4,
      html header .bottom-section #skyline-final {
        display: none; }

@media (max-width: 1000px) {
  .title {
    font-size: 32px; } }
@media (max-width: 700px) {
  body header {
    height: 95vh; }
    body header .top-section {
      height: 55vh; }
      body header .top-section .title {
        font-size: 28px; }
      body header .top-section .icon-sm {
        width: 35px; }
      body header .top-section .icon-md {
        width: 40px; }
      body header .top-section .icon-bg {
        width: 45px; }
      body header .top-section .icon-1,
      body header .top-section .icon-2,
      body header .top-section .icon-5,
      body header .top-section .icon-6,
      body header .top-section .icon-9,
      body header .top-section .icon-10 {
        animation: bla2 3s ease-in-out infinite; }
  @keyframes bla2 {
    56% {
      opacity: 1; }
    58% {
      opacity: 1; }
    60% {
      opacity: 0; }
    66% {
      offset-distance: 95%;
      offset-rotate: 0deg;
      transform: rotate(0deg);
      opacity: 0; }
    95% {
      display: none;
      opacity: 0; } }
      body header .top-section .icon-3,
      body header .top-section .icon-4,
      body header .top-section .icon-7,
      body header .top-section .icon-8,
      body header .top-section #path3,
      body header .top-section #path4,
      body header .top-section #path7,
      body header .top-section #path8 {
        display: none; }
      body header .top-section .icon-5,
      body header .top-section .icon-6,
      body header .top-section #path5,
      body header .top-section #path6 {
        animation-delay: 1s; }
      body header .top-section .icon-9,
      body header .top-section .icon-10,
      body header .top-section #path9,
      body header .top-section #path10 {
        animation-delay: 2s; }
      body header .top-section .line-left {
        display: none; }
      body header .top-section .line-left.mobile {
        display: block; }
      body header .top-section .line-right {
        display: none; }
      body header .top-section .line-right.mobile {
        display: block; }
      body header .top-section .tube {
        width: 150px; } }

/*# sourceMappingURL=index.css.map */
