body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fbfcfc;

  header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top-section {
      position: relative;
      background-color: #1e4e62;
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: flex-end;

      .title {
        margin: auto;
        margin-top: 15vh;
        text-align: center;
        font-family: Rajdhani;
        color: white;
        z-index: 7;
        font-size: 40px;
        padding: 0 40px;
        // opacity: 0;
        // transform: translateY(20px);
        // animation: fadeIn 1s ease;
        // animation-fill-mode: forwards;
        // animation-delay: 1s;

        // @keyframes fadeIn {
        //   100% {
        //     transform: translateY(0);
        //     opacity: 1;
        //   }
        // }

        span {
          font-weight: 300;
        }
      }

      @media(max-width: 1000px) {
        .title {
          font-size: 32px;
        }
      }

      @media(max-width: 700px) {
        .title {
          font-size: 28px;
        }
      }

      // Stars

      @function multiple-box-shadow($n) {
        $value: "#{random(2000)}px #{random(20000)}px #FFF";
        @for $i from 2 through $n {
          $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
        }
        @return unquote($value);
      }

      $shadows-small: multiple-box-shadow(700);
      $shadows-medium: multiple-box-shadow(200);
      $shadows-big: multiple-box-shadow(100);

      #stars {
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: $shadows-small;
        animation: animStar 40s linear infinite;

        &:after {
          content: " ";
          position: absolute;
          top: 2000px;
          width: 1px;
          height: 1px;
          background: transparent;
          box-shadow: $shadows-small;
        }
      }

      #stars2 {
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: $shadows-medium;
        animation: animStar 80s linear infinite;

        &:after {
          content: " ";
          position: absolute;
          top: 2000px;
          width: 2px;
          height: 2px;
          background: transparent;
          box-shadow: $shadows-medium;
        }
      }

      #stars3 {
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: $shadows-big;
        animation: animStar 120s linear infinite;

        &:after {
          content: " ";
          position: absolute;
          top: 2000px;
          width: 3px;
          height: 3px;
          background: transparent;
          box-shadow: $shadows-big;
        }
      }

      @keyframes animStar {
        from {
          transform: translateY(0px);
        }
        to {
          transform: translateY(-2000px);
        }
      }

      //Icons

      .icon-sm {
        width: 30px;
        position: absolute;
      }

      .icon-md {
        width: 45px;
        position: absolute;
      }

      .icon-bg {
        width: 60px;
        position: absolute;
      }

      .icon-1 {
        top: 0;
        left: 5%;
        transform: rotate(-25deg);
        animation: I ease-in-out 5s infinite;
        animation-fill-mode: forwards;
        animation-delay: 4s;
      }

      .icon-2 {
        top: 3%;
        left: 35%;
        transform: rotate(25deg);
        animation: H ease-in-out 5s infinite;
        animation-fill-mode: forwards;
        animation-delay: 3s;
      }
      .icon-3 {
        top: 10%;
        left: 60%;
        transform: rotate(-5deg);
        animation: E ease-in-out 5s infinite;
        animation-fill-mode: forwards;
        animation-delay: 2s;
      }
      .icon-4 {
        top: 15%;
        left: 80%;
        animation: C ease-in-out 5s infinite;
        animation-fill-mode: forwards;
        animation-delay: 1s;
      }
      .icon-5 {
        top: 15%;
        left: 95%;
        transform: rotate(-30deg);
        animation: J ease-in-out 5s infinite;
        animation-fill-mode: forwards;
        animation-delay: 4s;
      }
      .icon-6 {
        top: 62.5%;
        left: 35%;
        transform: rotate(-15deg);
        animation: F ease-in-out 5s infinite;
        animation-fill-mode: forwards;
        animation-delay: 2s;
      }
      .icon-7 {
        top: 60%;
        left: 75%;
        transform: rotate(10deg);
        animation: G ease-in-out 5s infinite;
        animation-fill-mode: forwards;
        animation-delay: 3s;
      }
      .icon-8 {
        top: 75%;
        left: 55%;
        transform: rotate(15deg);
        animation: A ease-in-out 5s infinite;
        animation-fill-mode: forwards;
      }
      .icon-9 {
        top: 40%;
        left: 15%;
        transform: rotate(-5deg);
        animation: D ease-in-out 5s infinite;
        animation-delay: 1s;
        animation-fill-mode: forwards;
      }
      .icon-10 {
        top: 70%;
        left: 22.5%;
        transform: rotate(25deg);
        animation: B ease-in-out 5s infinite;
        animation-fill-mode: forwards;
      }

      @keyframes A {
        25% {
          left: 35%;
          top: 10%;
          transform: translate(-50%, 0);
        }
        34% {
          opacity: 1;
        }

        36% {
          opacity: 0;
        }

        40% {
          left: 50%;
          top: 75vh;
          transform: translate(-50%,0);
          opacity: 0;
        }

        90% {
          display: none;
          opacity: 0;
        }
      }

      @keyframes B {
        25% {
          left: 65%;
          top: 10%;
          transform: translate(-50%, 0);
        }
        34% {
          opacity: 1;
        }

        36% {
          opacity: 0;
        }

        40% {
          left: 50%;
          top: 75vh;
          transform: translate(-50%,0);
          opacity: 0;
        }
        90% {
          display: none;
          opacity: 0;
        }
      }

      @keyframes C {
        25% {
          left: 45%;
          top: 60%;
          transform: translate(-50%, 0);
        }
        34% {
          opacity: 1;
        }

        36% {
          opacity: 0;
        }

        40% {
          left: 50%;
          top: 75vh;
          transform: translate(-50%,0);
          opacity: 0;
        }

        90% {
          display: none;
          opacity: 0;
        }
      }

      @keyframes D {
        25% {
          left: 55%;
          top: 60%;
          transform: translate(-50%, 0);
        }
        34% {
          opacity: 1;
        }

        36% {
          opacity: 0;
        }

        40% {
          left: 50%;
          top: 75vh;
          transform: translate(-50%,0);
          opacity: 0;
        }
        90% {
          display: none;
          opacity: 0;
        }
      }

      @keyframes E {
        25% {
          left: 45%;
          top: 10%;
          transform: translate(-50%, 0);
        }
        34% {
          opacity: 1;
        }

        36% {
          opacity: 0;
        }

        40% {
          left: 50%;
          top: 75vh;
          transform: translate(-50%,0);
          opacity: 0;
        }
        90% {
          display: none;
          opacity: 0;
        }
      }

      @keyframes F {
        25% {
          left: 55%;
          top: 10%;
          transform: translate(-50%, 0);
        }
        34% {
          opacity: 1;
        }

        36% {
          opacity: 0;
        }

        40% {
          left: 50%;
          top: 75vh;
          transform: translate(-50%,0);
          opacity: 0;
        }
        90% {
          display: none;
          opacity: 0;
        }
      }

      @keyframes G {
        25% {
          left: 35%;
          top: 60%;
          transform: translate(-50%, 0);
        }
        34% {
          opacity: 1;
        }

        36% {
          opacity: 0;
        }

        40% {
          left: 55%;
          top: 75vh;
          transform: translate(-50%,0);
          opacity: 0;
        }
        90% {
          display: none;
          opacity: 0;
        }
      }

      @keyframes H {
        25% {
          left: 65%;
          top: 60%;
          transform: translate(-50%, 0);
        }
        34% {
          opacity: 1;
        }

        36% {
          opacity: 0;
        }

        40% {
          left: 45%;
          top: 75vh;
          transform: translate(-50%,0);
          opacity: 0;
        }
        90% {
          display: none;
          opacity: 0;
        }
      }

      @keyframes I {
        25% {
          left: 45%;
          top: 5%;
          transform: translate(-50%, 0);
        }
        34% {
          opacity: 1;
        }

        36% {
          opacity: 0;
        }

        40% {
          left: 50%;
          top: 75vh;
          transform: translate(-50%,0);
          opacity: 0;
        }
        90% {
          display: none;
          opacity: 0;
        }
      }

      @keyframes J {
        25% {
          left: 55%;
          top: 5%;
          transform: translate(-50%, 0);
        }
        34% {
          opacity: 1;
        }

        36% {
          opacity: 0;
        }

        40% {
          left: 50%;
          top: 75vh;
          transform: translate(-50%,0);
          opacity: 0;
        }
        90% {
          display: none;
          opacity: 0;
        }
      }

      @media(max-width: 700px) {
        .icon-sm {
          width: 35px;
        }
  
        .icon-md {
          width: 40px;
        }
  
        .icon-bg {
          width: 45px;
        }
      }
  
      //Lines and Tube
      .tube {
        position: absolute;
        bottom: 0.5px;
        left: 50%;
        transform: translateX(-50%) translateY(100%);
        width: 200px;
        z-index: 3;
      }

      .line-left {
        position: absolute;
        bottom: -0.5px;
        left: 0;
        width: calc(50% - 99.5px);
        z-index: 2;
      }

      .line-right {
        position: absolute;
        bottom: -0.5px;
        right: 0;
        width: calc(50% - 99.5px);
        z-index: 2;
      }

      .mobile {
        display: none;
        width: calc(50% - 74.5px);
      }

      @media(max-width: 700px) {
        .line-left {
          display: none;
        }
        .line-left.mobile {
          display: block;
        }
        .line-right {
          display: none;
        }
        .line-right.mobile {
          display: block;
        }
        .tube {
          width: 150px;
        }
      }
    }

    .bottom-section {
      z-index: 3;
      height: 25vh;
      background-image: url("../images/City_002.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 150px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;

      .building {
        min-width: 140px;
        max-width: 140px;
        width: 10%;
      }

      img#escombro-1 {
        opacity: 0;
        width: 8px;
        position: absolute;
        left: calc(50% - 50px);
        transform: translateX(-50%) rotate(-160deg);
        bottom: 40px;
        animation: swingTopLeft 1s ease-out 5;
        animation-delay: 1.9s;
      }

      img#escombro-2 {
        opacity: 0;
        width: 8px;
        position: absolute;
        left: calc(50% - 50px);
        transform: translateX(-50%) rotate(160deg);
        bottom: 30px;
        animation: swingBottomLeft 1s ease-out 5;
        animation-delay: 1.9s;
      }

      img#escombro-3 {
        opacity: 0;
        width: 8px;
        position: absolute;
        right: calc(50% - 55px);
        transform: translateX(-50%) rotate(-20deg);
        bottom: 40px;
        animation: swingTopRight 1s ease-out 5;
        animation-delay: 1.9s;
      }

      img#escombro-4 {
        opacity: 0;
        width: 8px;
        position: absolute;
        right: calc(50% - 55px);
        transform: translateX(-50%) rotate(20deg);
        bottom: 30px;
        animation: swingBottomRight 1s ease-out 5;
        animation-delay: 1.9s;
      }

      @keyframes swingTopRight {
        0% {
          opacity: 1;
        }

        100% {
          right: calc(50% - 65px);
          bottom: 45px;
          opacity: 0;
        }
      }

      @keyframes swingBottomRight {
        0% {
          opacity: 1;
        }
        
        50% {
          opacity: 1;
        }

        100% {
          right: calc(50% - 65px);
          bottom: 25px;
          opacity: 0;
        }
      }

      @keyframes swingTopLeft {
        0% {
          opacity: 1;
        }

        100% {
          left: calc(50% - 65px);
          bottom: 50px;
          opacity: 0;
        }
      }

      @keyframes swingBottomLeft {
        0% {
          opacity: 1;
        }
        
        50% {
          opacity: 1;
        }

        100% {
          left: calc(50% - 65px);
          bottom: 25px;
          opacity: 0;
        }
      }

      #building-1,
      #building-2,
      #building-3,
      #building-4,
      #building {
        display: none;
      }

    }
  }
}

@media(max-width: 700px) {
  
}
